[2018-10-10 16:22] kantai commented on #1112
@RSky215 -- it looks like that ID `russ.id` is the 7th ID in your wallet, which means you'll need to add many new IDs until it finds that ID (this works like an HD wallet -- see this issue: https://github.com/blockstack/blockstack-browser/issues/1550)

[2018-10-10 22:20] krtb commented on #1713
Hi! Can you assign this issue to me if it's still available?

[2018-10-11 14:41] moxiegirl commented on #1713
I can't assign it to you as you are not on the org list.  That won't stop you from forking and doing a PR back with a fix tho. This is a public repo.  We'd appreciate the help @krtb !

[2018-10-11 19:54] krtb commented on #1713
sounds great! @moxiegirl, could I ask where this file i located? Was trying to look in app/public/index.html and none of the other docs looked correct for finding this. Also, should I attempt to get on the org list?

[2018-10-11 21:53] moxiegirl commented on #1713
@krtb I'm sorry. I dropped this on the wrong repo. I'll close this issue and reopen on the other. That should help you out @krtb

[2018-10-11 21:53] #1713 closed

[2018-10-11 21:57] moxiegirl commented on #1713
@krtb if you prefer to work on the browser, here is a list of the good first issues:

https://github.com/blockstack/blockstack-browser/labels/good%20first%20issue

[2018-10-12 22:09] krtb commented on #1713
@moxiegirl no preference at all! Blockstack is such a sweet idea that I would want to help out in any way possible!

[2018-10-15 15:37] kantai opened #1714 "Proofs in Web App trying to use CORS-proxy"
Proofs in the web version of the browser are trying to use the CORS proxy. I don't know what's up, but I'd guess the culprit is near here:

https://github.com/blockstack/blockstack-browser/blob/f02a31e2627c509300669512ae425871eb36b721/app/js/profiles/store/identity/actions.js#L29

If that `isWebAppBuild` is false, it won't make requests to `proofs.blockstack.org`:

![proofs-erros-web-hosted](https

[2018-10-15 15:47] aulneau commented on #1714
@kantai -> https://github.com/blockstack/blockstack-browser/pull/1703

[2018-10-15 15:49] kantai commented on #1714
Oops, sorry about that, I had thought that was fixed.

[2018-10-15 15:49] #1714 closed

[2018-10-16 22:04] moxiegirl opened #1715 "Cannot create a new blockstack ID through the Browser"
Users can _only_ create an id the blockstack namespace with the browser. We should support creating non-blockstack IDs primary ids.

[2018-10-17 02:54] yknl commented on #1715
This is not true, you can create a `.id` username after onboarding.

The reason we make everyone create a `.blockstack.id` username during onboarding is so that they have a functional username right after onboarding. Most apps require a username to be fully functional, there isn't much value for the user to end the onboarding process without a username.

Registering a `.id` username is also a some

[2018-10-17 14:04] moxiegirl commented on #1715
@yknl Had a long conversation with @aulneau @hstove and @kantai.  So, I understand the issue. Still, I think we should find a way to allow users to choose. The conversation was very interesting (I hope the guys agree). And I think we could find a way to solve this so that our onboarding allowed new users who are confused by our space and existing users who aren't (presumably the ones who aren't co

[2018-10-17 16:03] aulneau commented on #1715
We do have a way for people to register names, but I don't think it makes sense to allow users to buy a name when the sign up immediately. Maybe we can allow them to opt out of registering a name, and then after onboarding they can go through the process of sending BTC and then buying a name. I think the vast majority of users would prefer to make a `.blockstack.id` username vs buying one (which t

[2018-10-17 16:04] aulneau commented on #1715
I think this is a false premise.

The IDs are useful in that they allow most apps to work. Apps like stealthy and graphite are not fully functional if the user does not have a name associated with their ID.

[2018-10-17 16:06] aulneau commented on #1715
@moxiegirl I changed the title of this issue to: `Cannot create a new NON-blockstack ID when going through on-boarding` as it is possible to create a new non-blockstack.id name in the browser, just not during onboarding.

[2018-10-17 16:51] moxiegirl commented on #1715
I think some of the ideas proposed by @yknl can fix a lot of the onboarding issues including this one.

@aulneau I didn't want to imply that the ids aren't functioning as stated. Extend the thinking a bit, I go to gmail to get a name. I want `mary` but it tells me that `mary.gmail` is the closests available. That's their onboarding, I setting for `mary.gmail` I get in only to find out I can use `m

[2018-10-17 18:43] hstove commented on #1715
This is overlooking the fact that there is no possible way for you to get through onboarding "instantly" without making a subdomain. It's not as simple as your "preferred" ID (mary.id) not being available, its that you'll have to pay for it and wait.

So when you ask the user the question, "Would you rather get mary.blockstack.id and be able to log in instantly and for free, or would you rather wa

[2018-10-18 14:14] moxiegirl commented on #1715
@hstove I'm not saying this should be the default, I'm saying we should allow the option at the start. Right now, we've overcorrected and, if we are successful, the overcorrection leads to this other problem.

[2018-10-24 17:03] prabhaav opened #1717 "Users with zonefiles and non-standard profile paths (with no such profile written) cannot write to profile"
See: https://github.com/blockstack/blockstack-core/issues/875

The profile provided for Blockstack ID naval.id features a zonefile URL that cannot be loaded, blocking this user's access to GAIA storage. Go to https://core.blockstack.org/v1/names/naval.id and try to load the zonefile URL provided (https://gaia.blockstack.org/hub/19rJSaipwUdFwS5iD7yMvAvtAYGA36fTDS/0/profile.json). It returns a BlobN

[2018-10-24 17:23] kantai commented on #1717
So for a couple of those -- this issue is just the user never logged into the browser after initiating a transfer out of onename (`werner.id` and `fredwilson.id`).

A few of those seem to be working fine (`barrysilbert.id` and `fred.id`):

https://core.blockstack.org/v1/users/fred.id
https://core.blockstack.org/v1/users/barrysilbert.id

`naval.id` doesn't seem to be working correctly:

https://cor

[2018-10-24 17:29] kantai commented on #1717
I see -- so the login flow completed? That's helpful for running down the bug.

[2018-10-24 17:30] hstove commented on #1717
@prabhaav can you indicate whether Naval had already signed in to Stealthy in months past? Or was this the first time?

[2018-10-24 17:31] prabhaav commented on #1717
This was his first time using Stealthy.

[2018-10-24 17:56] kantai commented on #1717
Cool -- I just replicated this with `blankstein.id` by blowing away my profile object. Will provide more relevant details soon.

[2018-10-24 19:12] yknl commented on #1717
Thanks for submitting a PR for a fix so quickly @kantai

I think we might want to provide a real fix for this in blockstack.js. (i.e. Writing the default profile on restore when this specific situation is detected) The reason being the Blockstack browser might not be the only authentication provider in the future and other developers are likely to run into the same problem. These old faulty names

[2018-10-24 20:58] yknl opened #1719 "Magic recovery code for 24 word seed phrases appear as invalid for recovery"

[2018-10-27 02:44] plutext opened #1721 "start-containers: not a valid identifier"
Trying to run the installer on manjaro

$ sh Blockstack-for-Linux-v0.34.1.sh
Blockstack-for-Linux-v0.34.1.sh: line 71: `start-containers': not a valid identifier

It should suggest you make it executable and run it that way, since that works

[2018-10-27 02:56] plutext opened #1722 "iptables - Blockstack-for-Linux.sh start fails"
On manjaro:

[code]

[2018-10-29 15:22] kantai commented on #1722
Hi @plutext -- this seems like it's likely a problem with your local `docker` configuration.

[2018-10-30 10:00] markmhx commented on #1717
@kantai Has the merged fix for this been tested manually with Stealthy and confirmed to work?

[2018-10-30 14:34] moxiegirl commented on #1167
@yknl what do you think? I can test it if you are not sure.

[2018-10-30 15:59] moxiegirl commented on #1645
@markmhx @yknl Looks like this was done.  I can't find this in the code, though there is a new SupportButton.  Reopen If I am closing this in error.

[2018-10-30 15:59] #1645 closed

[2018-10-30 17:12] moxiegirl commented on #1060
@jiggaross Sorry you are having problems.  There is an underlying issue with the LinkedIn verification.  It was supposed to be removed.  Apologies for the confusion.

[2018-10-30 17:14] moxiegirl commented on #1060
Just an FYI @yknl I've tried both the "post" format and the "update" format, neither is working.

[2018-10-30 17:43] moxiegirl commented on #1709
@hoidsflute Thank you for the request.

[2018-10-30 17:45] moxiegirl commented on #1710
@prabhaav Thanks for the issue.  Stealthy appears in the **User Ready** section already. I'm going to close this, feel free to reopen if you feel this is an error.

[2018-10-30 17:45] #1710 closed

[2018-10-30 17:49] moxiegirl commented on #1711
@nickjam If you lose both your secret key and your origin password, your id becomes estranged. Meaning, you can't access it. Neither can anyone else.  If you haven't deleted the email Blockstack sent you when you created this ID, you may still be able to get back to your ID. Have you searched your inbox, spam, and trash folders?

Documentation for your reference.
https://docs.blockstack.org/browse

[2018-10-30 17:49] moxiegirl commented on #1711
I'm closing this as it is expected behavior. Please reopen if you feel it was closed in error.

[2018-10-30 17:49] #1711 closed

[2018-10-30 18:06] moxiegirl commented on #1721
@plutext Thank you for the issue.  We will add instructions for users that download the executables to make sure they add executable permissions before running it.

[2018-10-30 18:06] #1721 closed

[2018-10-30 18:09] moxiegirl commented on #1722
@plutext I'm going to close this issue. Please feel free to reopen it if you think it was closed in error.

[2018-10-30 18:09] #1722 closed

[2018-10-30 19:14] yknl commented on #1167
This issue needs further investigation. Seems to be a problem that affects both Windows and Linux. We'll move this up the priority list for the browser team.

[2018-11-15 20:36] yknl commented on #1629
Hey @petec029 are you still experiencing this issue? We've made several bug fixes that should have addressed this.

[2018-11-19 15:00] yknl opened #1724 "Uninstalling windows native app does not remove protocol handler"
This causes auth to open the protocol handler instead of redirecting to browser.blockstack.org.

[2018-11-20 19:53] jeffdomke opened #1725 "User enters email into username and no validation shows"
![Screen Shot 2018-11-20 at 7:53 PM](http://marker.screenshots.prod.s3.amazonaws.com/17887e137bb2473ca1ec873fb6a4d39c-1542743584776.png)

Edge
32
Intel(R) Celeron(R) CPU N3350 @ 1.10GHz
3324.7 MB
1013.91 MB
Windows 10 Home 10.0
1366 x 768

3936.28 MB

---
### More Info

**Source URL**: [file:///Users/jeffdomke/Desktop/Screen%20Shot%202018-11-20%20at%202.51.20%20PM.png](file:///Users/jeffdomke/Desk

[2018-11-20 20:17] jeffdomke opened #1726 "Save password modal blocks Stealthy button."
![Screen Shot 2018-11-20 at 8:17 PM](http://marker.screenshots.prod.s3.amazonaws.com/1549f7a302d04dfb86d5181801f935b2-1542745026923.png)

Think we can block this behavior? Or maybe detect when it triggers? Open to other ideas. When user sees this very high likelihood they will get frustrated by the seed steps.

This example is stealthy native app:
4.5.2566
SAMSUNG-SM-G930A
samsung
26801
android
8.

[2018-11-20 20:49] #1676 closed

[2018-11-20 20:49] #1664 closed

[2018-11-20 20:49] #1693 closed

[2018-11-20 20:50] #1688 closed

[2018-11-20 20:50] #1696 closed

[2018-11-20 20:50] #1687 closed

[2018-11-20 20:50] #1683 closed

[2018-11-20 20:50] #1695 closed

[2018-11-20 20:50] #1686 closed

[2018-11-20 20:50] #1684 closed

[2018-11-20 20:50] #1681 closed

[2018-11-20 20:50] #1682 closed

[2018-11-20 20:50] #1685 closed

[2018-11-20 20:50] #1655 closed

[2018-11-20 20:52] jeffdomke opened #1727 "Clicking deny problem"
When user is onboarding through a specific app, sometimes they click `deny` on the last step. Then they exist the onboarding and land in the browser. Most have zero context for what the Blockstack browser is. They get confused, lost, give up.

Some options:
• Confirmation modal upon clicking `Deny` that only shows when we have an `authRequest`
• We implement the updated design where `Deny` is like

[2018-11-20 20:52] #1653 closed

[2018-11-20 20:52] #1651 closed

[2018-11-20 20:52] #1678 closed

[2018-11-20 20:52] #1658 closed

[2018-11-20 20:52] #1661 closed

[2018-11-20 20:52] #1663 closed

[2018-11-20 20:52] #1652 closed

[2018-11-20 20:52] #1660 closed

[2018-11-20 20:52] #1654 closed

[2018-11-20 20:52] #1657 closed

[2018-11-20 20:52] #1662 closed

[2018-11-20 20:53] #1656 closed

[2018-11-20 20:53] #1659 closed

[2018-11-20 20:54] jeffdomke commented on #1726
Yeah, I get that. But we need some solution or option here. This is tanking UX for this particular users. Can we detect and then change how we display button?

[2018-11-20 20:58] aulneau commented on #1726
I don't think we'd be able to detect it. I think the way we should be framing the options is rather than trying to detect or change native browser functionality, we should just try to work on a change in design that isn't so heavily affected by this behavior.

there are possibly options related to changing the field so that it's not a 'password' type, that would prevent the save password thing fro

[2018-11-20 21:02] jeffdomke commented on #1726
We can swap the position of that statement and the button.

"Moving away from the password" = if your knee hurts, just chop off your leg. Problem solved 👌

[2018-11-20 21:21] jeffdomke opened #1728 "Encrypt email, username, password with seed for easier restores"
Filing ticket just to record this idea. Realize this is tricky from a security standpoint, want to test further and discuss with community.

[2018-11-26 15:59] moxiegirl opened #1730 "Next button with email does not move on in Microsoft Edge"
Unable to move through the entire onboarding process in IE.  When I got to entering the email, I could press Next but the dialog just

![image](https://user-images.githubusercontent.com/1347209/49023620-79519b80-f14c-11e8-9980-23339c32b655.png)

Version:

![image](https://user-images.githubusercontent.com/1347209/49025659-fb43c380-f150-11e8-92ce-7037abb3b3ea.png)

![image](https://user-images.gith

[2018-11-26 16:01] moxiegirl opened #1731 "Safari can't open address"
User testing Zero to Dapp with Safari saw this error:

![image](https://user-images.githubusercontent.com/1347209/49025844-570e4c80-f151-11e8-97c0-8f40ddd675d0.png)

User was in private browsing mode.

[2018-11-26 17:35] MichaelFedora opened #1732 "Add transaction broadcaster URL setting"
cc @jcnelson from [this forum post](https://forum.blockstack.org/t/proposal-collect-browser-api-endpoints-into-the-core-node/6508/4?u=michaelfedora).

There should be a setting added that allows the user to adjust the URL for the transaction broadcaster in regards to acquiring names. Should be fairly simple to implement unless it is tied within blockstack.js, in which case an issue would need to b

[2018-11-26 18:00] moxiegirl commented on #1726
Just a thought, I had a tester use our onboarding this weekend. And, despite being a Blockchain, follower he had problems with our onboarding.

Our "password" is not a password in the general sense, that is, for an account. It is a session password or a browser instance password.

- We should not call it a password.  **Session key**
* We should ask parts of their key phrase -- this reups the impor

[2018-11-28 14:30] kantai commented on #1732
Thanks for raising this issue @MichaelFedora --

This is something that could possibly be added as a configuration setting in the browser's settings page. The browser would just need to use that setting to set the `broadcastServiceUrl` in blockstack.js's `config.network` object.

[2018-11-28 15:48] jcnelson opened #1733 "Browser should generate a Gaia association token when signing in"
As we work towards adding support for private, user-owned Gaia hubs, we need to make sure that when the user signs into the application, the Browser generates a Gaia association token and passes it in on the `authResponse` JWT.  This is necessary for operating private hubs that only accept writes from the user.

Specifically, the call to `makeAuthResponse()` [here](https://github.com/blockstack/bl

[2018-11-28 16:10] kantai commented on #1717
This patch was released in v0.34.2 -- closing this issue for now. If this continues to be a problem, we can reopen.

[2018-11-28 16:10] #1717 closed

[2018-11-29 15:31] moxiegirl opened #1734 "Settings > Storage Providers needs to change with app specific hubs"
- Application specific Gaia hubs has implications for this dialog we should address
- Currently, this setting breaks the user settings @kantai

![image](https://user-images.githubusercontent.com/1347209/49232419-bf0aa000-f3a8-11e8-96d4-328f63dea904.png)

[2018-11-30 02:02] hstove opened #1735 "Add Gaia hub URL choice to onboarding flow"

[2018-12-05 16:37] larrysalibra opened #1736 "Replace browser server endpoint"
The browser server endpoint is using a domain of mine. We should change this to use a Blockstack PBC domain: https://github.com/blockstack/blockstack-browser/blob/f6bb52c3ab1e780dc82d04fb56ede8db35e8c8a5/app/js/account/store/settings/default.js#L48

[2018-12-05 21:34] laytond opened #1737 "Bug: Browser Wallet Balance Shows 0 BTC On Mobile"
Reposting this from https://forum.blockstack.org/t/browser-wallet-balance-shows-0-btc-on-mobile/6867 per Jeff's request.

<hr>

I recently restored my Blockstack ID from my recovery key on two different mobile devices. Everything seems :+1:except that my wallet balance is showing 0 BTC when it should have a small balance in there. Also of interest is that the balance that does appear on my MacBook

[2018-12-06 14:43] markmhx commented on #1733
@hstove I'm not sure this issue is strictly required by OKR 5.4, is it? I believe the OKR only calls for public hub support.

[2018-12-07 11:34] markmhx commented on #1735
- [ZenHub board](https://app.zenhub.com/workspaces/blockstack-engineering-582a2234b399ebbf18315399/boards?epics=47580020_1735&repos=26510718,22058375,47580020)

[2018-12-07 11:54] markmhx commented on #1735
@jehunter5811 Are you able to load the ZenHub board with the above link? I'm not sure if we've properly set up public access, but we definitely want everyone to see progress on this project / erpic as we're tracking it in ZenHub.

[2018-12-07 12:37] markmhx opened #1738 "Add enforced https prefix and validation handling to Gaia hub URL input"
We should show a non-editable "https://" prefix to the Gaia hub URL input and validate the content submitted, informing the user with a standard error that the URL provided doesn't represent a valid Gaia hub if that's the case (e.g. "URL does not represent valid Gaia hub")

Right now the user ends up in an interminable loading state if they provide a nonsense value:

<img width="1423" alt="screen

[2018-12-07 12:40] markmhx opened #1739 "Correct button and documentation link labels in Gaia URL modal"
The following two changes should be changed to the following two labels in the new Gaia URL model:

- "Continue" button -> "Connect storage provider"
- "Learn more Gaia hubs" documentation link -> "Learn more *about* Gaia hubs"

<img width="516" alt="screen shot 2018-12-07 at 13 04 55" src="https://user-images.githubusercontent.com/28991/49648306-96784b00-fa25-11e8-97c9-85a6c04abc70.png">

[2018-12-07 12:59] markmhx opened #1740 "Link to documentation in Gaia hub URL modals"
Link to https://docs.blockstack.org/browser/storage-provider.html in these three places:

<img width="501" alt="screen shot 2018-12-07 at 13 57 01" src="https://user-images.githubusercontent.com/28991/49649040-3931c900-fa28-11e8-8020-d1c19b99ed9e.png">
<img width="488" alt="screen shot 2018-12-07 at 13 57 07" src="https://user-images.githubusercontent.com/28991/49649041-3931c900-fa28-11e8-813a-76d

[2018-12-07 13:01] markmhx opened #1741 "Correct recommended Gaia hub modal header"
The header here should say "[App name] recommends..." without the "Hello," part:

![Screen Shot 2018-12-06 at 18.53.51.png](https://images.zenhubusercontent.com/5bd9c99be94b2d0d4ac03097/37998d50-298c-4206-a27e-3168ce8541ca)

[2018-12-07 13:05] markmhx opened #1742 "Ignore value if recommendedGaiaHubUrl parameter isn't valid https address"
It appears that any value can be passed with this parameter but we should restrict it to only valid HTTPs URLs because otherwise the user will encounter errors during the flow in attempting to apply the recommended Gaia hub URL if it's invalid.

[2018-12-07 13:09] markmhx opened #1743 "Add loading state to URL-setting buttons in recommended Gaia hub modal"
When either of these two top buttons in the recommended Gaia hub modal are used, a loading state should be triggered so the user knows activity is being processed and they can't re-submit meanwhile. This loading state should be same design-wise as in other modals during the onboarding flow.

<img width="498" alt="screen shot 2018-12-07 at 14 07 13" src="https://user-images.githubusercontent.com/28

[2018-12-07 14:11] jehunter5811 commented on #1735
@markmhx Yep, the link works for me. Appreciate you making it public!

[2018-12-09 23:08] hstove opened #1744 "Update Gaia API URL setting when restoring account"
Currently, if you restore a profile that was registered with a custom Gaia hub URL, then we don't properly update the Gaia hub URL in the browser settings. That means all new writes from/through that browser (including after authenticating into an app) will save files at the default hub URL. We need to update this setting when restoring an account that was registered with a custom URL.

[2018-12-10 14:22] jehunter5811 opened #1745 "Browser is overwriting profile.json with stale state"
Follow thread here:
https://blockstack.slack.com/archives/C074LC7RC/p1543265080430600

And here:
https://forum.blockstack.org/t/blockstack-profile-json-corruption/5965

This is a critical issue as it completely prevents multiplayer sharing if the profile is updated to a stale state and the app origin is no longer listed in the profile's apps array.

[2018-12-10 18:39] hstove opened #1746 "Handle differently formatted Gaia read URL prefixes"
This discussion came up in #1723.

[2018-12-10 18:50] #1740 closed

[2018-12-10 21:05] moxiegirl commented on #1737
@laytond hey, we will take a look and prioritize this. Thanks for posting this and then throwing it over here.

[2018-12-10 22:00] moxiegirl commented on #1739
Link will be: http://docs.blockstack.org/browser/storage-provider.html

Goes live with browser updates

[2018-12-10 22:13] moxiegirl commented on #1745
@jehunter5811 Thanks for adding this here. We want to address issues mostly here in GitHub so we get a good history and stats that we can follow through on.

[2018-12-11 05:09] laytond commented on #1737
@moxiegirl yeah no problem! Let me know if I can test anything else from my end.

[2018-12-11 09:52] markmhx commented on #1739
@moxiegirl Thanks for but this issue concerns the correction of labels whereas https://github.com/blockstack/blockstack-browser/issues/1740 concerns the addition of that `href`, which has been resolved.

[2018-12-11 11:52] kaitoqueiroz opened #1747 "Internacionalization of account menagement"
I'm developing a especific solution for my country (Brazil) and a possible barrier is that the IDs menagement is just in English.

Are there plans to think about internationalization at this moment?

[2018-12-12 16:47] nialljenIT365 opened #1748 "BTC not appearing in my Blockstack wallet"
Apologies if this has been answered elsewhere.

I have sent a small amount of BTC but not appearing in my Blockstack browser wallet

I can see it in the wallet:
http://live.blockcypher.com/btc/address/1L95sumPifcdsoYm3iyyTxDQ8ZGHF4JYUS

Balance remains zero on both Windows Desktop and Web browser.

Was hoping it would resolve itself but it has been a few days now.

Any assistance or advice appreci

[2018-12-12 17:15] selfagency commented on #1748
+1

Having the same exact issue.

Here's the transaction: http://bit.ly/2QQfLvQ
Here's my wallet: http://bit.ly/2SKtHVD

Four days after sending it's still empty.

[2018-12-12 19:43] hstove commented on #1741
Haha! I finally realized what the cause of this 'bug' is. The app's name is "Hello, Blockstack". So, it's all good :)

[2018-12-12 19:43] #1741 closed

[2018-12-13 11:36] markmhx opened #1749 "Adventures in re-authentication"
This issue details the broad friction I encounter whenever trying to re-authenticate my account. I'm curious if others encounter the same and what they think we can or should do about it. Perhaps this issue is already represented in part or full by other issues, I'm not sure. But I have to imagine the below UX problems are affecting a ton of our users and crippling their ability to trust in their

[2018-12-13 11:40] markmhx commented on #1749
Side note: Is this statement even true in the first modal?

<img width="386" alt="screen shot 2018-12-13 at 12 39 56" src="https://user-images.githubusercontent.com/28991/49936417-39244400-fed4-11e8-90af-2bcd7de375f2.png">

I see that the magic recovery code was emailed to me, but the secret recovery key? I don't see that in my archives and I remember it being something we intentionally don't emai

[2018-12-13 14:10] moxiegirl commented on #1749
The code is mailed and the email includes a link to recover the Secret Recovery key. @markmhx As of 11/30

![image](https://user-images.githubusercontent.com/1347209/49943828-e7b98c00-feb6-11e8-987b-949c7ba49db7.png)

[2018-12-13 14:12] markmhx commented on #1749
@moxiegirl Ah cool, I think I didn't see that pop up since I searched just "magic recovery code". My bad!

[2018-12-13 14:22] aulneau commented on #1749
It's actually not accurate that the 'secret recovery code' was sent to you. we never send that anywhere.

[2018-12-13 14:30] markmhx commented on #1749
I guess "a link to view your secret recovery key was sent to you" would be more accurate?

I just went back to search for it and found that the link for "Record secret recovery key" (since I seem to have a different variant than @moxiegirl) goes to a URL based on the `https://deploy-preview-1268--reporter-beaver-73821.netlify.com` domain.

That doesn't seem right. Any idea why that would have been

[2018-12-14 15:02] petec029 commented on #1629
Hi @yknl I have not run into this problem again

[2018-12-18 07:01] ferrucc-io commented on #1748
Having this exact problem
![screen shot 2018-12-18 at 07 59 03](https://user-images.githubusercontent.com/8315559/50137314-1c548b80-029b-11e9-9ff6-7317ebd4cec1.png)
![screen shot 2018-12-18 at 07 59 18](https://user-images.githubusercontent.com/8315559/50137319-2080a900-029b-11e9-8f3e-f29a0a848426.png)

[2018-12-19 13:39] zone117x commented on #1749
@markmhx I ran into all the same stuff initially, and had the same confusion recently when having to "create a password" and specify my email address. I'm not sure which recovery code or seed I've been using from 1password. I've store both but never tried to figure out the difference.

I think the UX here can definitely be improved.

[2018-12-19 18:54] markmhx commented on #1749
Education could help, though I'm still unclear why we can't take email and password out of this process entirely and simplify the whole thing around the seed phrase.

If we did that, we could call it something else (and do so consistently) for comprehension sake. We could even call it your "assigned password" and just make clear that unlike "regular" passwords, it's unchangeable and unrecoverable.

[2018-12-19 20:10] moxiegirl commented on #1748
@nialljenIT365 @selfagency @ferrucc-io thanks for watching this issue.  A change was merged and should go live soon. Please look for an announcement in our [forum](https://forum.blockstack.org/.)

[2018-12-20 13:50] markmhx opened #1752 "Fix SSL detection for recommendedGaiaHubURL parameter"
![Screen Shot 2018-12-20 at 14.49.00.png](https://images.zenhubusercontent.com/5bd9c99be94b2d0d4ac03097/449b1c80-0d42-4467-aaa2-ea1e530c6bc6)

[2018-12-20 20:47] aredshaw commented on #520
Are you using REST APIs? If so, I might be able to help.
What are the following?
* The base path
* Endpoints
* All possible methods and parameters
* An API Key (If required)

[2018-12-20 21:10] #1746 closed

[2018-12-20 21:37] hstove commented on #1748
Hey folks. We just pushed [version 0.35.0](https://github.com/blockstack/blockstack-browser/releases/tag/v0.35.0) with a fix for this.

Sorry for the issue! Thanks for bringing it up.

[2018-12-20 21:37] #1748 closed

[2018-12-20 21:37] #1744 closed

[2018-12-20 21:37] #1738 closed

[2018-12-20 21:37] #1752 closed

[2018-12-20 21:41] selfagency commented on #1748
To where did you push it, because I just downloaded a new version of the app and it's still 0.34.1 and my wallet is still empty.

[2018-12-20 21:42] hstove commented on #1748
Did you download it from here? - https://github.com/blockstack/blockstack-browser/releases/tag/v0.35.0

We're almost done updating blockstack.org with the correct links.

[2018-12-20 21:45] selfagency commented on #1748
Oh great, now instead of my money not appearing, my entire wallet doesn't appear.
![screenshot 2018-12-20 16 44 08](https://user-images.githubusercontent.com/2541728/50312517-98ef9180-0476-11e9-9921-c421d63a88b6.png)

[2018-12-20 21:45] hstove commented on #1748
Can you send any Javascript errors you see in the console?

[2018-12-20 21:46] selfagency commented on #1748
[code]

[2018-12-20 21:51] hstove commented on #1748
Dang, I'm really sorry to see this. I'm having trouble reproducing right now. Can you try reseting the browser, restoring with your secret key, and seeing if the error persists?

[2018-12-20 21:55] moxiegirl opened #1754 "Explain the security each key word phrase requires or does not to users"
Users are confused about which phrases and keys need to be keep private and which they can share.

[2018-12-20 21:56] moxiegirl commented on #1754
this shoudl be on docs

[2018-12-20 21:56] #1754 closed

[2018-12-21 02:35] hstove commented on #1748
hey @selfagency , we made version 0.35.1 with a hotfix for this issue. You can download it on our [releases page](https://github.com/blockstack/blockstack-browser/releases). Once again, I'm really sorry about this!

[2018-12-21 02:44] selfagency commented on #1748
@hstove Thanks, it's working now. I appreciate your responsiveness.

[2018-12-21 08:21] friedger commented on #1709
To bring more pieces into the game, I'd like to mention [webauthn](https://www.w3.org/TR/webauthn/). And [Trezor, Ledger wallets](https://forum.blockstack.org/t/ledger-wallet-support/6998) have the same intentions.

[2018-12-21 11:44] jehunter5811 opened #1757 "UI Issue on Browser Update Page"
See screenshot coming...

[2018-12-21 11:45] jehunter5811 commented on #1757
<img width="689" alt="screen shot 2018-12-21 at 5 43 51 am" src="https://user-images.githubusercontent.com/10519834/50341196-8eb7ac80-04e3-11e9-8388-e05c10db097e.png">

[2018-12-21 14:55] aulneau commented on #1757
Interesting, thanks for posting this. Can you please provide some info about your system, browser, native vs browser.blockstack.org, etc?

Thanks!

[2018-12-21 15:23] jehunter5811 commented on #1757
System: Mac OS High Sierra
Browser: Brave and Chrome (saw it in both)
Happens at browser.blockstack.org

[2018-12-21 15:23] jehunter5811 commented on #1757
A separate issue I'm opening is that after updating the browser, usernames are not populated. The user would have to stop the auth flow, go to the IDs page, refresh, then go back to the app and log in again to have their username come through after a browser update.

[2018-12-21 15:24] jehunter5811 opened #1758 "After hosted browser update, usernames don't come through (only IDs)"
After updating the browser, usernames are not populated. The user would have to stop the auth flow, go to the IDs page, refresh, then go back to the app and log in again to have their username come through after a browser update.

[2018-12-22 07:11] aviaryan opened #1759 "Ensure user is routed back to browser instead of system default during authentication"
I just got an email from a user of [yournote.app](https://yournote.app) saying

I tried it on my computer as well and since I use local Blockstack Browser, Sign in button opened the link in the default browser (which is Chrome) and then redirected it back to Chrome. So, trying to login in Firefox actually logged me in, in Chrome.

So, there are 2 issues here -
1. Blockstack sign in button doesn't

[2018-12-23 02:03] pascalgbouvier commented on #1060
i have the same issue. posted proof on Linkedin at https://www.linkedin.com/feed/update/urn:li:activity:6482353835326132224 and try as i might no verification occurs.

[2018-12-24 09:48] markmhx commented on #888
I'm reopening this issue since although we did start prepending `ID-` to identity addresses, there appears to be lingering concern in this comment thread that it wasn't a satisfactory solution.

I also have two particular concerns about how we're currently showing the address in the browser:

1. As a developer, using that prefix causes confusion as to the actual value of the identity address. In t

[2018-12-29 19:43] markmhx commented on #1757
This bug is especially problematic on mobile since the button flies mostly off the screen:

![f366d8ee-9c86-4ab9-8d21-807408c37f07](https://user-images.githubusercontent.com/28991/50541649-40bd3b80-0baa-11e9-9a79-597997fac419.png)

[2018-12-30 01:31] jhunter5811 commented on #1758
Note this is not just on the hosted browser. It's on the local browser as well. No user is going to know that they need to deny an auth request, refresh on the browser home page, double-check their ids, then go log in. This is already breaking experiences for users and people are reporting it across apps.

[2018-12-30 01:33] hstove commented on #1758
Yeah, we have some code to 'refresh identities', which picks up the username from your addresses. We only have it on a few places, like the 'view more IDs' page. We need to add this to onboarding, and a few other pages that people might run into this issue.

[2018-12-30 01:37] jhunter5811 commented on #1758
Cool. This one is especially bad because every user is required to update the browser when there is an update. There's no opt-out for the hosted browser.

[2018-12-30 11:36] dimoFeeld commented on #1669
I can confirm the issues as well

[2018-12-30 19:11] jeffdomke commented on #1749
We can remove it, but to claim it is all upside and no downside simply isn't true. It is pretty likely that change leads to more confusion and frustration.

And there are some basic complications introduced. We must encrypt locally, so we would need to do so with the key itself. That means whenever the user wants to spend bitcoin, stacks, upgrade, reset browser, or view the key (this feature would

[2018-12-30 19:27] jeffdomke opened #1760 "Updating browser screen – add option to reset browser and start over with recovery key"
![Screen Shot 2018-12-30 at 7:27 PM](http://marker.screenshots.prod.s3.amazonaws.com/bd61f88a9ac04bf883d74da1b33ad0aa-1546198035272.png)
---
### More Info

**Source URL**: [https://forum.blockstack.org/t/unable-to-log-in-after-browser-update/7079](https://forum.blockstack.org/t/unable-to-log-in-after-browser-update/7079)

[2018-12-30 19:32] jeffdomke commented on #1758
@hstove not following your comment. We've pushed maybe 5-10 updates in the past year and this is the first time I remember this reported. Think this is a new bug in the latest build. @jehunter5811 you agree?

[2018-12-30 19:55] markmhx opened #1761 "Fix back button to app on initial modal"
I'm finding that the "Back to [App Name]" button doesn't do anything:

<img width="619" alt="screen shot 2018-12-30 at 20 49 03" src="https://user-images.githubusercontent.com/28991/50550681-387e0280-0c75-11e9-9754-7f853fb8aab7.png">

[2018-12-30 19:57] markmhx opened #1762 "Fix recovery email delivery"
When signing up for a new ID with the hosted browser, I got two "failed to send" errors in a row:

<img width="1440" alt="screen shot 2018-12-30 at 20 50 47" src="https://user-images.githubusercontent.com/28991/50550693-5fd4cf80-0c75-11e9-8eb6-6d80f4b271cc.png">

I'm not sure if it has anything to do with using "+2" in my Gmail address to distinguish it from my other ID's registration (which was m

[2018-12-30 19:59] markmhx opened #1763 "Fix profile.json URL post-signup"
The URL to my profile appears to be missing a "/" slash after "hub" after signing up for a new ID with the hosted browser:

<img width="681" alt="screen shot 2018-12-30 at 20 53 00" src="https://user-images.githubusercontent.com/28991/50550733-d4a80980-0c75-11e9-9a59-891221372af7.png">

Fortunately core is reporting the right URL so this appears to be handled incorrectly by the browser itself in t

[2018-12-30 20:12] markmhx opened #1764 "Fix id.blockstack name registration"
When I try to register a name for my newly registered ID, I get the following hanging error (shown in console) even when trying different names:

<img width="1353" alt="screen shot 2018-12-30 at 21 10 40" src="https://user-images.githubusercontent.com/28991/50550853-9f9cb680-0c77-11e9-91f6-4eb0c6a7b051.png">

[2018-12-30 21:07] jehunter5811 commented on #1758
That’s correct. This specific issue has never happened before as far as I can remember.

[2018-12-31 03:38] nathanielcook commented on #1762
Happened to me as well. No plus signs in my email address.

[2018-12-31 04:04] yknl commented on #1762
This has been fixed, it was an issue with the email service.

[2018-12-31 04:04] #1762 closed

[2018-12-31 04:06] yknl commented on #1764
@markmhx you've hit the free name registration limit. The error message could be improved though.

[2018-12-31 13:46] vinay035 commented on #1763
We are also facing the same issue. After decoding the auth token generated the profile url is missing / infront of /hub.

[2019-01-02 05:30] vinay035 opened #1765 "email address is passed as null even if it is present in scope"
Even if email is asked in the scope while logging in using blockstack.js

Please attached images
<img width="482" alt="screenshot 2019-01-02 at 17 53 34" src="https://user-images.githubusercontent.com/1333378/50592009-48d1ef80-0eb8-11e9-9bfd-e0b02f8e490f.png">

![screenshot_2019-01-02_at_17_56_35](https://user-images.githubusercontent.com/1333378/50592111-b251fe00-0eb8-11e9-9cd6-e87c27be711c.png)

[2019-01-02 06:40] dantrevino opened #1766 "After hosted browser update, free id is set to default instead of original "paid" id"
After updating the hosted browser, I see IDs, as #1758, but my free id.blockstack name is set as default, instead of my original, paid 'dantrevino.id'.  To correct I need to "Add Another ID" and then do the 'more...back... more' dance.

'dantrevino.id' was the default id before the upgrade.

[2019-01-02 11:42] markmhx commented on #1766
@hstove can you take a look?

[2019-01-02 11:50] jehunter5811 opened #1767 "Registering a Sponsored Name Results in an Empty Profile and Inability to Log In"
It appears as if the flip to the new year caused a new bug with the name registrar/browser? This just started yesterday as far as I can tell, but registering a new sponsored name will result in an empty profile and an inability to log into apps.

This has been verified by myself and Nick from Blockusign.

[2019-01-02 13:40] hstove commented on #1767
Can you elaborate a bit more on the issue here? I just created a new subdomain (successfully), then logged into Graphite, and its working fine for me. My localStorage in graphite looks normal.

[2019-01-02 13:53] hstove commented on #1767
I just did some testing:

- broken on local browser w/ Brave
- works on local browser w/ Chrome
- works on hosted browser w/ Brave

[2019-01-02 15:30] jehunter5811 commented on #1767
@hstove I just tried registering a subdomain id in Firefox and got this error:

<img width="1407" alt="screen shot 2019-01-02 at 8 37 23 am" src="https://user-images.githubusercontent.com/10519834/50598625-e6a1cc00-0e70-11e9-9c65-39d637384934.png">

Before that, it seemed I was able to register a subdomain name, but when looking at the localStorage object, the profile looked like this:

[code]

It

[2019-01-02 16:57] SouthernWolf95 commented on #1758
I can confirm that this is also an issue that seems to affect multiple different things. My social links got deleted, as did my username, profile bio, and my profile picture which is now unable to be updated. Some apps, like Graphite, I have to switch around which browsers I use, while others just flat out fail entirely.

[2019-01-02 20:08] jfacoustic commented on #1759
Any updates on this?  I was able to reproduce it as well.

[2019-01-02 20:14] markmhx commented on #1759
I believe there are two scenarios here:

1. If the desktop Firefox user does *not* have the Blockstack Browser installed locally (and therefore needs to use the hosted browser at browser.blockstack.org), Firefox fails to redirect the user to the hosted browser and simply does nothing (aka "When I click on green sign in button nothing happens"). This issue is being tracked with https://github.com/b

[2019-01-02 20:35] markmhx commented on #1765
Thanks for reporting this @vinay035! We'll investigate and resolve ASAP.

[2019-01-02 20:37] markmhx commented on #1764
@yknl How does the current limit work? (i.e. maximum names, time factor if any)

[2019-01-02 20:40] markmhx commented on #1760
@aulneau Could you provide some design guidance here when you have a chance?

[2019-01-02 20:42] markmhx commented on #1758
@SouthernWolf95 Have you found that your social links, etc. get restored as expected upon reauthentication?

[2019-01-02 21:00] yknl commented on #1758
The latest release should fix this issue.
https://github.com/blockstack/blockstack-browser/releases/tag/v0.35.2

[2019-01-02 21:05] yknl commented on #1764
The subdomain registrar limits names registered by IP address. I don't have the number on hand. There's an existing issue to add an admin interface on the registrar to reset the limits here: https://github.com/blockstack/subdomain-registrar/issues/19

[2019-01-02 21:35] jehunter5811 commented on #1758
Verified this fix. Thanks @yknl

[2019-01-03 01:50] aulneau commented on #1760
Yep I will tomorrow!

[2019-01-03 11:21] #1758 closed

[2019-01-03 14:25] sposth opened #1770 "Fix name registrations for .id domain"
When I try to register a custom user name on the .id domain, I get the following error message:
“Error submitting name registration”.

Same with latest versions of Chrome and Safari on a localhost “http://localhost:8888”.

I have enough balance in my wallet and try for a couple of days to claim a custom user name that is still available.

I use the latest release of the blockstack browser: V0.35.2

[2019-01-03 14:26] markmhendrickson opened #1771 "Fix name registrations for .id domain"
Two users appear to have reported on the forum the same difficulty with registering names for the .id domain:

- [Name registration for *.id always ends in “Error submitting name registration”](https://forum.blockstack.org/t/name-registration-for-id-always-ends-in-error-submitting-name-registration/7088)
- [“Error submitting name registration”](https://forum.blockstack.org/t/error-submitting-name-

[2019-01-03 14:27] #1771 closed, assigned to nobody

[2019-01-03 14:30] markmhx commented on #1770
For reference, two users appear to have reported on the forum the same difficulty with registering names for the .id domain:

- [Name registration for *.id always ends in “Error submitting name registration”](https://forum.blockstack.org/t/name-registration-for-id-always-ends-in-error-submitting-name-registration/7088)
- [“Error submitting name registration”](https://forum.blockstack.org/t/error-s

[2019-01-03 14:42] markmhx commented on #1757
This appears fixed for me with the latest browser release:

<img width="671" alt="screen shot 2019-01-03 at 15 41 49" src="https://user-images.githubusercontent.com/28991/50643359-24384f00-0f6e-11e9-9bf3-74dd0e2b432b.png">
<img width="413" alt="screen shot 2019-01-03 at 15 41 55" src="https://user-images.githubusercontent.com/28991/50643360-24d0e580-0f6e-11e9-9e05-7035a15b860b.png">

[2019-01-03 14:42] #1757 closed

[2019-01-03 14:42] sposth commented on #1770
# Localhost
Blockstack default installation process. Once I open it, the software runs on http://localhost:8888.

# My Steps:
http://localhost:8888/profiles

http://localhost:8888/profiles/i/add-username/0/search

a) "Register xyz.id for 0.0005 Bitcoins"
and
a) "Get xyz.blockstack.id for free"

http://localhost:8888/profiles/i/add-username/0/select/XYZ.id
"Error submitting name registration"

[2019-01-03 14:47] moxiegirl commented on #520
@aredshaw good questions. Our browser has undergone a lot of development since this issue was set.  @larrysalibra are these browser APIs specifically or is this a reference to Core? Are we exposing the browser APIs for the public?

[2019-01-03 15:37] aulneau commented on #1571
@markmhx Yeah I think this is a good idea. I've wanted to spend some time on this kinda thing for a while, I think it's just been unclear as to where this lies with regard to priority. Additionally I think we should talk generally about how we'd want it to work, eg if we want it to link to the app.co profile vs the direct app link. I am also not sure if the app.co response contains the link to the

[2019-01-03 15:39] markmhx commented on #1571
Yea I'm not sure what App.co provides either, though by default all apps should at least have profiles on App.co. So I'm kind of presuming that linking to App.co profiles may be the best first way to go to keep things simple?

It would be great to link more directly to the destination of choice for a user (e.g. mobile download, web app access) but I think that requires something like https://githu

[2019-01-03 15:54] aulneau commented on #1571
Yeah, my only initial hesitation with linking to the app.co profile is that it might be confusing. As a user in an app store, I'd expect to stay within the app store or go directly to the app, not go to this new place I might not know about.

[2019-01-03 15:58] markmhx commented on #1571
Yea as a user, I'll definitely be a bit peeved if I get sent to yet another page for viewing the app instead of the app itself. I guess I view it as a short-term solution to unlock the main change we want to make to this page, even though we want to provide direct link(s) per app later.

[2019-01-03 19:17] GInxh commented on #1571
I don't think we should pull the apps at all.

1. night theme

2. add all apps in new categories so they are presented by category not earnings or lifetime.

1. productivity 2. storage 3. social 4. wallets 5. games! etc

3. Have a place to browse apps, and a place to pin apps I use as my own personal blockstack "home screen" So maybe an "apps" tab as shown by Mark's mockup, but also a "Home" tab w

[2019-01-04 09:05] markmhx opened #1772 "Ensure update form works for Firefox users"
We've received [a report on Twitter](https://twitter.com/seraph_zaho/status/1080943312339652608) that the "We have updated the browser" form wasn't working in Firefox with the user having to switch to Chrome to submit successfully.

<img width="686" alt="screen shot 2019-01-04 at 10 05 31" src="https://user-images.githubusercontent.com/28991/50680527-51394000-1008-11e9-9cc1-5fece58e9381.png">

[2019-01-04 09:47] markmhx commented on #1571
I'd like to keep this particular issue relatively simple, and while I think some of these ideas are promising (e.g. it'd be handy to see the apps you've already used in one place), I'd like to break them off into separate issues.

I would also encourage us to think of the browser as providing only the functionality that can't be supported elsewhere (as linked from the browser perhaps). App.co and

[2019-01-04 11:27] markmhx opened #1773 "Fix hanging upon authentication when publish_data scope used"
As [reported in Slack](https://blockstack.slack.com/archives/C07TM0PSM/p1546475104068900), one of our developers is encountering a hanging behavior upon using the "publish_data" scope for his app.

<img width="1178" alt="screen shot 2019-01-04 at 12 26 16" src="https://user-images.githubusercontent.com/28991/50686034-f4e01b80-101b-11e9-9e28-0d210ad66a50.png">

![image](https://user-images.githubus

[2019-01-04 14:54] markmhx commented on #1767
Here's what I'm seeing in local storage for the profile property upon redirect back to the app after registering a new subdomain name:

<img width="1708" alt="screen shot 2019-01-04 at 15 52 51" src="https://user-images.githubusercontent.com/28991/50694003-fcfa8400-1038-11e9-8ffe-54ef57808500.png">

[2019-01-07 11:58] markmhx commented on #1759
Thanks for the report @alextibbles. I'm assigning this issue over to @zone117x since he's actively working on browser support at the moment.

@zone117x You're already working on the first scenario I listed above over at https://github.com/blockstack/blockstack.js/issues/558, so I'm changing this issue's title to reflect the second scenario.

Do you think there's anything we can do with this second

[2019-01-07 12:01] markmhx commented on #1759
@alextibbles To be clear about your report, do you mean that when you click the button to authenticate, you see an "Open xdg-open?" dialog but upon assenting, nothing happens i.e. the protocol isn't handled by Firefox at all?

[2019-01-07 14:34] zone117x commented on #1759
In order for this to be possible the following criteria must be met:
* All operating systems give the launched protocol handler (Blockstack Browser app) the identity (like the full executable path) of the initiating application (examples: `/Applications/Firefox.app`, `C:\Program Files\Google\chrome.exe`, etc..)
* All browsers provide a command line option to open a new tab (example: `C:\Program Fi

[2019-01-07 17:48] hstove opened #1775 "Ensure Blockstack apps work properly across browsers and systems"
This issue will represent a Zenhub epic to track all current major Browser issues that we want to fix in the next release.

[2019-01-07 18:49] brycedev commented on #1773
This issue can be closed. I've remedied my issue by utilizing redirectToSignInWithAuthRequest() instead of redirectToSignIn() . Thank you!

[2019-01-07 20:00] zone117x commented on #1772
Just tested on MacOS with latest version of Firefox 64.0 and everything seems to work.

1. Installed old version of Blockstack Browser v0.35.0.
2. Recovered by Blockstack account in a new empty Firefox session.
3. Logged into an app.
4. Used Blockstack's update prompt to upgrade to current version v0.35.2
5. Firefox opened and prompted "We have updated the browser, Please enter your password to mi

[2019-01-07 20:14] zone117x commented on #1773
Thanks for the update @brycedev
Are you by chance using an editor/IDE that provides code-completion / JSDoc hints?

[2019-01-07 20:15] hstove commented on #1773
I'm not sure that this is actually fixed. I think this is a persistent issue with multi-party apps.

[2019-01-08 12:19] markmhx commented on #1772
After discussing these internally, we decided to try reproducing this bug ourselves in Firefox by downloading an older local browser installation, authenticating, then downloading the newest installation.

It would be best to test with a Windows machine as well should we not manage recreating with a Mac.

[2019-01-08 12:52] markmhx commented on #1775
@hstove I've updated this epic's title to reflect the quarter's [OKR 7.2](https://paper.dropbox.com/doc/Q1-OKR-draft-discussion-XmLsCJiYuTB4P9qkhxg7Y) "Blockstack app works properly on Chrome, Safari, Firefox, Edge, Brave on macOS, Windows, Android and iOS" since beyond squashing urgent bugs, that's the high-level goal we're targeting with this work.

I think that change also better incorporates @

[2019-01-08 12:56] markmhx commented on #1669
@zone117x is currently working on resolving this protocol handling issue along with others at https://github.com/blockstack/blockstack.js/pull/591

Thanks @dantrevino, @aulneau and @dimoFeeld for your reports. 💪🏻

[2019-01-08 12:58] markmhx commented on #1745
We discussed this issue internally yesterday and will be investigating soon.

[2019-01-08 13:00] markmhx commented on #1770
After discussing this internally yesterday, we're going to try recreating this bug and see if it may have been due to a temporary uptime issue with the broadcast service.

If we can't recreate, we may need to ask those users who have experienced the bug to recreate it so we can check the broadcast service's log for errors.

[2019-01-08 14:44] markmhx opened #1777 "Improve UX for multiple IDs"
This issue tackles some general clarification for users with multiple IDs, specifically:

1. Removing the concept of a "default" ID from the UI since it has no significant purpose and risks confusing users across sessions (per https://github.com/blockstack/blockstack-browser/issues/1766)
2. Clarifying how IDs created with separate seeds must be managed differently than IDs created with the same se

[2019-01-08 14:53] markmhx commented on #1773
I'd agree. It's great that @brycedev found a workaround but users of `redirectToSignIn` will presumably still encounter this bug, so I'll re-open.

[2019-01-08 15:21] jeffdomke commented on #1775
Here is the summary from the analysis I did from qualitative data about 40 days ago:

Stuff that caused onboarding problems:

- Blockstack.js not updated = 47.37%
- User clicks "deny" when app asks for read/write access (gets dumped in browser and is confused) = 10.53%
- Save Password modal pops up in Android on final step and blocks button to continue to app = 3.51%
- User tries to record seed an

[2019-01-08 15:41] jeffdomke commented on #1775
The apps tested are all apps in the App Mining Alpha. It only tests initial onboarding, no restoration or existing users.

blockstack.js: This is just developers using an older version in their app. So bugs that were previously solved show up, or you get a weird interaction with an updated browser version. Ideally we would identify these as breaking changes, but we don't always account for every w

[2019-01-08 15:49] MedBTG commented on #1745
Just an fyi.  I updated my ublockstack plugin and problem was then resolved

[2019-01-08 16:37] zone117x commented on #1772
I performed the same test on Windows. Everything worked.

[2019-01-08 17:55] hstove commented on #1276
Things to test:

- `signProfileForUpload`
- JSON schema of profile after authentication
- profile structure after multi-player login

[2019-01-08 18:08] moxiegirl commented on #1733
From GAIA bug review: This is important for when people are installing their own hubs.

[2019-01-08 18:13] markmhx commented on #1719
@yknl can you recreate this bug now that a few months have passed? Not sure if it's still a bug.

[2019-01-08 18:21] #1701 closed

[2019-01-08 18:40] markmhx opened #1779 "Social proofs"

[2019-01-08 18:43] #1599 closed

[2019-01-08 18:44] #1692 closed

[2019-01-08 18:58] #1524 closed

[2019-01-08 18:59] #1506 closed

[2019-01-08 18:59] markmhx commented on #1488
@jcnelson do you know if this is still an outstanding bug?

[2019-01-08 19:00] #1475 closed

[2019-01-08 20:55] sposth commented on #1770
Tested again with latest version. Issue still there (just tested 21:54 CET). Let me know if I can be of help.

[2019-01-08 21:02] seraph-zaho commented on #1772
Hi,
Some comments:
- Tried to erase Firefox cache, didn't work.
- I used a 3rd app to erase/clean cache for all the system (macOs MOjave 10.14.3 Beta (18D38a)) and now it's working again.

[2019-01-09 13:27] markmhendrickson opened #1780 "Resolve email scope support"
We're aware that we indicate support for an `email` scope in the documentation, but this support doesn't actually work in the platform by providing developers with user email values.

This epic entails deciding what to do about email scope support. We can either choose to fulfill the functionality described by the documentation currently, expand that functionality during a proper implementation, o

[2019-01-09 13:30] markmhx commented on #1765
After discussing internally, it's become clearer to the team that we don't currently provide email scope support even though it's mentioned in the documentation. So this isn't so much a bug as a failure to fulfill expectations set by the docs.

I've created an epic issue here for planning out how to resolve this discrepancy: https://github.com/blockstack/blockstack-browser/issues/1780

[2019-01-09 13:32] markmhx commented on #1556
I've created an epic issue here to investigate the proper solution for this further: https://github.com/blockstack/blockstack-browser/issues/1780

As @wbobeirne mentions, removing it from the docs may be the most immediate action, unless we decide to implement it fully instead.

[2019-01-09 13:36] markmhx opened #1781 "Create seed-only authentication UX"
This epic represents work for exploring and possibly implementing a seed-only authentication UX, either in addition or instead of the current one based on emails, passwords, magic recovery codes, and secret recovery keys.

[2019-01-09 13:39] markmhx commented on #1560
I've created the epic issue https://github.com/blockstack/blockstack-browser/issues/1781 for exploring the possibility of seed-only authentication (sans email, password, etc.) that should address this concern.

[2019-01-09 13:53] #1629 closed

[2019-01-09 14:51] jehunter5811 commented on #1767
This appears to be working as expected now! Just tested with both a name registered through the default hub and one registered on a custom hub. Unless you all need to look into anything else, I think this can be closed.

[2019-01-09 14:56] ferreste commented on #1766
I've had this problem for a while - preceding this release. My ID defaults to a placeholder ID that (stefanf28.id) I bought a while ago, but not my originally purchased ID (stefanferreira.id). There is no way to change this or select the preferred id even though explorer shows I own both of them (https://explorer.blockstack.org/address/1JUCnD6TTyVwmBPiYRXdcoBRUenYQoQ9hQ)

[2019-01-09 15:10] markmhx commented on #1772
@seraph-zaho That's great to hear! We'll close this out then, at least until we hear it reported by others. Hopefully it had an uncommon root cause.

[2019-01-09 15:10] #1772 closed

[2019-01-09 15:11] markmhx commented on #1767
@jehunter5811 That's great! Please let us know if it arises again.

[2019-01-09 16:03] zone117x opened #1782 "Implement e2e test for native app updating path"
Test should be something like

1. Install second to newest version of native app.
2. Recover/login (web browser / selenium test)
3. Test authenticating through a web app using blockstack.js, using the native protocol handler.
4. Update the native app and perform step 2 and 3.

Need to do this for each all browsers and operating systems

[2019-01-09 17:30] zone117x commented on #1773
@brycedev Was this a bug in the `redirectToSignIn` method, or were you needing to use a feature that requires using `redirectToSignInWithAuthRequest`?

[2019-01-09 18:03] brycedev commented on #1773
Agreed @markmhx . @zone117x I believe there may be a bug in `redirectToSignIn()`. I noticed the main difference between that and `redirectToSignInWithAuthRequest()` was the need to include a private key in the auth request that I created with `makeAuthRequest()`. Does `redirectToSignIn(redirectURI: String, manifestURI: String, scopes: Array): void` send a private key under the hood, and is that ke

[2019-01-09 21:09] zone117x commented on #1773
@brycedev This is the `redirectToSignIn()` method (from here https://github.com/blockstack/blockstack.js/blob/6f9c71a0692059d60a6bf4c1d03e0d2dc1efbc9e/src/auth/authApp.js#L128)
[code]

Can you see how your usage of `redirectToSignInWithAuthRequest()` differs?

If there is a bug then I think this issue should be moved to the blockstack.js repo.

[2019-01-10 01:05] Masonavic commented on #1269
I am experiencing this same issue on Chrome OS. I can use the browser fine https://browser.blockstack.org/ but when I click the "Sign in with Blockstack" button on any app I get the dialog box at the beginning of this thread. Chrome OS ver. 71.0.3578.94

[2019-01-10 08:43] friedger opened #1783 "Icon in app manifest are not resolved correctly"
The specification for app manifests define that `icon.src` can be relative urls to the base url.
However, the browser assume they are absolute urls and then might show the wrong icon or a broken icon like this:

![bildschirmfoto von 2019-01-10 09-42-57](https://user-images.githubusercontent.com/1449049/50956518-2a718280-14bc-11e9-829c-f906a604184f.png)

(in this case using localhost:8888 (the brow

[2019-01-10 13:32] markmhx commented on #1773
I think our suspicion after discussing this internally earlier in the week was that setting `publish_data` with the `redirectToSignIn` method may result in the profile object being written badly (though that's just a suspicion at this point). As such, I don't _think_ this is related to private keys.

@hstove is planning to test for recreation and see what's indeed going on here though.

[2019-01-10 13:35] markmhx commented on #1761
We discussed this internally and decided to simply remove this back button entirely, both from this modal and the one shown later in the flow upon optionally viewing your seed.

[2019-01-10 13:37] markmhx commented on #1765
@vinay035 We discussed this internally and realized that we don't actually support this functionality, though it's documented.

This is obviously confusing, and we ought to either add the functionality or remove the documentation for it. We've created a separate issue for exploring the right solution here: https://github.com/blockstack/blockstack-browser/issues/1780

Please let us know your though

[2019-01-10 13:37] #1765 closed

[2019-01-10 16:33] shreyasthiagaraj commented on #1781
@markmhx Also a big fan of this, the fewer concepts the better. Would love to know more if you have ideas for this.

[2019-01-10 17:50] hstove commented on #1737
We fixed some issues here in our recent browser versions. I'm going to close this - let me know if it's still an issue. Thanks!

[2019-01-10 17:50] #1737 closed

[2019-01-11 03:17] hstove commented on #1773
I've done some testing both of public apps and newly created apps, with the `publish_data` scope, using `redirectToSignIn`. I have not been able to reproduce any bad behavior here. I'm going to close this out, but if anyone can find any reproducible steps, please post them here and we'll dig in!

[2019-01-11 03:17] #1773 closed

[2019-01-11 12:49] yknl commented on #1719
yes this is still a bug

[2019-01-11 13:03] markmhx opened #1785 "Determine and resolve highest friction in onboarding conversion"
As represented by OKR 7.1 for Q1 2018, we want to move the onboarding success rate for the top 25% of App Mining apps from 73% to 95%.

This epic entails diagnosing the highest friction point during onboarding for that set of apps and resolving it. This will likely involve a baseline test to establish with statistic significance that the current rate is indeed 73%, as well as experimental tests in

[2019-01-11 13:18] markmhx opened #1786 "Integrate Segment"
This issue entails the integration of Segment into the browser for easier configuration of tools for measuring conversion rates through onboarding and re-authentication.

[2019-01-11 13:20] markmhx opened #1787 "Enable hub migration per Blockstack ID"
This epic entails empowering users to migrate their data from one Gaia hub to another from within the Browser UI.

[2019-01-11 13:33] markmhendrickson opened #1788 "Enable direct storage provider config with Dropbox"
This epic entails the exploration of a direct way for users to authorize with their Dropbox accounts a Gaia hub that supports many-to-many associations between Blockstack IDs and storage providers.

The goal here is to empower users who want to store their app data in consumer providers like Dropbox without having to host their own hubs. In this scenario, hubs would serve as trusted middleware for

[2019-01-11 18:06] hstove commented on #1767
I think I ran into Nick's issue last night as well, inadvertently. It appears that when you first sign up and are auth'ing into a multi-player app, we don't update the profile to include the apps object. It does work successfully the second time you auth.

[2019-01-11 19:58] thaonguyenle opened #1789 "trying to use clear-auth url, button does nothing"
on a mac, on chrome
went to this URL: https://browser.blockstack.org/clear-auth
Pressed the red: push this button to confirm, it does nothing.

<img width="1031" alt="screen shot 2019-01-11 at 2 57 19 pm" src="https://user-images.githubusercontent.com/39015059/51056624-4a36a280-15b1-11e9-9752-2ea5a77eabc4.png">

[2019-01-11 21:03] GInxh commented on #1783
Thank you for reporting this. We will get back to you soon.

[2019-01-11 21:50] hstove commented on #1783
I'm going to move this to the icebox. Not because it isn't valid, but unfortunately I don't think we'd make this a priority for the time being. This could be a good community contribution.

[2019-01-12 16:36] jcnelson commented on #1488
Yes, this is fixed.

[2019-01-12 16:36] #1488 closed

[2019-01-14 15:36] zone117x commented on #1698
So far only problem I'm seeing in Edge is a bug when trying to get past the "enter email" screen.
I'm currently testing Edge support for the protocol handler detection so going to assign to myself.
This issue also fits in an important KR for this quarter.

[2019-01-14 16:08] markmhx commented on #1689
Recently another user on Twitter reported problems with using Opera to auth: https://twitter.com/Accretence/status/1081927878625951744

[2019-01-14 18:21] prabhaav opened #1790 "Blockstack Mobile Browser Camera Bug"
When recovering an existing ID, if the user chooses to use the QR code flow, the following error comes up:
<img width="768" alt="blockstackiosbug" src="https://user-images.githubusercontent.com/11723563/51132069-26a86d80-17e6-11e9-9022-415af1569155.png">

[2019-01-14 18:24] markmhx commented on #1790
I believe we built this QR code feature only to decide to no longer support it. So we may be able to simply remove it. @jeffdomke Is that indeed the case?

I'm adding this to our current epic for ensuring that Blockstack works across systems and browsers, so we'll get to this ASAP.

[2019-01-14 18:32] markmhx commented on #1790
@prabhaav We certainly want to unblock you here ASAP. @hstove Is there a quick fix we can get in place for Stealthy (perhaps by detecting user agents for web views like this?) that can resolve their app store need even if we need more time deciding on whether to keep QR codes in general?

[2019-01-14 18:59] markmhx commented on #1790
Also @shreyasthiagaraj any ideas from our end on how we or they might resolve this with iOS code as a hotfix at least?

[2019-01-14 19:05] prabhaav commented on #1790
This isn't in our iOS code, this is the Blockstack Auth that comes up before the user is even able to use the app.

[2019-01-14 19:07] markmhx commented on #1790
@prabhaav Yea understood, just pinging him in case he has a creative solution given the web view context. But I imagine this will be something we resolve in the browser code.

[2019-01-14 19:21] hstove commented on #1790
When I go to reproduce this, it asks me for permission to use the camera, and I click 'Accept'. Then it works as normal. If you click 'Deny', it shows this error message. Is that not your behavior?

[2019-01-14 19:51] prabhaav commented on #1790
That question never comes up for me on mobile Safari

[2019-01-14 20:42] hstove commented on #1790
You may have denied it previously. Go to Settings -> Safari -> Allow Camera & Microphone to see if it's denied

[2019-01-14 20:58] prabhaav commented on #1790
This is a bug report filed by Apple app review team

[2019-01-14 21:00] hstove commented on #1790
Yeah, I get that. So, it sounds like the only thing we could improve here is the error message? Unless there really is a bug here, but I wasn't able to reproduce it.

[2019-01-14 21:02] prabhaav commented on #1790
![img_5b019bd55c2c-1](https://user-images.githubusercontent.com/11723563/51140908-9fb2bf80-17fc-11e9-95f0-f51c2843e35b.jpeg)

I have those settings enabled and I still see the same error

[2019-01-14 21:14] moxiegirl commented on #1775
I added this to Milestone 1 since work is being done.  Maybe only a portion will be done. But good to know that it is part of the work going on within the next two weeks.

[2019-01-14 21:57] moxiegirl opened #1791 "Create a new or update an existing CONTRIBUTING.MD"
- add the maintainer
- add the release process

[2019-01-14 22:56] zone117x opened #1792 "Repair browserstack tests"
In reference to existing tests https://github.com/blockstack/blockstack-browser/issues/1621

[2019-01-14 23:03] shreyasthiagaraj commented on #1790
Yea, once the browser is open I don’t think we  have any control from iOS
code. Sounds like it would be a web fix...

On Mon, Jan 14, 2019 at 7:21 PM Hank Stoever <notifications@github.com>
wrote:

[2019-01-15 00:31] prabhaav commented on #1790
<img width="787" alt="image" src="https://user-images.githubusercontent.com/11723563/51150080-aef43600-1819-11e9-9c8f-a7c0b31cc037.png">

That was the issue they identified with the `No video input devices found`

[2019-01-15 00:36] jeffdomke commented on #1790
Seems like we should hide the button and entire feature in Safari. @hstove assigning to you.

[2019-01-15 01:14] hstove commented on #1790
@prabhaav has this ever worked in stealthy? I’m wondering if you have to update your plist file to support the permission dialogue

[2019-01-15 01:45] prabhaav commented on #1790
@hstove never tried it. This is outside of Stealthy in the Blockstack browser.

[2019-01-15 14:34] shreyasthiagaraj commented on #1790
Ah, right. We pass in `client: ios_secure` to indicate the special browser
window. I think for the latest version of iOS we may be able to avoid using
`SFAuthenticationSession`, so perhaps I could do something on SDK side to
avoid this. But for certain versions of iOS (I think iOS 11?) this cannot
be avoided. It'll need to be fixed on the browser side then to hide the
button.

On Tue, Jan 15, 2019

[2019-01-15 18:19] jeffdomke commented on #1760
Think we should prioritize this. The more stuff that breaks the more updates we push the more chances there are for this to frustrate users.

[2019-01-15 18:25] stackatron opened #1797 "Inspect blockstack.js version in browser for referring app"
It is currently challenging to determine which apps have the latest blockstack.js. These bugs tend to cause onboarding errors. Ideas:

• Blockstack.js change where we can easily expose/broadcast the version number in the browser, even if the app developer compiles in some funky way.
• Have browser pick up that version number and display it someplace in the browser/auth flow. Assume it would be som

[2019-01-15 18:28] jeffdomke opened #1798 "Brand URL for local installation"
Noticed that the casa node has a nice local URL: `Casa-node.local`

Would be nice to have our own version of this:

Current: `http://localhost:8888/sign-up`

Proposed: `http://blockstack.local/sign-up`

What are the restrictions on what we can do?

[2019-01-15 18:55] shreyasthiagaraj opened #1799 "Improve UX of authentication clearance page"
https://browser.blockstack.org/clear-auth

Clicking "Press again to confirm" at the Sign Out screen does nothing on web. On iOS I get this error: "Safari cannot open the page because that address is invalid."

[2019-01-15 22:48] markmhx commented on #1799
I can confirm on my end, too, that it's not working. Has this broken recently? It seems it was working just a few days ago.

[2019-01-16 17:27] hstove opened #1800 "Autofocus issue on recovery key input"
Reported by @shreyasthiagaraj :

The first time you go to "Sign in with an existing ID", the page to enter your recovery key loads and the keyboard is not up. But subsequent visits to this page after you go "back" result in the keyboard popping up with the recovery key textbox having focus. This isn't ideal because the text explaining what the recovery key and magic recovery code are is covered by

[2019-01-16 18:03] #1790 closed

[2019-01-17 16:27] thaonguyenle opened #1805 "Fix social verification for GitHub account"
I am on: http://localhost:8888/profiles
I click on: Prove your Github account
I followed instructions to create a public gist, here: https://gist.github.com/thaonguyenle/b75e39326b0b7d2a8fa825fea32e79d4

I click verify. It takes me back to http://localhost:8888/profiles, without a +1. :(

[2019-01-17 18:32] GInxh commented on #1805
We will add this as a data point to help resolve the bugs around proving social accounts on Blockstack profiles. Thank you for the feedback!

[2019-01-17 19:16] prabhaav commented on #1790
FYI @hstove , I found an issue with the fix. It didn't block us from getting into the app store, but this issue might come up again. See attached video:
[scannerBug.mov.zip](https://github.com/blockstack/blockstack-browser/files/2770235/scannerBug.mov.zip)

[2019-01-19 19:31] jehunter5811 opened #1806 "Apps array not being added to profile when logging into apps if using a custom gaia hub"
I created a name (`graphitehunter.id.blockstack`) using the CLI. I created that ID and pointed it to a locally-hosted custom Gaia hub. Everything seems to work fine as I have an ID, I have a profile.json file, I can log into apps and store data, etc. However, I do not get an updated `apps` array in my profile. See here:

https://core.blockstack.org/v1/search?query=graphitehunter

Or here:

https:/

[2019-01-19 19:39] jehunter5811 commented on #1806
Spoke with Jude and this appears to be because I registered the name and connected to a custom hub via the CLI. I needed to set the browser's API settings to match my local gaia hub URL.

From Jude:

[code]

[2019-01-22 04:08] hstove commented on #1806
Yeah, what Jude said. All the stuff that updates the profile.json is based on settings in the Browser. You can change your Gaia URL in the 'settings' section of the Browser. After that, I think that the profile should be updated properly if you login again.

[2019-01-22 05:01] GInxh commented on #1806
I will make sure to have this clarified in the instructions for setting up gaia hubs for develop branch. Other changes that need to happen to enable custom gaia hubs, outside of auto launching images or configuring dev branch.

[2019-01-22 15:36] moxiegirl commented on #1806
@jcnelson Do we need an issue on the CLI to do this update?

[2019-01-22 15:45] jcnelson commented on #1806
https://github.com/blockstack/cli-blockstack/issues/13

[2019-01-22 18:07] moxiegirl commented on #1690
Looks like this was done. Reopen if I am wrong.

[2019-01-22 18:07] #1690 closed

[2019-01-22 18:10] #133 closed

[2019-01-22 18:11] #352 closed

[2019-01-22 18:12] #387 closed

[2019-01-22 18:20] markmhx opened #1807 "Remove three fields from API settings page"
These fields are no longer used and should be removed by the UI:

- Blockstack Core API Password
- localhost Logging Port
- Search URL

@zone117x has already started this work with https://github.com/blockstack/blockstack-browser/pull/1804 

[2019-01-22 18:23] markmhx commented on #427
I've updated this issue to reflect general work related to saving configuration information to user profiles.

[2019-01-22 18:24] #486 closed

[2019-01-22 18:31] #962 closed

[2019-01-22 18:33] #970 closed

[2019-01-22 18:37] markmhx commented on #208
@larrysalibra We're unsure how you could end up filling 5mb worth in local storage – lots of identities? Or something else?

[2019-01-22 18:37] #208 closed

[2019-01-22 18:40] #1062 closed

[2019-01-22 18:40] #1063 closed

[2019-01-22 18:40] #1070 closed

[2019-01-22 18:50] #1120 closed

[2019-01-22 18:51] #1146 closed

[2019-01-22 18:52] markmhx commented on #1149
This should be fixed by upgrading the version of blockstack.js used by the browser to the latest.

[2019-01-22 18:53] #1472 closed

[2019-01-22 18:54] #1468 closed

[2019-01-22 19:00] #1770 closed

[2019-01-22 19:00] hstove commented on #1770
Our devops team fixed the issue with the broadcast server. I've confirmed this works now by registering a new paid name.

[2019-01-22 20:09] markmhx opened #1808 "Improve authentication reliability across browsers and systems"

[2019-01-23 00:03] larrysalibra commented on #208
@markmhx Redux was storing multiple copies of state...basically one for each state change. Was probably misconfiguration.

[2019-01-23 08:02] sposth commented on #1060
I am not entirely sure if this is the reason, the verification does not work: but LinkedIn is using a proprietary URL shortener. Every posted URL will be shortened when publishing the post. So it will - in general - not be possible for external applications to verify the URL.

[2019-01-23 15:55] markmhx commented on #208
@larrysalibra Cool, we'll keep this closed unless you recreate and want to re-open.

[2019-01-23 19:44] hstove commented on #1767
I'm going to close this because I haven't been able to reproduce the issue in our current build on develop.

I was investigating the potential for a first-time login to not have a properly set up profile.json. After trying multiple sign-up situations, including from a multi-player auth flow, everything seems to be normal. I'm moving it into QA so that we can confirm when we publish a beta build, a

[2019-01-23 19:57] hstove commented on #1761
This is actually fixed with @aulneau's fix in https://github.com/blockstack/blockstack-browser/pull/1809

[2019-01-23 23:12] zone117x commented on #1167
No. But I know what's causing that on Windows and it's pretty easy to fix, maybe a few hours.

[2019-01-23 23:15] zone117x commented on #1167
This PR https://github.com/blockstack/blockstack-browser/pull/1796 actually has some of the changes needed to fix it

[2019-01-24 15:49] zone117x opened #1811 "Add macOS app builds to CircleCI config"
@zone117x commented on [Thu Jan 24 2019](https://github.com/blockstack/gaia/issues/193)

[2019-01-24 15:49] zone117x commented on #1811
Simple TravisCI config example https://travis-ci.org/zone117x/blockstack-browser/jobs/481526427

[2019-01-24 17:58] jeffdomke commented on #1571
We should prioritize the quick fix here. Display list of apps from App.co. The users will have to take a round trip to the app website, but that is probably better than the current state of affairs. cc @GinaAbrams

[2019-01-24 18:49] markmhx commented on #1571
@jeffdomke I'm adding this to the next sprint that begins on Monday with the proposal that @aulneau tackles it then.

@aulneau I'll put 15 minutes on the calendar for early next week so we can decide on a design direction here.

[2019-01-24 21:51] GInxh commented on #1571
clarify, we are removing apps from the browser profile? Can we not just keep the existing design and import the new apps? Do we have any data points to show that users will stay engaged if all the engagement opportunities imported into their onboarding flow and default sign in landing if all those points of engagement dissappear? This is seems like a bad idea and multiple other engineers on this t

[2019-01-25 15:23] aulneau commented on #1571
From my understanding that is not what we're talking about. I think what we will do is just use the app.co api to fetch all blockstack apps, and then display them on the browser homepage in a very similar way as it is currently.

However, I think the biggest issue right now is that the apps aren't super organized currently. They have categories etc, but I think we'll have to play around with fine

[2019-01-25 15:30] markmhx commented on #1571
We're definitely not removing the apps from the browser homepage as part of this issue's implementation.

For this issue, we mainly want to ensure that the apps are dynamically generated and therefore always up-to-date.

And while we introduce dynamic generation, we probably want to list them out in a useful way – either by ordering a single list of apps by a useful criterion (e.g. App Mining rank

[2019-01-27 15:50] markmhx commented on #1772
@simonlayfield Thanks for the report. It's unclear to me that the SSL error you're encountering relates to this update form specifically, and I believe the local Blockstack Browser served at localhost:8888 supports only HTTP, not HTTPS.

Are you accessing it via `https://localhost:8888` or `http://localhost:8888`?

[2019-01-27 16:03] markmhx commented on #1571
Some related recommendations have been provided by Kitsana on the forum here: https://forum.blockstack.org/t/dotpodcast-app-mining-thoughts/7316

[2019-01-27 21:18] jeffdomke commented on #1779
Seems like we have an answer on how to proceed: https://forum.blockstack.org/t/social-proofs-anyone-care/7239/9

[2019-01-28 14:48] markmhx commented on #1689
@zone117x Has this issue's solution been completely reviewed and as such can be closed in anticipation of release?

[2019-01-28 14:49] markmhx commented on #1669
@zone117x Has this issue's solution been completely reviewed and as such can be closed in anticipation of release?

[2019-01-28 14:49] markmhx commented on #1725
@zone117x Has this issue's solution been completely reviewed and as such can be closed in anticipation of release?

[2019-01-28 14:50] markmhx commented on #1730
@zone117x Has this issue's solution been completely reviewed and as such can be closed in anticipation of release?

[2019-01-28 14:51] markmhx commented on #1763
@hstove Has this issue's solution been completely reviewed and as such can be closed in anticipation of release?

[2019-01-28 14:52] markmhx commented on #1745
@hstove  Has this issue's solution been completely reviewed and as such can be closed in anticipation of release? If not, who'd be best suited to review?

[2019-01-28 14:54] #1761 closed

[2019-01-28 14:59] #1760 closed

[2019-01-28 15:02] markmhx commented on #1764
@aulneau I've added this to the new sprint with your assignment

[2019-01-28 15:03] markmhx commented on #1759
@zone117x  I've added this to the new sprint with your assignment

[2019-01-28 15:03] markmhx commented on #1276
@hstove Want to pick this issue up for the current sprint or wait for a subsequent one?

[2019-01-28 15:04] hstove commented on #1276
Yes I'd like to take this on.

[2019-01-28 15:04] markmhx commented on #1702
@aulneau I think we discussed addressing this in the new sprint, so I'm assigning it as such. But please let me know if you'd prefer to hold off until a future sprint.

[2019-01-28 15:05] markmhx commented on #1791
@hstove Were you able to get to this in the last sprint? If not, do you want to tackle it this new one or hold off?

[2019-01-28 15:05] markmhx commented on #1149
@hstove Want to tackle this version upgrade this sprint?

[2019-01-28 15:05] hstove commented on #1791
I'd like to take this on today. It's not done yet.

[2019-01-28 15:06] markmhx commented on #1792
@zone117x Want to tackle this during the new sprint?

[2019-01-28 15:06] hstove commented on #1149
Yep, it'll be a very simple fix.

[2019-01-28 15:06] markmhx commented on #1698
@zone117x Want to tackle this in the new sprint starting today?

[2019-01-28 15:07] markmhx commented on #1167
@zone117x Want to tackle this in the new sprint starting today?

[2019-01-28 15:07] markmhx commented on #1811
@zone117x Want to tackle this in the new sprint starting today?

[2019-01-28 15:44] zone117x commented on #1811
Yep. This task is pretty easy once https://github.com/blockstack/blockstack-browser/pull/1803 gets merged.

[2019-01-28 15:46] markmhx opened #1816 "Reduce misuse of "Deny" button during onboarding"
We've learned from [previous testing](https://github.com/blockstack/blockstack-browser/issues/1775#issuecomment-452336477) that users accidentally select "Deny" during onboarding when they actually intend to grant permission to an app and use it.

This issue entails improving the design of the deny button to reduce accidental clicks.

[2019-01-28 15:47] markmhx commented on #1816
@aulneau Could you help me design for this issue during this sprint?

[2019-01-28 15:49] markmhx opened #1817 "Ensure that "save password" modal doesn't block button on Android"
We've learned from [previous testing](https://github.com/blockstack/blockstack-browser/issues/1775#issuecomment-452336477) that the "save password" modal on Android often blocks the button on the final step of onboarding, leading to decreased conversion.

This issue entails adjusting the button placement to ensure that it doesn't get blocked.

See previous conversation about this issue here: https

[2019-01-28 15:49] zone117x commented on #1167
@markmhx Yep should be able to fit this in.

[2019-01-28 15:50] markmhx commented on #1786
@hstove Can you address this issue as part of this sprint?

[2019-01-28 15:56] zone117x commented on #1698
Let's try to get this done this sprint, but debugging these Edge issues can be quite a time sink. So I'd punt this if it started looking like a multi-day debugging session.

[2019-01-28 15:57] zone117x commented on #1792
Yeah we've been wanting this for a couple weeks now, let's get this high on the priority list.

[2019-01-28 15:59] markmhx commented on #1775
@jeffdomke I've created and prioritized the following issues to address the top three problems you encountered during testing:

- [Audit versions used by App Mining apps and solicit upgrades](https://github.com/blockstack/blockstack.js/issues/602)
- [Reduce misuse of "Deny" button during onboarding](https://github.com/blockstack/blockstack-browser/issues/1816)
- [Ensure that "save password" modal

[2019-01-28 16:02] markmhx commented on #427
I'm adding this issue to the https://github.com/blockstack/blockstack-browser/issues/1785 epic with it in mind for reducing conversion friction upon subsequent re-authentication.

[2019-01-28 16:02] zone117x commented on #1689
Yes - with the caveat that on Opera, this minor error prompt still shows up for users without the native app installed, however, the user only has to dismiss the popup and https auth redirect happens as intended.

[2019-01-28 16:13] zone117x commented on #1669
Yes.

[2019-01-28 16:34] #1689 closed

[2019-01-28 16:49] kantai commented on #1149
I'm pretty sure that this is already implemented in the browser -- I think everywhere the browser uploads a profile (the only writes the browser ever does) it generates a new auth token on the fly.

[2019-01-28 17:54] jeffdomke commented on #1816
There is already a solution in the figma, been there since maybe Oct? And the problem isn't the button (although we should change it) the problem is that deny routes back to the browser when it should allow the user to recover in some more graceful way.

[2019-01-28 17:56] jeffdomke commented on #1817
Duplicate of an old issue. @aulneau already said there is no way to prevent it and a fix was proposed but not sure what happened to the other ticket.

[2019-01-28 20:14] moxiegirl commented on #1791
@hstove I'm working on the top-level CONTRIBUTORS.md.  That one will cover

- How to find issues
- How to do a pull request
- How to see the ZenHub board

The idea is that the individual contributors guide will point to this top level one in blockstack/blockstack.

Let me know if this is unclear....or we can discuss in the OKR 1 meeting.

[2019-01-28 20:15] hstove commented on #1791
Perfect. I'll wait to see yours and then update it for the Browser.

[2019-01-28 21:10] jeffdomke opened #1818 "Consolidate all UI for generating IDs and editing profiles"
All four of these screens show the user conceptually the same action: Create a new ID and give it name.

![screen shot 2019-01-28 at 4 06 18 pm](https://user-images.githubusercontent.com/767828/51866529-2f855d00-2317-11e9-8983-44b719406bea.png)

There might be various paths through these options but once we teach a user a UI they shouldn't have to relearn the same concept with different instructio

[2019-01-28 21:18] jeffdomke opened #1819 "Seed verification step"
Problem: Users who go through the seed verification step in usertesting.com videos exhibit frustration. They try to "get around" the step in various ways—sometimes they copy/paste or perform some other off screen action to quickly assess the word they need. They go back and forth and get more frustrated.

Theory: Our two word test might be easy looking, signaling they don't really need to take it

[2019-01-28 21:43] jeffdomke opened #1820 "New onboarding flow with optional email and seed education screens"
This updated design combines all the learning from user testing rounds in the fall.

– The sequence is reordered so that all users see their seed before deciding to email themselves, and can skip that step.
– It also contains revised language: 'Secret Key' and 'Secret Key Backup'
– The seed verification prompts the user to tap all words.
– The referring app is featured prominently in the first scr

[2019-01-28 21:58] hstove opened #1821 "Prototype automated exception tracking"
We want to prototype some kind of automatic exception tracking in the Browser. This will help us catch and diagnose issues without users having to reach out to us with a backtrace.

There are complications related to the Browser:

- There is sensitive data that absolutely must not be sent to exception tracking services. No function arguments should be included, ever.
- This should probably be opt-

[2019-01-28 22:01] jeffdomke commented on #1816
![screen shot 2019-01-28 at 4 38 28 pm](https://user-images.githubusercontent.com/767828/51869309-2ea3f980-231e-11e9-9bd6-ed4a34d7d2aa.png)

Found the solution I mentioned.

`Deny` has been changed to `Cancel`

Instead of returning to browser it just returns to the previous screen, where the user will figure out they need to move forward if they want to access the app.

[2019-01-29 13:08] markmhx commented on #1817
This appears to be that other issue: https://github.com/blockstack/blockstack-browser/issues/1726

Ideally, we'd want to accommodate these kinds of password-manager popups since they're useful to the person in this context. But, of course, without blocking the continue path for people who don't want to use them.

Moving the button further up in the viewport seems like the most naive but effective

[2019-01-29 13:08] markmhx commented on #1726
I'm closing this issue out in favor of a newer one here: https://github.com/blockstack/blockstack-browser/issues/1817

[2019-01-29 13:08] #1726 closed

[2019-01-29 13:13] markmhx commented on #1816
This design change looks good to me. I like how subtle "Cancel" is up there.

If I'm authenticated with the Browser already, I'm finding that the "Select an ID" modal shows up first after choosing to authenticate from the App:

<img width="511" alt="screen shot 2019-01-29 at 14 10 34" src="https://user-images.githubusercontent.com/28991/51910508-b564df00-23cf-11e9-8c58-0bb658a8cb56.png">

In that

[2019-01-29 18:10] hstove opened #1822 "Create 'Release QA Process' Document"

[2019-01-31 16:09] icidasset commented on #1368
Friendly bump 😀
Can make a PR if that's more convenient.

[2019-01-31 16:31] icidasset commented on #1368
Sounds great @aulneau ! `app.co` is also using the old icon, but I've sent an email to `hello@app.co` with links to the new icons.

[2019-02-01 22:22] geiseri commented on #1269
I see it on Version 71.0.3578.127 also.

[2019-02-02 16:12] markmhx commented on #1820
This design looks generally promising. A few initial thoughts:

- Should we change the name "Secret Key" to "passphrase" like Lisk? Or would perhaps a different name better convey what's new and familiar about it at the same time (e.g. "multi-word password")?
- Might users be less confused during sign-in if prompted for just the secret key as a primary input, relegating the backup code to a second

[2019-02-04 14:10] markmhx commented on #1820
Here's a link to the Lisk analysis as it pertains to this design proposal: https://paper.dropbox.com/doc/Lisk-registration-and-sign-in-analysis--AW7aJjmLmCyPk7CrFfxLovU6Ag-D6sZ7ighQ0JXtSfIGiTmG

[2019-02-04 22:16] friedger opened #1825 "Add debug/developer page that lists gaia files of an app"
While developing, it would be convenient to have debug/developer page of the browser that shows all files of gaia for localhost (or any app url) with a link to the encrypted and unencrypted content (you never know what you need).

[2019-02-04 22:19] friedger opened #1826 "Provide user preferences"
Users should be able to set preferences in the browser that are transferred to the app.

Users should be able to change the preferences per app.

For example: preferred color, preferred chat app, preferred profile lookup app, preferred language

[2019-02-05 16:43] jeffdomke commented on #1819
usertesting.com – I can guide you to the correct ones. From memory, what seems to be happening is:

- Testers want to find an easy/fast way to capture the words (maybe they care less since they are testers). Copy/paste words.
- Proceed to the test.
- Realize they need the words and go back.
- Lookup word, return to test.
- Test requests new word.
- Get frustrated, go back.
- Look up new word.
- Go

[2019-02-05 16:52] jeffdomke commented on #1820
- I don't think we've tested "passphrase" but we have a few other words. Secret Key is what 1password uses. It also seems to make sense since the name instructs you what it is and how it should be treated. But, I can't say with 100% certainty it is better.

- "secret key as a primary input" Agreed.

- "Should we warn users that their password can never be reset" Sure, we did previously and we remo

[2019-02-05 18:06] #1767 closed

[2019-02-05 18:14] markmhx commented on #1799
- Add /reset path
- Ensure redirect to /sign-up across all devices upon "Reset My Device" click
- Snazzy up design with standard components

[2019-02-05 18:58] #1786 closed

[2019-02-05 20:09] jcnelson commented on #1733
Is this something we can address this quarter?

[2019-02-05 20:11] jcnelson opened #1827 "Pass Core API URL into auth response"
When signing in, the browser does not pass in the user's preferred Blockstack Core node's API url.  It needs to do so in the call to `makeAuthResponse` in `app/js/auth/index.js`.

[2019-02-07 05:18] dantrevino commented on #1759
I'm not sure what "routed back to browser instead of system default" means, but during testing, I've had users who chose *not* to give permissions for "Basic Info" get routed back to blockstack browser, rather than the app landing page.  This caused confusion with the user confusing the Blockstack Browser with NoteRiot (in my case).

i.e. the current flow of:
app landing page -> auth -> auth fail

[2019-02-07 06:58] hstove commented on #1759
Good catch @dantrevino , and we are tracking that issue, I think #1727 is one of them. But this scenario is different:

(Imagine Brave is my default browser, and I have the native app installed)

- View blockstack app in Chrome
- Click 'sign in with blockstack'
- I get redirected to Brave, which I wasn't using
- Sign in
- I redirect back to the Blockstack app, but still in Brave, where I didn't st

[2019-02-07 17:03] jeffdomke commented on #1759
For the issue Hank describes, not sure how frequent this problem is or if we should even worry about it. All kinds of weird stuff can happen users are using their non-default browser and expect state from the default one to be there. I guess I'm saying I expect this is a problem for any client app that loads a webview, like Slack for example. Are there any easy answers?

[2019-02-10 20:23] vicnicius commented on #666
The UI/UX potentials of this feature are amazing. Is it prioritized somewhere?

[2019-02-11 19:09] #1149 closed

[2019-02-11 19:09] hstove commented on #1149
Sorry, updating blockstack.js was actually already done by Thomas, and will be in the release we're about to put out.

[2019-02-11 20:13] jcnelson commented on #1827
Fixed in https://github.com/blockstack/blockstack-browser/pull/1830

[2019-02-11 20:13] jcnelson commented on #1733
Fixed in https://github.com/blockstack/blockstack-browser/pull/1830

[2019-02-11 23:21] moxiegirl commented on #1735
I've moved the documentation issues to the later Epic for the gaia hub. Removing my ownership of this.

[2019-02-12 12:31] markmhx commented on #1735
@moxiegirl Sounds good, think it'd be best that we close out this epic? If we're completing the above documentation under the other epic (and since we don't have any more plans for adding more choice during onboarding at the moment), closing out seems appropriate to me.

[2019-02-12 13:13] markmhx commented on #1759
I agree this issue's problem may not be easily solvable, at least not in a way that makes it worthwhile.

@zone117x did / do you have any active ideas for how to tackle it? I vaguely remember a conversation in which you thought there was a possible technique. But if not, agree we should just close this out?

[2019-02-12 15:16] moxiegirl commented on #1735
@markmhx sure thing. I'll do that.

[2019-02-12 15:18] #1735 closed

[2019-02-12 19:22] #1763 closed

[2019-02-12 20:04] zone117x commented on #1759
@markmhx Ended up just implementing this for MacOS while testing if it was possible. MacOS was quick and easy, but Windows will take some time to investigate. I think Windows support for this should be iceboxed.

[2019-02-12 20:31] zone117x opened #1832 "Implement e2e test suite for sign-in-with-blockstack with test webapp."

[2019-02-13 15:27] markmhx commented on #1759
@zone117x Awesome! And sounds good re: just tackling MacOS for now.

[2019-02-13 19:07] sylvandb commented on #1060
and today still the problem exists https://www.linkedin.com/feed/update/urn:li:activity:6501520582562189314/  is my post, yet not verified.  (twitter and github did verify, but linkedin...  not so much)

[2019-02-13 19:20] sposth commented on #1060
I don't think it is possible - at all - to verify the LinkedIn ID. Due to the way LinkedIn deals with URL's.
Not sure if anyone from Blockstack is taking a look at this issue. Maybe, it is not that important.

[2019-02-14 22:03] #1759 closed

[2019-02-14 22:03] #1698 closed

[2019-02-14 22:03] #1725 closed

[2019-02-14 22:03] #1730 closed

[2019-02-14 22:04] #1808 closed

[2019-02-14 22:04] #1792 closed

[2019-02-14 23:45] sylvandb commented on #1060
It obviously isn't important enough to remove it from the page so people don't waste time trying.

I wonder what was more important?

The shortened tracker/redirect link seems to appear only for non-auth'ed access, and `curl` appears to follow it just fine. And the hash is still present in the body of the message. I don't see any particular technical challenge in making that validation work, and i

[2019-02-15 20:17] russwfranklin commented on #1571
I think it would be neat to only have choice apps located on your personal homepage (like how downloaded apps display on your mobile phone). You would "download" new apps from app.co to be located here...

![image](https://user-images.githubusercontent.com/21110565/52882043-70ada780-3134-11e9-8dc9-9212227a1f3f.png)

app.co would then mimic the google play store.

[2019-02-18 10:54] friedger commented on #1556
The code looks like it is working. https://github.com/blockstack/blockstack-browser/blob/6805a07fcde2e611b5e728534d0a587acc8bc551/app/js/auth/index.js#L504
Using 18.3.0 I managed to receive the email address of the user in the auth response token.

[2019-02-18 11:10] markmhx commented on #1780
@friedger has tested and confirmed that this functionality actually works for him: https://github.com/blockstack/blockstack-browser/issues/1556#issuecomment-464684978

[2019-02-18 15:17] moxiegirl commented on #1816
Ran into a version of this when testing the Gai hub onboarding.

1. Click on *Sign in on Blockstack* from a DApp configured to solicit a Gaia hub url.
    Routed to browser and this screen displayed.

![image](https://user-images.githubusercontent.com/1347209/52959866-39b1de80-334c-11e9-82cd-b00ce1254d96.png)

At this point, I wanted to *choose another id* --- I think we used to actually _have tha

[2019-02-18 16:01] markmhx commented on #1816
@moxiegirl thanks for the detailed report 🙏

[2019-02-18 16:34] jeffdomke opened #1835 "Adjusting timing of ranking, payout, and announcement schedules"
Ongoing discussion on adjusting to improve accuracy and creating some buffer against errors. Relates to announcement schedules and timing.

@hstove @GinaAbrams @cuevasm @pstan26 please contribute more thoughts.

[2019-02-19 01:07] zone117x opened #1837 "[QA] Report test metadata on CircleCI"
The end-to-end tests and unit tests running on CircleCI should be using the test metadata feature for more useful reporting https://circleci.com/docs/2.0/collect-test-data/#mocha-with-nyc

[2019-02-19 01:09] zone117x opened #1838 "[QA/Devops] Run end-to-end tests against production services"
Our end-to-end tests can be configured via env vars to run against production services.
We need devops infrastructure setup for these to be ran on some interval (daily?) and/or on releases / master branch PRs.

[2019-02-19 01:16] zone117x opened #1839 "[QA] Implement e2e test & strategy for redux state version updates"
When the BLOCKSTACK_STATE_VERSION number gets bumped for releases (here https://github.com/blockstack/blockstack-browser/blob/7178b60fccc6b24769ca74c83e3f3d4ebb3c457e/app/js/store/reducers.js#L42 ) it triggers a client-side update page. The current e2e tests do not cover this situation.

This should probably work similar to database migration scripts. As in - individual tests are created for each

[2019-02-19 01:23] zone117x opened #1840 "[QA] Implement the e2e sign-in & validate test for a few popular apps built with Blockstack"
The current e2e test for "sign in with Blockstack" runs agains a simple Hello-Blockstack sample application. The test authenticates then does some validation by invoking blockstack.js APIs on the client.

This test simply needs the "sign in with Blockstack" button DOM selector method to be extendable and then it should work with most other apps built using Blockstack.

These new test suites that i

[2019-02-19 12:55] markmhx commented on #1780
@yknl mentioned in our PBC chat that the email value is available to developers during the user's initial session (post-registration) but not subsequent ones since we don't store it in a way that's restorable in the browser. So this scope's resolution would entail restoring it consistently so that developers always have access post-authorization.

Also, we don't currently have a way for the user t

[2019-02-19 16:47] hstove commented on #1822
TODO: Instructions for running/inspecting E2E tests.

[2019-02-19 18:32] yknl opened #1841 "Update release checklist doc"
Update the checklist to reflect the new build process.
https://github.com/blockstack/blockstack-browser/blob/master/maintainers/release-checklist.md

[2019-02-19 18:35] markmhx commented on #1806
@GInxh We touched on this during our backlog review today and it appears to be an iceboxed issue – are you actually working on it right now though?

[2019-02-19 22:39] zone117x opened #1842 "Bug in auth flow after manifest.json file is fetched"
We have a common flaky test failure that occurs on the "Select an ID" page when trying to login with Blockstack. It appears to occur on any web browser. This occurs when using the same static localStorage session object.

The test code that triggers this is pretty simple, see https://github.com/blockstack/blockstack-browser/blob/feature/e2e-sign-in/test-e2e/auth/sign-in.js

Attached are is the ful

[2019-02-21 04:24] zone117x commented on #1516
@aulneau I think we are pretty good with this now with proper building on Windows and macOS, on local machines and CI. What do you think?

[2019-02-21 16:15] sanzaru commented on #255
Well, complicated or not, you **absolutely** have to implement the functionality **ASAP**, otherwise you don't comply to GDPR and some legal actions can and will be taken against you. I am european, so you have to provide me the option to delete and to download all the information saved by you.

The issue is old enough for any excuses...

[2019-02-21 16:43] yknl opened #1845 "Add option to delete profile photo"

[2019-02-21 16:45] russwfranklin commented on #1845
![image](https://user-images.githubusercontent.com/21110565/53185976-1e560600-35ce-11e9-9937-af5c6953b13e.png)

[2019-02-21 19:03] hstove commented on #1516
Yes, this is much improved. It's quite easy to build the native app now without a cert. I'm going to close it out.

[2019-02-21 19:03] #1516 closed

[2019-02-21 21:21] GInxh commented on #1826
Thanks for the feedback

[2019-02-21 21:22] GInxh commented on #1789
Try the new updated browser, and let me know if you still haver these new issues.

[2019-02-22 23:22] cuevasm opened #1847 "Helloblockstack.org only works with installed version, not via web"
Suggest also updating branding.

I tested this several times, logged in without the Windows install running, wouldn't load, localhost error. When I turned that back on, I could login. It should work with just the browser.

[2019-02-23 01:56] hstove commented on #1847
Good catch, but I'm gonna close this, because we're completely re-doing the homepage in the next release. We'll only pull apps from app.co, which doesn't include HelloBlockstack.

[2019-02-23 01:56] #1847 closed

[2019-02-23 02:10] hstove commented on #1789
Hey TN, sorry we didn't follow up on this issue.

It turns out that there has been some miscommunication, and this `/clear-auth` URL was never meant to be visited directly. It's only there for mobile apps to use in a specific way.

We've updated our 'update the browser' prompt to allow you to reset your browser from that page, so you should never be able to get 'stuck'.

I'm going to close this is

[2019-02-23 02:10] #1789 closed

[2019-02-25 14:35] moxiegirl commented on #1079
@markmhx @jeffdomke Can we bump this up?  It takes people by surprise. I'll link my related issue.

[2019-02-25 15:12] jehunter5811 opened #1848 "Linux Sign In Loop"
I have a Graphite user who needs some help. Posting here and opening a bug in the Blockstack Browser repository. I'm copying and pasting his message to me so you can see the steps he's taking, but basically, he's getting stuck in an endless loop because (maybe) the browser is not providing an auth response? Or not actually restoring his ID?

1. I start at https://app.graphitedocs.com/ and click on

[2019-02-25 15:28] markmhx commented on #1079
@moxiegirl I plan to triage the issues on this repo's board soon and will see about getting this one prioritized in light of other ones I surface 👍🏻

[2019-02-25 18:28] jeffdomke opened #1849 "Ensure error message shown when password incorrect during sign in"
Can't restore/login with certain magic codes in the browser. Have tested multiple codes and only applies to some.

macOS-v0.35.4
Chrome
Upgraded from previous version

To reproduce:
• Click `Sign in with an existing ID`
• Enter specific testing magic code (ask @jeffdomke)
• Click `Sign in`
• Enter specific testing password (ask @jeffdomke)
• Click `Next`
• Browser appears unresponsive/nothing happ

[2019-02-25 18:32] hstove commented on #1849
Console errors? My first assumption is that it's an invalid password.

[2019-02-26 09:33] combatmonk commented on #1638
OSX Mojave:
10.14.3 (18D109)
Added to FW exceptions.
Brand New Install On Launch:

Blockstack Error: CORS proxy was terminated

events.js:167
      throw er; // Unhandled 'error' event
      ^

Error: getaddrinfo ENOTFOUND localhost
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:57:26)
Emitted 'error' event at:
    at GetAddrInfoReqWrap.doListen [as callback] (net.js:1468:12)
    at Ge

[2019-02-26 14:45] aulneau commented on #1849
if you have the codes available, we should check them out. I tested one directly from the browser, and then the ones from the emails I've gotten. They all worked.

[2019-02-26 16:53] fjl4 commented on #255
Hi Sanzaru,

Thanks so much for your comment. I'm an attorney at Blockstack. I'd be happy to help answer any GDPR questions or concerns you may have. You may reach me by email at legal@blockstack.com.

If you'd like to make a formal deletion request, you may do so by emailing legal@blockstack.com.

Thanks again,
Freddie

[2019-02-26 19:59] markmhx commented on #1849
I think @jasperjansz just recreated this live for me as well

[2019-02-26 20:00] markmhx commented on #1849
@jeffdomke also mentioned in person that the latest thinking here in his case (and perhaps Jasper's as well) is that the passwords are wrong but we aren't showing an error message explaining that for some reason.

Should we retitle this to "Show error message when password entry wrong during sign in" or something to that effect?

[2019-02-26 20:06] jasperjansz opened #1851 "Improve error message encountered because of rate limiting when registering new ID"
<img width="1440" alt="screen shot 2019-02-26 at 3 02 00 pm" src="https://user-images.githubusercontent.com/25477905/53442833-294ad500-39d8-11e9-8bcc-dd7220bc29d4.png">

- Click `Create new ID`
- Enter username and continue
- Create a password
- Click `Register ID`
- Shows this error

Edit: it's because of rate limiting. The current error message does not convey the cause — it makes it seem like B

[2019-02-27 15:14] markmhx opened #1852 "Add option to delete personal data"
# Possible

- Full name
- Profile pic (https://github.com/blockstack/blockstack-browser/issues/1845)
- Social verifications
- Multiplayer app data (discoverable through profile)
- Single-player app data (discoverable through URL provisioned by user, or encrypted and discoverable through profile)

# Not possible

- Blockstack ID

[2019-02-27 20:23] moxiegirl commented on #1852
Related to this is: https://github.com/blockstack/docs.blockstack/issues/153

[2019-03-01 13:47] jeffdomke commented on #1775
This can be closed correct?

[2019-03-01 13:49] jeffdomke commented on #1780
Moving this to the top of the stack, I'm suggesting we prioritize this. @aulneau @markmhx @hstove

[2019-03-01 15:27] markmhx commented on #1780
I think @yknl's suggestion in Slack that we simply grab the email value upon sign in and add it to the session sounds like the simplest way to resolve the current problem in which the value is available only during the first session post-registration.

This should address the core concern here despite leaving edge cases for another day, like users wanting to change your email or selectively give p

[2019-03-01 16:48] jeffdomke commented on #1780
That sounds fine. I see this as connected to the Radiks notification work, and can't really consider that box checked until this is done. Would like this prioritized and included in the next browser release please. cc @hstove

[2019-03-04 14:28] markmhx commented on #1799
@aulneau Does this issue still seem feasible for the current sprint?

[2019-03-04 14:30] markmhx commented on #1719
@yknl Thanks for the confirmation. Should this issue get prioritized since it's a bug? I presume it affects all users with 24-word seeds that try to auth these days?

[2019-03-04 14:32] markmhx commented on #1775
@jeffdomke Yep, there are a couple of outstanding issues under this epic still, but I think we can safely close it out since we've essentially checked the box here for the related Q1 OKR notwithstanding. We'll handle those two issues as non-epic'ed priorities.

[2019-03-04 14:32] #1775 closed

[2019-03-04 14:32] yknl commented on #1719
This bug has been fixed in https://github.com/blockstack/blockstack-browser/pull/1850.

[2019-03-04 14:32] #1719 closed

[2019-03-04 14:35] hstove commented on #1780
Sure, we can do the easy fix, i.e. store it in your session for future auth requests.

[2019-03-04 14:35] markmhx opened #1853 "Add email value to session upon re-authentication"
Currently we store the user's email address in their session only during the first session as initiated with registration. This issue entails storing it in subsequent sessions as well, using the email value as provided again by the user during the sign-in flow, so that developers with the `email` scope permitted can get the value regardless of when the user's session was created.

This is a hotfix

[2019-03-04 14:38] markmhx commented on #1853
@yknl Is this an issue you or someone else could pick up mid-sprint this week for fast completion? Or best to resolve going into next sprint? cc @jeffdomke

[2019-03-04 17:04] #1832 closed

[2019-03-04 17:16] #1571 closed

[2019-03-04 17:56] zone117x commented on #1849
I can reproduce this with the current release but it appears to be fixed in the develop branch. I think this was caused by a state transition race condition bug, which was fixed by this commit: https://github.com/blockstack/blockstack-browser/commit/1e6be2cd6c73cf9b91a7a668fdb67c7fa0a64bde

[2019-03-04 18:11] #1849 closed

[2019-03-04 20:38] aulneau commented on #1571
This issue has been addressed (to a certain degree) with the merging of this pr -> https://github.com/blockstack/blockstack-browser/pull/1823 and those changes should be released in the next version of the browser. If there are any new concerns or topics for discussion related to these changes, please feel free to open a new issue once we've released these changes. :)

![screen shot 2019-02-21 at

[2019-03-04 21:20] moxiegirl commented on #1779
@jeffdomke Maybe you can sum up what you see as the solution on this ticket and we can close the forum discussion and point here.

[2019-03-04 22:10] zone117x opened #1854 "Create tutorial/example for E2E test on external website"
Write up a tutorial with examples of creating an e2e test for any given website using blockstack.js.
* Use existing e2e sign-in test, simplify and point to external website rather than self-host - helloblockstack.com is a good candidate once its updated.
* Use the existing e2e test README/documentation.

[2019-03-05 11:03] markmhx opened #1855 "Add dark mode / night theme option"
This was originally proposed by @GInxh with https://github.com/blockstack/blockstack-browser/issues/1571#issuecomment-451247629.

[2019-03-05 11:04] markmhx opened #1856 "Add option to pin favorite apps to home screen"
This was originally proposed by @GInxh with https://github.com/blockstack/blockstack-browser/issues/1571#issuecomment-451247629.

[2019-03-05 11:07] markmhx commented on #1571
I've created the two issues referenced immediately above to keep tracking the other suggestions made in this issue's comment thread so we can consider them outside the scope of this particular issue.

[2019-03-05 16:48] zone117x opened #1857 "More reliable social proof method"
### Proposal for making social proofs less likely to break

#### Problem
* We perform strict DOM parsing on social website pages that are almost guaranteed to change and break our code over time.
* When a social website does change and break our code, its broken for everyone until we get a fix rolled out.
* Our parsing code must be strict (and prone to breaking) due to social websites allowing com

[2019-03-05 16:57] zone117x commented on #1779
If this proposal withstands scrutiny https://github.com/blockstack/blockstack-browser/issues/1857 then I'd say for a bit of upfront dev cost, we drastically reduce future maintenance burden in order to maintain the current social proofs feature.

[2019-03-05 19:41] yknl commented on #1857
I think this would work great for some of the social media accounts.

The embed iframe src URL might not exist in the DOM. This is the case with instagram posts. The iframe src is generated dynamically.

Another issue is that for link formats that don't include the username, DOM parsing is still needed to retrieve the username for verification.

[2019-03-05 20:05] zone117x commented on #1857
It looks like with instagram there is a directly derivable iframe embed endpoint:
`https://www.instagram.com/p/{postID}/embed/captioned/`

But yeah some of the sites I'm sure will not be so straightforward.

I think most of the endpoints will not include the username. But the DOM parsing to retrieve it can be much more fuzzy than existing method. Essentially the only requirement is verifying that

[2019-03-05 23:20] dantrevino opened #1858 "Unexpected string in JSON at position 262"
I'm getting the following error during auth flow.

[code]
I tried to run my app in Incognito mode.. I got the same error, but was prompted to create/restore an account, and that process worked, but I was redirected to Blockstack Browser, instead of back to my app.
<img width="1169" alt="screen shot 2019-03-05 at 3 14 08 pm" src="https://user-images.githubusercontent.com/7738/53844267-067d6b00-3f5a

[2019-03-05 23:25] dantrevino commented on #1858
sign-in code
[code]
manifest
[code]

[2019-03-06 15:23] markmhx commented on #1858
@dantrevino Did you encounter these bugs in production or development? If the former, do you have a URL I can use to try recreating?

In my experience, the "Failed to fetch information about the app requesting authentication" error is always related to CORS or URL structure (e.g. localhost vs 127.0.0.1 in development).

I haven't seen the "Unexpected string in JSON at position 262" error before, i

[2019-03-06 15:26] markmhx commented on #1851
I'm labeling this with "bug" since the user perception is that it's a bug since they aren't informed of why there's a failure and what they can do about it.

[2019-03-06 15:28] markmhx commented on #1848
This was also cross-posted on the forum at https://forum.blockstack.org/t/linux-sign-in-problems/7542.

@jehunter5811 After we emailed a bit about this user's problem, were you able to track down the problem any more precisely? Or need us to research it?

[2019-03-06 15:30] #1845 closed

[2019-03-06 15:30] markmhx commented on #1845
Thanks @russwfranklin – I'm going to close this out since we've created an issue that subsumes your request here in that it proposes we add the option to delete a number of user data points: https://github.com/blockstack/blockstack-browser/issues/1852

[2019-03-06 15:32] markmhx commented on #1841
@yknl Is this priority enough to include in the next sprint? And if so, who should we assign?

I'll icebox meanwhile.

[2019-03-06 16:16] yknl commented on #1841
Yes, it should be included. I assigned myself.

[2019-03-06 21:51] jehunter5811 commented on #1848
Not sure what I can do to track it down since it seems to be blockstack.js code causing the issue. For example, I just managed to make this happen locally on Graphite Publishing and had console open. Here's the error:

`Error: Failed to login: Invalid authentication response.`

[2019-03-06 22:50] dantrevino commented on #1858
FFS.  Spent over an hour reconfiguring my cors with different servers trying to recreate and it turns out I was missing a comma between icons.src and icons.sizes properties in manifest.json.  EBKAC.  smh.

[2019-03-06 22:50] #1858 closed

[2019-03-07 02:46] hstove commented on #1858
It happens! I should have asked you to paste your `manifest.json`. I know the feeling of being deep in your code and missing what's right in front of you.

[2019-03-07 02:47] hstove commented on #1848
Can you provide reproduction steps and possibly code? What version of blockstack.js?

[2019-03-07 09:23] markmhx commented on #1858
The most puzzling bugs are always right in front of you 🙃

[2019-03-07 10:28] markmhx commented on #1827
I'm closing this issue since the above PR appears to have resolved it.

[2019-03-07 10:28] #1827 closed

[2019-03-07 10:32] markmhx commented on #1825
@friedger I'm wondering if makes sense to re-title this issue so that it's more expansively about browsing one's data as stored in Gaia _across_ apps in contrast to browsing them for a _specific_ app?

The idea for a Gaia-centric file browser / data explorer / finder seems to come up in conversation often, and I'm not seeing an existing open issue that captures the idea, so I'm thinking your issue

[2019-03-07 10:37] markmhx commented on #1798
I imagine this entails primarily adding a record to the user's host file (e.g. `/etc/hosts`) upon installation of the browser.

@zone117x thoughts on whether that's the case and if it's easy enough to do with our installer?

[2019-03-07 10:39] markmhx commented on #1797
Perhaps we can have the library output its version to the browser's console log during initiation so only those looking to debug the version will see it?

@hstove Have any thoughts on the best approach here? Any reason not to use the console in this manner in production for apps by default?

[2019-03-07 14:07] jehunter5811 commented on #1848
Sure thing! My scenario is different from the user who reported it. I'm on a Mac, not a Linux machine. But I saw it happen a few times with this as my code to handle pending sign-in:

[code]

I stick that in the componentDidMount lifecycle method to catch a pending sign in as soon as a user returns to the app.

The error doesn't happen all the time, but when it does, it seems very similar to the o

[2019-03-07 15:56] markmhx commented on #1700
I've just recreated this issue, though it seems like an uncommon edge case to me.

For triage purposes, are there actually common circumstances in which we'd need to show an error here or comparable moments during onboarding?

[2019-03-07 16:05] markmhx commented on #1691
I'm closing this issue since it appears resolved by https://github.com/blockstack/blockstack-browser/pull/1694. @aulneau please re-open if that's not actually the case.

[2019-03-07 16:05] #1691 closed

[2019-03-07 16:05] markmhx commented on #1679
@yknl were you able to address this after all?

[2019-03-07 16:08] markmhx commented on #1675
@GinaAbrams I think you requested this the other day, too?

[2019-03-07 16:08] GinaAbrams commented on #1675
yes! 🙏

[2019-03-07 16:23] markmhx opened #1860 "Better save state to profile"

[2019-03-07 16:30] markmhx opened #1861 "test"

[2019-03-07 16:30] markmhx opened #1862 "Expand automated tests"

[2019-03-07 16:30] #1861 closed

[2019-03-07 16:33] GinaAbrams commented on #1675
Think this would vastly improve the experience.

[2019-03-07 16:35] markmhx commented on #1675
I'm bumping this to the backlog to consider for an upcoming sprint.

[2019-03-07 16:36] markmhx commented on #1621
@yknl I believe we now have a number of automated test issues, so I'm closing this issue out in favor of an epic that keeps track of them all individually: https://github.com/blockstack/blockstack-browser/issues/1621

Please re-open this issue if it actually serves a purpose still given the above.

[2019-03-07 16:36] #1621 closed

[2019-03-07 17:05] markmhx commented on #1578
@GinaAbrams it appears you've wanted something like this as far back as Oct 19, 2017 (per the referenced issue, now closed, above) – do you feel the need for this is the same as then? Bigger, lesser?

[2019-03-07 17:15] zone117x commented on #1798
**Short answer**: We can't do this. It requires sudo/admin permissions on all operating systems which is would have an unacceptable impact on both UX and security.

**Long answer**: Local network devices use various forms or [zeroconf networking](https://en.wikipedia.org/wiki/Zero-configuration_networking) for the use-case in Jeff's example. Casa node is likely using [mDNS](https://en.wikipedia.or

[2019-03-07 17:19] markmhx commented on #1575
@zone117x is this issue still relevant given your recent work on testing?

[2019-03-07 17:25] #1548 closed

[2019-03-07 17:25] markmhx commented on #1548
I'm closing this issue since it appears resolved by https://app.zenhub.com/workspace/o/blockstack/blockstack-browser/issues/1583

[2019-03-07 17:25] hstove commented on #1679
Matt has implemented a flag you can set to use the test registrar. It requires you to use the JavaScript console, but since this is really just for internal use, that seems fine to me

On Thu, Mar 7 2019 at 8:05 AM, < notifications@github.com > wrote:

[2019-03-07 17:26] markmhx commented on #1547
@jeffdomke I'm not really sure how to interpret this issue. Want to revise it a bit for clarity, or best to close out given its age?

[2019-03-07 17:38] GinaAbrams commented on #1578
I think same as then. It's a nice to have, but given the confusion around our password process in general, i do think it would make a big difference in the end user experience. I've thought about this multiple times, but I haven't polled any others on it.

[2019-03-07 19:27] zone117x commented on #1575
I'd consider this closed

[2019-03-07 21:46] jeffdomke commented on #1798
cwel. so close as no fix yeah?

[2019-03-07 21:46] #1798 closed

[2019-03-07 21:47] #1547 closed

[2019-03-07 22:53] hstove commented on #1848
Is there any pattern to if it happens for a new Blockstack user vs. a user already signed into the Browser?

Also, you're using the 'custom Gaia hub onboarding' flow, right?

On Thu, Mar 07, 2019 at 6:07 AM, Justin Hunter < notifications@github.com > wrote:

[2019-03-07 22:56] hstove commented on #1797
Yes, I think I'd prefer to have this be in the library itself, exposed as a global variable, like BLOCKSTACK_JS_VERSION.

The question is who the target user is. Is it us at PBC, trying to diagnose the error? If so, then we could just go to their app website and check that variable. Same with an app reviewer. I would question if an end user would ever want/need to see this.

If it was exposed as a

[2019-03-07 22:59] hstove commented on #1578
I hadn't seen this issue before, but we have a newer one: #1821 . I'm inclined to close the newer issue and use this. I also hadn't seen Will's forum post - having the user approve the error report is smarter than what I was thinking.

[2019-03-07 23:06] hstove commented on #1578
Comment from the issue I'm about to close:

We want to prototype some kind of automatic exception tracking in the Browser. This will help us catch and diagnose issues without users having to reach out to us with a backtrace.

There are complications related to the Browser:

- There is sensitive data that absolutely must not be sent to exception tracking services. No function arguments should be in

[2019-03-07 23:46] hstove commented on #1821
Closing in favor of #1578

[2019-03-07 23:46] #1821 closed

[2019-03-08 15:09] markmhx commented on #1578
@hstove Sounds great, thanks for pushing this forward quickly 💪🏻

[2019-03-08 15:35] markmhx commented on #1679
@hstove Cool, is this issue good to close out then?

[2019-03-08 15:35] #1575 closed

[2019-03-08 15:37] markmhx commented on #1797
I'm moving this to the backlog since we had a clear need for this recently and will probably want it again soon.

[2019-03-08 16:04] hstove commented on #1679
Yes, I think so.

[2019-03-08 16:04] #1679 closed

[2019-03-08 16:36] moxiegirl commented on #1854
If you want to rough up something, I can bomb proof it for you.

[2019-03-08 21:13] moxiegirl commented on #1860
@markmhx can you add some background on this -- is it impacting users or developers? What use case is the functionality going to solve --- etc.  Asking cause I'm trying to decide if this is something I need to look further into.

[2019-03-08 21:16] moxiegirl commented on #1675
@yknl Isn't the first password (used in ID creation) different than the password entered in sessions that follow? I try to explain this in the workshop, and I don't have a good enough understanding to make it clear.  If the password has a different role the first time it is used as opposed to the subsequent users, then we need different terms for these "things" they are doing two different things.

[2019-03-08 21:24] moxiegirl commented on #1547
@markmhx I think Pete one of evangelists is running into this issue --- hard to tell from the description what prompted it.  He posted in channel Wednesday.

[2019-03-08 21:30] yknl commented on #1675
The password serves the same function in all sessions. It's used to encrypt the master private key while it's stored in the browser local storage. If you reset your browser or restore your account on another browser, you can enter a new password. And that password will be used to encrypt the master private key. The browser doesn't store the password anywhere or remember it across sessions.

[2019-03-10 14:40] markmhx commented on #1547
@moxiegirl Got a link handy to his post? I'll take a look. We may want to create a new issue that maps more directly and clearly to his concerns since this one is pretty old and sparse.

[2019-03-10 14:45] markmhx commented on #1860
@moxiegirl I created this epic since recently it seems that several issues have come up related to the idea of storing user data in the `profile.json` in ways that help restore user state more effectively upon re-authentication to the browser.

These issues seem to impact only users, not developers e.g. when we update the hosted Browser, all users currently have to re-enter their passwords again t

[2019-03-10 14:48] markmhx commented on #1675
I have the same confusion as expressed by @moxiegirl regarding the password created during registration vs. subsequently.

The original one during registration is the only one that can be used in conjunction with the magic recovery code emailed at that time, correct? And subsequent passwords created during authentication can't actually be used in conjunction with it, but they _can_ be re-entered e

[2019-03-10 16:12] Muvuk commented on #1669
I still get the same error. Any idea to fix it? thank you

[2019-03-10 16:21] markmhx commented on #1816
@hstove I'm assigning this to you for the sprint starting tomorrow. Can you take a look and let me know if the design guidance is missing anything from your perspective or ready to integrate?

[2019-03-10 16:40] markmhx commented on #1817
@hstove Can you implement this one as part of the sprint starting tomorrow?

<img width="406" alt="Screen Shot 2019-03-10 at 17 40 13" src="https://user-images.githubusercontent.com/28991/54088179-9573f400-435b-11e9-91f6-e361a3d49275.png">

[2019-03-10 16:42] markmhx commented on #1669
@Muvuk could you provide the ChromeOS version you're using? cc @zone117x

[2019-03-10 17:33] hstove commented on #1669
Hey @Muvuk , can you also please let us know which apps you're using? And what kind of error message you're seeing?

[2019-03-11 14:25] zone117x opened #1864 "[QA] Implement e2e test for account recovery URL"
The auth browser has an endpoint `/seed?encrypted={ciphertext}` that is emailed to users after account creation.

It is now also used in the beta mode feature https://github.com/blockstack/blockstack-browser/pull/1815#issuecomment-457613366 for account hand off redirect (ex: `https://beta.browser.blockstack.org/seed?encrypted=abc...`)

This has been broken for some time in production and recently

[2019-03-11 17:06] markmhx commented on #1167
This has been addressed and will be released with v0.36.0

[2019-03-11 17:06] #1167 closed

[2019-03-11 17:30] markmhx commented on #1811
We discussed that we should build unsigned builds for now

[2019-03-11 17:39] moxiegirl commented on #1675
Note from today's meeting, this is not an easy fix. Could take time.

[2019-03-11 23:20] moxiegirl commented on #1547
@markmhx https://blockstack.slack.com/archives/GADLAAFGB/p1552057323032700

[2019-03-11 23:30] moxiegirl commented on #1816
Just going to leave this here...I think the Application name should be in bold not quotes -- it is getting lost --- the eye is drawn to the bold. Also, the title of the dialog is wrong, this is about Granting access, selecting an ID is _secondary_ action.

![image](https://user-images.githubusercontent.com/1347209/54164745-0af2c980-441b-11e9-9280-fc9aad7b69ac.png)

[2019-03-12 02:20] zone117x commented on #1780
This should be addressed by the 2 PRs referenced above ^

[2019-03-12 04:01] lord-aerion commented on #1060
I just ran into this issue as well. I can't believe an issue like this is still unresolved after nearly one and a half years. Either fix it, or mark it as "won't fix" and remove the option altogether. This is just wasting people's time.

[2019-03-12 09:30] markmhx commented on #1816
@moxiegirl I think this are good ideas but best to tackle in a separate issue since we want to expedite this one for a pretty specific reason (helping users from accidentally clicking "deny" in the current implementation). Mind creating another issue and cross-linking here?

[2019-03-12 09:54] markmhx commented on #1780
@zone117x fantastic!

[2019-03-12 09:55] markmhx commented on #1547
@moxiegirl Hmm I'm unable to view that message for some reason, mind checking the link?

<img width="647" alt="Screen Shot 2019-03-12 at 10 54 59" src="https://user-images.githubusercontent.com/28991/54191026-5fe31e00-44b5-11e9-8b26-654fe5629742.png">

[2019-03-12 17:44] moxiegirl commented on #1816
@markmhx will do.

[2019-03-12 17:47] moxiegirl opened #1866 "Select an ID dialog is a misleading experience"
Current dialog

![image](https://user-images.githubusercontent.com/1347209/54223115-09c1ab00-44b4-11e9-9d3b-891d99e4dc4b.png)

Just going to leave this here...I think the Application name should be in bold not quotes -- it is getting lost --- the eye is drawn to the bold. Also, the title of the dialog is wrong, this is about Granting access to an application, selecting an ID is the secondary actio

[2019-03-12 22:53] moxiegirl commented on #1547
@markmhx worked for me. the link is to Evangelist official in the open Slack. Looks like you were not in that channel. Invite sent

[2019-03-13 14:33] markmhx opened #1869 "Add guidance during authorization that multiplayer app usage will be public"
Currently, users are likely unaware when they authorize multiplayer apps that their usage of them will be publicly known (via the Explorer, profile.json, etc).

This issue entails adding a copy warning to the authorization modal for these types of apps that lets them know this is the case so they can decide at that point if they want to proceed with the knowledge.

cc @guylepage3

[2019-03-15 12:10] friedger opened #1871 "Increase PWA score in Lighthouse audit"
Main issues are
* time to launch
* offline support/service worker registration

![Screenshot from 2019-03-15 13-09-24](https://user-images.githubusercontent.com/1449049/54430383-b48bd080-4723-11e9-9a4f-574399894468.png)

[2019-03-15 12:12] friedger commented on #1871
To submit the app to Google Play as [TWA](https://github.com/friedger/blockstack-browser-twa) a score of 80+ is required

[2019-03-18 12:28] markmhx opened #1872 "Add error handling for hub URL entry"
Right now the form submission just stalls when an invalid URL is provided, such as with the `/hub_info` suffix or just a trailing slash (i.e. `/`). We should add proper error handling for all invalid URLs that inform the user of the problem and allow them to try again.

[2019-03-18 12:31] markmhx opened #1873 "Preserve developer Gaia hub URL preference upon navigation through flows"
Currently, if a user enters the onboarding flow from an app that has enabled Gaia hub URL entry, they are prompted for the URL only if they go immediately into the registration flow (i.e. they choose "Create new ID" instead of "Sign in with existing ID".

However, if they select "Sign in with existing ID" accidentally and then go backwards to select "Create new ID", the developer's preference is e

[2019-03-18 12:34] markmhx opened #1874 "Fix Chrome password manager prompt pre-fill value for username"
Chrome is auto-populating the password manager's prompt to save upon creation of a Blockstack ID during registration with the wrong value for a username ("mysubdomainname2").

This value should be the user's actual Blockstack ID

<img width="407" alt="Screen Shot 2019-03-18 at 13 33 21" src="https://user-images.githubusercontent.com/28991/54530240-8b1cb000-4982-11e9-8543-bafd8e4708dd.png">

[2019-03-18 14:02] markmhx opened #1876 "Move social proofs to own page"
This entails moving all social proofs UI from the homepage to its own dedicated page, perhaps underneath the "Settings" section, per [consensus in a forum post](https://forum.blockstack.org/t/social-proofs-anyone-care/7239/24).

[2019-03-18 14:02] markmhx commented on #1779
It seems the consensus from [the forum post above](https://forum.blockstack.org/t/social-proofs-anyone-care/7239/24) is that moving the social proofs UI from the homepage to a secondary page (perhaps under "Settings") is a good move to reduce its prominence so new users don't feel it's necessary to utilize, yet maintain its existence so that it can evolve into something useful overtime.

I've adde

[2019-03-18 15:48] markmhx commented on #1675
@zone117x is this something you may want to take on?

[2019-03-18 15:48] markmhx commented on #1869
@moxiegirl want to draft some copy for this use case?

[2019-03-18 15:49] markmhx commented on #1852
@zone117x is this something you may want to take on?

[2019-03-18 17:02] hstove commented on #1853
@zone117x fixed this - its in the beta release.

[2019-03-18 17:02] #1853 closed

[2019-03-18 17:10] markmhx opened #1877 "Add ability to edit email to settings"

[2019-03-18 21:40] friedger commented on #1876
I think being able to claim statements like "I am friedger on github" is an essential part of self-sovereign identities. Therefore, it should be next to the ID and Wallet, not in Settings.

Like this (with a different icon):
![Screenshot from 2019-03-18 22-39-52](https://user-images.githubusercontent.com/1449049/54565531-d9f03700-49ce-11e9-9f1b-b89afeaf0f3f.png)

[2019-03-19 13:37] markmhx opened #1879 "Add ability to purchase IDs with STX"

[2019-03-19 13:39] markmhx commented on #1879
@yknl @hstove  could I get your thoughts here on what this might take technically to accomplish? I realize we'll probably want to argue the security merits of doing this.

[2019-03-19 14:27] hstove commented on #1879
It basically entails porting a lot of our wallet code over to the browser. And then adding some code from the CLI that can already buy names with STX. The browser has a MUCH larger vulnerability surface, since there is so much more functionality. So it'll be much harder to do a third party audit. Obviously this is something we want to do at some point.

[2019-03-19 15:51] jeffdomke commented on #1879
I like this. Seems to me like the long term evolution / epics could be:

1. Both wallets in the browser
2. Hard fork so browser/name purchase only supports Stacks
3. Harden wallet against security concerns.
4. Add support for hardware in browser.

Just throwing it out there.

[2019-03-19 16:06] yknl commented on #1879
Another idea is that we can have the browser generate the name registration transaction and pass it to the Stacks wallet for signing and broadcasting. That way we don't have to re-implement all of the wallet logic in the browser right now. We would use a protocol handler call to pass data between the browser and the wallet.

[2019-03-19 16:13] markmhx commented on #1545
I'm closing this issue since it's rather old now and @wbobeirne appeared to address its essence with this merged PR: https://github.com/blockstack/blockstack-browser/pull/1580

@moxiegirl has also created a new issue to address possible confusion with this modal's dual purpose: https://github.com/blockstack/blockstack-browser/issues/1866

Please open other separate issues if any more needs discuss

[2019-03-19 16:13] #1545 closed

[2019-03-19 16:15] markmhx commented on #1505
It appears we may be able to help with this via CSS? https://stackoverflow.com/questions/12026441/is-there-a-way-to-tell-browsers-to-honor-the-jpeg-exif-orientation

[2019-03-19 16:16] markmhx commented on #1501
I'm closing this out since it's old and sparse

[2019-03-19 16:16] #1501 closed

[2019-03-19 16:16] #1498 closed

[2019-03-19 16:16] markmhx commented on #1498
I'm closing this out since it was addressed with https://github.com/blockstack/blockstack-browser/pull/1620

[2019-03-19 16:20] markmhx commented on #1489
@jcnelson it seems this issue should be closed in favor of https://github.com/blockstack/blockstack.js/issues/540?

[2019-03-19 16:21] markmhx commented on #1481
@aulneau should we close this out since it's more of a research task than anything?

cc @zone117x since he's been working on testing since this issue was created, in case it interests him

[2019-03-19 16:21] markmhx commented on #1480
@aulneau This seems pretty broad and vague – I'm closing it out in favor of more specific issues per error or warning.

[2019-03-19 16:21] #1480 closed

[2019-03-19 16:22] markmhx commented on #1471
cc @jasperjansz since he's thinking about this terminology a lot these days

[2019-03-19 16:24] markmhx commented on #1456
_Bump_ @jeffdomke since I suspect this may still be important but I'm not sure exactly what you mean either.

You mean we need a mechanism that helps prevent fake Browser phishing?

[2019-03-19 16:26] markmhx commented on #1455
cc @jasperjansz since he's actively working on authentication. We may be moving away from email as a factor towards seed, but if not, we should consider phone here as an alternative to email. And even if we do, we may want to add phone as a value that users can provide via the platform to apps (like email with its second purpose).

[2019-03-19 16:29] markmhx commented on #1440
@aulneau Any updates since re: moving away from gulp, etc?

@zone117x you might find this issue interesting

[2019-03-19 16:32] markmhx commented on #1866
I'm cross-referencing the following issue since it presents more UX issues with this modal that we could clean up while we're at it: https://github.com/blockstack/blockstack-browser/issues/1424

[2019-03-19 16:32] markmhx commented on #1424
I'm closing this issue out in favor of https://github.com/blockstack/blockstack-browser/issues/1424, though I've linked to it from there to capture the above input and conversation.

[2019-03-19 16:32] #1424 closed

[2019-03-19 16:34] markmhx commented on #1389
@aulneau can you explain a bit more what you have in mind here?

[2019-03-19 16:38] hstove commented on #1455
Haha, maybe! I think given the lack of spam protection and difficulty with making a burner phone number (as opposed to email), this would not be popular.

[2019-03-19 16:51] jeffdomke commented on #1456
Yep, more or less. Not a big problem right now, but might become in the future. Even a simple thing that says "Make sure your browser says `https://browser.blockstack.org`" but even that gets complex on mobile etc. Might be part of a larger simple security measures epic.

[2019-03-19 17:30] zone117x commented on #1440
@aulneau fixed this some time ago

[2019-03-19 17:30] #1440 closed

[2019-03-19 17:41] markmhx opened #1880 "Remove need to enter password when browser updated"
This issue is an offshoot of https://github.com/blockstack/blockstack-browser/issues/1675 in that it addresses specifically just the UI need to remove password entry when the browser has been updated and the user is prompted to provide it before continuing to use the product.

[2019-03-20 09:09] larrysalibra opened #1881 "Remove apps"
I had dinner with a Blockstack fan last night that tried out Blockstack again over the weekend and came away with impression that the apps are the same as they were ~1 year ago.

This doesn't reflect well on the project.

I think that the list of apps in the browser should be removed since they're not being updated.

[2019-03-20 12:59] markmhx commented on #1881
We recently redesigned the homepage to ensure that the apps are dynamically loaded and up-to-date.

The change will be included in the next release: https://github.com/blockstack/blockstack-browser/pull/1823

I'm closing this issue out as a result, since I think we've addressed this concern. But please re-open if you think we should still remove apps entirely for some other reason.

[2019-03-20 12:59] #1881 closed

[2019-03-20 13:01] markmhx commented on #1372
This would be essentially a refactor with no functional implications?

[2019-03-20 13:02] markmhx commented on #1368
I'm closing this issue since I believe this PR should resolve it once released soon: https://github.com/blockstack/blockstack-browser/pull/1823

[2019-03-20 13:02] #1368 closed

[2019-03-20 13:11] markmhx commented on #1363
Is this consideration still relevant given the changes we've made since last May? It's not clear to me on the face of it.

[2019-03-20 13:14] markmhx commented on #1355
I'm closing this out since it appears to have been addressed with the above PR and @petec029 given the timing of your report, it's possible you were using a version of the browser before the fix was made.

Please re-open, however, if you or anyone else is still experiencing this in the latest version of the browser.

[2019-03-20 13:14] #1355 closed

[2019-03-20 13:14] markmhx commented on #1343
I'm closing this issue since it appears resolved by https://github.com/blockstack/blockstack-browser/pull/1620

[2019-03-20 13:14] #1343 closed

[2019-03-20 13:17] markmhx commented on #1301
@shankarganesh-pj Sorry for the lack of response here since you posted this issue. Are you still experiencing this problem?

Given the amount of time that has passed since you reported it, I'm going to close out this issue with the assumption that it's no longer a problem for you. But please re-open if that's not indeed the case.

[2019-03-20 13:17] #1301 closed

[2019-03-20 13:17] markmhx commented on #1290
Any of you three able to reproduce this bug in 2019?

[2019-03-20 13:21] zone117x commented on #1481
So far, we have implemented integration tests that have the requirement of testing against a matrix of different web browsers, operating systems, and devices. Given this requirement, the only testing frameworks capable are ones that use Selenium/WebDriver. BrowserStack [lists about all of them here](https://www.browserstack.com/automate/node). Our current e2e tests in this repo use the [lib](https

[2019-03-20 13:25] markmhx commented on #1288
I'm closing this out since it appears resolved by the above PR: https://app.zenhub.com/workspace/o/blockstack/blockstack-browser/issues/1291

[2019-03-20 13:25] #1288 closed

[2019-03-20 13:27] markmhx commented on #1285
This seems like a bug to me, if estimates are known to be materially wrong, but perhaps a low-priority one since ID purchases are currently a low-volume activity?

[2019-03-20 13:28] markmhx commented on #1280
@moxiegirl is this info you'd like to add to the documentation?

[2019-03-20 13:30] markmhx commented on #1278
@zone117x this issue look up your alley?

[2019-03-20 13:35] markmhx commented on #1270
Could you explain a bit more who would encounter this problem, when and why? Is this just for developers or end-users as well?

(Asking as someone not familiar with regtest)

[2019-03-20 13:35] markmhx commented on #1262
Are you still encountering this, @larrysalibra?

[2019-03-20 14:18] larrysalibra commented on #1262
I haven't tried to build the macOS release for at least 6-9 months. @yknl would be a better person to ask.

[2019-03-20 14:19] larrysalibra commented on #1290
I haven't seen this in a long time.

[2019-03-20 16:46] otech47 commented on #1060
If it's worth anything there wouldn't actually be any code in this repo to change since everything seems to be running fine until the [validateProofsService function](https://github.com/blockstack/blockstack-browser/blob/master/app/js/profiles/store/identity/actions.js#L24) is invoked. Then a call to `validateProofs` from the blockstack.js module is what should return the linkedin proof with `vali

[2019-03-20 18:39] yknl commented on #1262
Haven't experienced this. The build process has also changed quite a bit since this issue was opened. I think this is good to close.

[2019-03-20 20:38] otech47 commented on #1060
Should be fixed with https://github.com/blockstack/blockstack.js/pull/635 but if it is merged and deployed, blockstack-browser would need to update the blockstack.js version for this issue to be closed out

[2019-03-21 11:27] #1262 closed

[2019-03-21 11:29] markmhx commented on #1481
Sounds good re: expecting a new QA engineer to take on these considerations.

We haven't decided anything new about labels per se, but meanwhile, I'd encourage us to add all QA-related ones to this epic: https://github.com/blockstack/blockstack-browser/issues/1862

[2019-03-22 15:57] #1556 closed

[2019-03-22 15:57] hstove commented on #1556
Closing this since @zone117x fixed it!

[2019-03-25 14:15] aulneau commented on #1817
This will be resolved with https://github.com/blockstack/blockstack-browser/pull/1882

[2019-03-25 14:48] yknl opened #1886 "Update to blockstack.js v19.1.0"

[2019-03-25 14:50] yknl opened #1887 "Encrypt and store single player app Gaia storage locations to profile.json"
Currently the Browser has no idea what single player apps are being used. If we want to support Gaia hub switching and migrations, the Browser needs to know this information.

[2019-03-25 17:28] markmhx commented on #1857
Also see https://github.com/blockstack/blockstack.js/pull/635

[2019-03-26 20:47] aulneau opened #1891 "Clean up dom attrs/props"
There are many components that have props added to them that get passed along to the dom element which then results in errors/warnings in dev mode. We should clean them up in the entire app.

[2019-03-26 21:12] dantrevino commented on #1887
Would this result in all privacy-focused apps being listed in a user's profile?

[2019-03-26 23:56] yknl commented on #1887
No, we're encrypting the data.

[2019-03-27 13:56] yknl opened #1892 "Collections: Handle collection scopes in auth flow"
To be completed

[2019-03-27 13:56] yknl opened #1893 "Collections: Key generation"
To be completed

[2019-03-27 13:57] yknl opened #1894 "Collections: App permissions manager"
To be completed

[2019-03-27 13:57] yknl opened #1895 "Collections: File manager with roll back capability for collections -"
To be completed

[2019-04-01 14:00] markmhx commented on #1879
@aulneau @yknl @hstove let's discuss the design and dev needs here during our issues review today. I'm assigning to @aulneau in the meantime with the presumption that our first step will be design.

[2019-04-01 14:30] aulneau commented on #1816
So I have this fixed in a local branch. I think the best behavior we can hope for is when a user his cancel, it will close that window. For any auth attempt, the default behavior is such that it opens a new window/tab, thus not having any history to push the user back to. When the tab closes, they will be found with whatever screen they had been on previously. If however they are authing from the

[2019-04-01 14:54] markmhx commented on #1816
@aulneau How does the "Deny" currently work? It sends them to the browser homepage, right?

I'm not too concerned about changing the redirect behavior in this issue, since denying / canceling is a pretty tertiary flow at this point. But, happy to do so if you think it's relatively easy to tackle.

If we do close the window upon cancelation, are there any cases in which the browser didn't actually

[2019-04-01 15:10] aulneau commented on #1816
Yes so typically it would be a user is in 'app a', they'd hit sign in, a new window would open (or tab), and they would hit deny which would bring them to the browser homepage, which they might not have ever been on. Where as with my new update, it would just close the newly opened tab and bring them back to the app they were using. I would suggest we do that instead of redirecting the user to the

[2019-04-01 15:11] aulneau commented on #1816
additionally it might not be super straightforward to always get the app url to send them back to.

[2019-04-01 15:14] aulneau commented on #1816
I believe it is _always_ a new window or tab, unless someone just goes to browser.blockstack.org, but at that point, they could never auth from the sign in flow.

[2019-04-01 22:52] jeffdomke commented on #1816
@aulneau think I finally get all the complexity here. Want to help, but I'm not sure writing out a bunch of abstract paragraphs will cut it. Anyway you can demo your latest thinking, even if just on your local?

[2019-04-02 11:31] markmhx commented on #1816
Just to note that @aulneau I think you mentioned yesterday that since posting the above comments, you realized there are cases in which we load the browser in the same window as the application upon hand-off. So, if we add a case in which we close the browser window upon cancellation, we'd want to ensure that a new window was indeed created upon hand-off and apply that behavior only in that case,

[2019-04-02 13:41] aulneau commented on #1816
@markmhx yes that is correct. For a non-local browser installation, eg someone who only uses browser.blockstack.org, the auth will happen within the same tab.

@jeffdomke yeah I am working on a solution to demo, I can send a link/video/gif later today that should demo the functionality for the two use cases.

This is what I plan on it doing:

Case 1 - user has browser locally installed. Anytime an

[2019-04-02 14:08] yknl commented on #1816
On mobile the deny button sends the user to the Browser home page right now. It would be difficult to make the the deny button redirect back to the app. You would have to send the user to the `redirect.html` page, which needs to be modified to work without a valid auth response. And developers need to modify their app to handle that. I suggest removing the deny button in mobile. There are native b

[2019-04-02 17:40] jehunter5811 commented on #1745
This is still happening. Or it's happening again. I could not load any posts I had made on DPage, Sigle, or AirText. Turns out it was because those apps had been removed from my profile's apps array even though I clearly used them.

Here is my current profile.json:

https://gaia.blockstack.org/hub/16KyUebBPPXgQLvA1f51bpsne3gL7Emdrc/0/profile.json

Here is a screenshot of Sigle with a posts I have

[2019-04-02 19:16] hstove commented on #1745
@jehunter5811 are you able to reproduce this? I.e. is it like the old issue, where you're logging in on multiple devices?

[2019-04-02 19:44] jehunter5811 commented on #1745
Not sure how to manually reproduce it. But it happened for all three of the apps mentioned and logging out for each and logging back in added the app to my apps array (for DPage). Left the others as is for now.

[2019-04-02 20:43] #1280 closed

[2019-04-03 14:31] hstove opened #1897 "When granting the 'publish_data' scope, explicitly state that your usage is known"
When the user is authenticating to an app, the dialogue should have a clear statement, something like "By authenticating to this application, it will be known to the world that you use this application". Adding this to the dialogue is easy, but we'll want to figure out the exact copy that we use.

[2019-04-03 19:50] hstove commented on #1745
Unfortunately I have been unable to reproduce this, trying a couple of different methods, including the method where the bug occurred previously (logging in with multiple devices).

[2019-04-05 18:11] markmhx opened #1899 "Resolve confusion about email at end of onboarding flow"
Upon reviewing TryMyUI videos for App Mining participants in March 2019, we noticed that some new users accidentally think they have to immediately open their email and view the email we've sent them with their magic recovery code.

This issue entails improving the UX at this point in the onboarding flow so that users understand better that referring to this email won't be necessary until a later

[2019-04-05 18:13] markmhx opened #1900 "Ensure that ID creation screen is fast across devices"
Upon reviewing TryMyUI videos for App Mining participants in March 2019, we noticed that several users (especially on mobile devices) spent inordinate amount of times (over 10 seconds) waiting for the progress screen to finish during onboarding in which their ID is created.

This issue entails improving the speed of that screen so the user doesn't have to wait more than a few seconds.

[2019-04-05 18:15] markmhx opened #1901 "Redirect to app instead of homepage when user selects "back" on seed screen during onboarding"
Upon reviewing TryMyUI videos for App Mining participants in March 2019, we noticed that users who select "back" upon viewing the Secret Recovery Key screen during onboarding get redirected to the Browser homepage instead of an app, even when originally referred by an app.

This issue entails ensuring that they are redirected to apps if referred by them.

[2019-04-05 20:42] jeffdomke opened #1902 "Feature: Interrogate blockstack.js version number"
For App Mining and QA testing it is helpful to be able to easily fetch the blockstack.org version number for an app. Could be a feature in the beta mode I suppose. Just needs to print someplace on the console or screen.

[2019-04-08 15:24] thinkverse opened #1903 "UI error: logo not added in pre-release v0.36.1"
`Error while trying to use the following icon from the Manifest: http://localhost:8888/static/images/app-blockstack.png (Download error or resource isn't a valid image)`

Someone forgot to add the Blockstack logo to the v0.36.1 pre-release so the browser tries to fetch something that doesn't exist anymore, so someone that has it, please add it to the static images folder before a proper release.

[2019-04-08 15:30] markmhx commented on #1903
Thanks @thinkverse for this report! We're meeting to Browser needs tomorrow so will make sure to discuss this bug and assign for resolution quickly.

[2019-04-08 15:50] thinkverse commented on #1903
Since your here, the favicon doesn't seem to be working either, seems the server isn't returning it even though it's in the folder structure.

[2019-04-08 17:11] hstove commented on #1903
Hey @thinkverse , can you explain where this image is being loaded? Is this your app's icon?

[2019-04-08 17:21] thinkverse commented on #1903
No, not mine, it's being requested because of the Blockstack browser's [manifest.json](https://github.com/blockstack/blockstack-browser/blob/master/app/public/manifest.json), inside icons it's requesting;
[code]
which isn't added to the pre-release build, causing an error to be thrown, after I downladed the image and added it to the programs static folder the error went away, so the [app/images/ap

[2019-04-09 15:54] #1817 closed

[2019-04-09 15:56] hstove commented on #1841
@yknl did this, it's been merged.

[2019-04-09 15:56] #1841 closed

[2019-04-09 16:05] markmhx commented on #1805
@thaonguyenle Would you mind trying to verify with GitHub again and see if you can recreate this problem? If so and you're able to recreate, we'll dig into solving it.

[2019-04-09 16:09] markmhx opened #1905 "Back button doesn't always work during onboarding flow depending on step"

[2019-04-09 16:10] markmhx commented on #1905
Perhaps related to https://github.com/blockstack/blockstack-browser/issues/1398

[2019-04-09 16:13] markmhx commented on #1290
We should update the version of blockstack.js integrated into https://contribute.blockstack.org/login

[2019-04-09 16:13] markmhx commented on #1290
I'm closing this issue out since we believe we've fixed the token split error originally reported.

[2019-04-09 16:13] #1290 closed

[2019-04-09 16:30] thaonguyenle commented on #1805
Hey,

I can’t even remember this issue. So most likely not. Was this from a long
time ago? Thanks for following up then.

On Tue, Apr 9, 2019 at 9:05 AM Mark Hendrickson <notifications@github.com>
wrote:

[2019-04-09 16:47] markmhx commented on #1805
Yep from January. I'll close out then, thanks!

[2019-04-09 16:51] markmhx commented on #1848
@jehunter5811 could you provide any more info regarding @hstove's inquiries above so we can track this down better?

[2019-04-09 17:16] zone117x opened #1906 "[QA] End-to-end test flakiness"
PRs almost always have failing e2e tests due to flakiness.

_Flakiness defined as: arbitrary test failures, often a random test and browser/environment, where re-running the test with no code changes will yield different results_.

Here are some possible causes that may be compounding to make these happen as often as they do. None of these have been thoroughly debugged and/or validated.

* Ineffic

[2019-04-09 18:18] jehunter5811 commented on #1848
I can't replicate this anymore. No idea if Linux users are still having a problem because I don't have a Linux machine to test on.

[2019-04-10 11:39] markmhx commented on #1848
@jehunter5811 thanks for the update. It seems as though the original user was unable to provide us more information to diagnose, so perhaps we ought to close this issue until we hear of more reports. Please let me know, though, if you'd like to keep it open while you follow up with them.

[2019-04-10 11:39] #1848 closed

[2019-04-15 17:48] timstackblock commented on #1398
The web app works as expected I tested this on my Galaxy 9 handheld device. Then I ran a test with a cloud device both worked exactly the same. Creating a new account then selecting the back button after the password is entered but before the email is entered still allows the user to visit a valid blockstack ID account page. You will have to reload the page to refresh the browser but your ID is cr

[2019-04-15 19:41] timstackblock commented on #1398
TEST RUN 1
Google Pixel 3 XL
Release2018, November
OSAndroid 9.0
BrowserChrome
Screen Size6.3 in - 2.76 x 5.67 in
Resolution1440 x 2960 px
Viewport412 x 846 dp
Aspect Ratio18.5 : 9

TEST RUN 2
Samsung Galaxy S9 Plus
Release2018, March
OSAndroid, v9
BrowserChrome
Screen Size6.2 in - 6.2 x 2.9 in
Resolution1440 x 2960 px
Viewport412 x 740 dp
Aspect Ratio18.5 : 9

TEST RUN 3
Samsung Galaxy Note 9
Rel

[2019-04-15 20:10] timstackblock commented on #1398
This also worked in Android studio I think we can close this issue, I believe it may have been with an older android phone and OS.

[2019-04-15 20:10] #1398 closed

[2019-04-16 15:57] timstackblock commented on #1745
I haven't been able to reproduce this issue either @zone117x is going to advice me on some places where he believes the code will break

[2019-04-17 02:56] blockpac commented on #1080
Any progress on the Linux install? (Preferably without using Docker)

[2019-04-19 15:56] zone117x opened #1908 "Stale profile.json (data loss)"
Related to https://github.com/blockstack/blockstack-browser/issues/1745
@timstackblock and I decided to open a new issue for this since the bug(s) and solution(s) may be a superset of the original issue.

----

Several actions performed within a blockstack-browser tab cause a cached outdated profile.json to overwrite any changes made from another tab.

### Reproducible Example
 1. Keep one or more

[2019-04-19 18:03] zone117x opened #1909 "Bugs with non-default Gaia Hub & multiple accounts"
* Bugs with multiple accounts: several areas performing gaia reads/writes use an app-state-singleton setting for the gaiahub rather than an account's specific gaiahub config. One bug causes is that only the first account can use a private gaiahub, accounts N+1 will fail to connect.
* Default gaia hub is always used initially when restoring account, and eventually gets fixed as side-effect by later

[2019-04-19 20:21] zone117x opened #1910 "Discrepancy between the gaiahub in zonefile vs the gaiahub in the profile.json"
A name's zonefile has an implicit pointer to a gaiahub server via the `profile.json` location.
Example `zonefile` in `https://core.blockstack.org/v1/names/zone117x.id`:
[code]

That `profile.json` is then fetched, and the `gaiaHubUrl` field is used to `connectToGaiaHub`, which roughly does the following:

[code]

The profile.json write endpoint derived from connection handshake *must* either resol

[2019-04-19 20:46] jcnelson commented on #1910
This is something I spoke with @markmhx about as well.  The high-level concern is that the user may choose to switch Gaia hubs after they register their Blockstack ID, and when that happens, they'll want both their app data and profile migrated over.

The trouble is, migrating to a new Gaia hub requires updating the name-to-profile resolution path so that the profile in the new Gaia hub gets resol

[2019-04-19 21:14] zone117x commented on #1910
I think @jcnelson's proposal works really well and is easy to implement.
@kantai - thoughts?

[2019-04-19 21:23] kantai commented on #1910
Yeah -- this proposal seems like it would work pretty well to me.

[2019-04-19 21:48] zone117x commented on #1550
The current UX for multiple IDs is still poor. I read through the linked issues and forum posts, and I'm not really understanding the problem with just restoring all names/identities on account restoration.

Perhaps with a limit of around 10-20 due to how slow our crypto appears to be when restoring (haven't debugged / profiled completely yet, idk if this would actually be a problem or not).

If a

[2019-04-19 23:38] larrysalibra commented on #1550
I don’t see any problem with automatically restoring - it just never got done.

Another approach to unwanted IDs could be to hide IDs that don’t have names associated with them.

If the user wants to delete the ID they’d have to revoke the name. (Send a revoke transaction)

[2019-04-19 23:47] zone117x commented on #1550
We should just get it done then. I didn't know about revoke transactions. That makes it even easier.

[2019-04-22 16:11] moxiegirl commented on #1550
Is this button actually destroying the IDs or is it simply hiding them?  I wasn't aware they could be removed. If they are being hidden the button should be *Hide* and we would need a *Reveal Hidden IDs* UX in case people had some question against these IDs.

[2019-04-23 01:05] larrysalibra commented on #1550
@moxiegirl

IDs can be revoked on the blockchain level by sending a revocation transaction. There's no mechanism for doing this in the current browser. It would cost money to send such a transaction. I'm not sure how (if?) revocation works for subdomains. cc @kantai

They can also potentially be hidden at the browser level:

+1 to this

[2019-04-23 14:03] timstackblock commented on #1745
![Screen Shot 2019-04-23 at 10.02.54 AM.png](https://images.zenhubusercontent.com/5ca24ab84ae8ce257af826b8/43f28c77-fc56-4457-bf11-573d3c999144)

[2019-04-23 14:13] timstackblock commented on #1745
I ran into an issue when I hit a problem with AirText. I logged out of browserstack and back into the account and the issue went away. This was the only time I could reproduce the problem it is not consistent.

[2019-04-23 14:14] timstackblock commented on #1745
![Screen Shot 2019-04-23 at 10.02.54 AM.png](https://images.zenhubusercontent.com/5ca24ab84ae8ce257af826b8/486b2ed0-cba5-4a33-81db-5d1e116cb521)

![Screen Shot 2019-04-23 at 10.11.02 AM.png](https://images.zenhubusercontent.com/5ca24ab84ae8ce257af826b8/e91288a9-d0f6-4cc0-b3eb-dfbfb7b79b9d)

[2019-04-23 14:37] #1805 closed

[2019-04-25 02:45] nottoseethesun commented on #978
Port `8888` is a total blocker for a lot of dev's these days.

[2019-04-26 12:04] markmhx opened #1911 "Resolve problems with custom Gaia hub configuration"

[2019-04-26 12:29] markmhx commented on #1702
This appears to be addressed by https://github.com/blockstack/blockstack-browser/pull/1898

[2019-05-02 16:39] lord-aerion commented on #1060
Is there any update on this? My LinkedIn status still shows up as _Unverified_, even after creating a new post with the requested text and updating the URL of the post.

[2019-05-02 16:50] otech47 commented on #1060
@lord-aerion the pre-release for v0.36.1 of the blockstack-browser installs [blockstack@18.3.0](https://github.com/blockstack/blockstack-browser/blob/v0.36.1/package-lock.json#L2627) as a dependency which doesn't have blockstack/blockstack.js#635 merged in yet.

When blockstack-browser has bumped the version on blockstack.js then this should be fixed.

[2019-05-02 16:56] lord-aerion commented on #1060
OK, thanks. Is there a time frame for this? I'd hoped that waiting a month and a half since the last update would have seen the fix implemented.

Don't get me wrong, it's great to see that two and half years since the issue was first reported a fix is actually in the works, but it just feels like it's dragging on unnecessarily.

[2019-05-02 17:02] otech47 commented on #1060
Not sure how long it usually takes to bump the blockstack version for the browser especially for a major version but maybe @zone117x @yknl can give a better idea

[2019-05-03 17:13] #1702 closed

[2019-05-03 17:13] #1764 closed

[2019-05-03 17:13] #1816 closed

[2019-05-03 17:13] #1851 closed

[2019-05-06 17:36] lgalabru opened #1912 "Handle vulnerabilities from npm audit"
12 vulnerabilities (5 moderate, 7 high) found in version `0.36.1`

[code]

[2019-05-07 14:26] hstove commented on #1902
This is blocked by a ticket in blockstack.js to expose the version to the browser via an auth request.

[2019-05-08 16:19] timstackblock opened #1915 "Forum login fails using blockstack ID login"
**Describe the bug**
Blockstack forum login fails using the Blockstack ID login option. When the user is trying to log into the blockstack browser web app they are NOT taken into the forum as expected but asked to select the forgot your password link and receive an error message.

**See video of bug here: http://somup.com/cqhjo5naUo**

**To Reproduce**
Steps to reproduce the behavior:

_USE A VM O

[2019-05-08 16:55] yknl commented on #1915
Thanks @timstackblock, this issue should be added to https://github.com/blockstack/blockstack-ruby

[2019-05-08 21:41] timstackblock commented on #1915
Moved this issue to  https://github.com/blockstack/blockstack-ruby and closing it in this repo

[2019-05-14 16:10] timstackblock opened #1916 ""Select an ID" Auth popup window overlaps the deny & signin buttons"
**Describe the bug**
When logging into the blockstack forum with a blockstack ID the "Select an ID" Auth popup window overlaps the deny & signin buttons. The window dimensions are auto-set to a small area as a result the two buttons are on top of each other and the user has to resize the window to login.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the blockstack browser
2. Click on

[2019-05-14 17:15] #1912 closed

[2019-05-15 14:57] markmhx commented on #1916
It seems the key solution here is allowing the modal to expand vertically as much as needed to fit its content, even if that means that it runs off the bottom of the viewport, which needs to scroll as a result.

[2019-05-15 19:14] timstackblock opened #1918 "Safari is not saving passwords for blockstack browser when creating an ID"
**Describe the bug**
Safari is not saving passwords for blockstack browser when creating a Blockstack ID

**To Reproduce**
Steps to reproduce the behavior:
1. Verify that you are prompted to save passwords on other sites like google when creating a user in Safari
2. Go to browser.blockstack.org in safari
3. Create a new Blocklstack ID
4. When entering the password you will notice there is no promp

[2019-05-16 15:48] moxiegirl opened #1919 "Error adding custom Blockstack ID"
I have been trying to add a custom Blockstack id by navigating to the profile page and clicking on the More button. Unfortunately, the feature doesn’t appear to work. It always results in an error: Error submitting name registration

https://forum.blockstack.org/t/adding-a-custom-blockstack-id/8059

[2019-05-17 15:35] lord-aerion commented on #1919
I'm experiencing the same issue.

The console logs the following messages:

[code]

[2019-05-17 22:03] HaroldDavis3 commented on #1919
If I’m not mistaken this is the problem that requires a refresh of the page after entering the session password for the new name.

Note: This needs to be repeated when resetting your browser as well if you have more than one name attached to one key.

[2019-05-20 14:26] moxiegirl opened #1921 "Learn more about storage with Blockstack goes to incorrect link"
![image](https://user-images.githubusercontent.com/1347209/58028962-84203400-7ad0-11e9-8c98-770484fe19e1.png)

^^ This link is going to the wrong place. It should be going here:

https://docs.blockstack.org/browser/storage-provider.html

[2019-05-22 12:56] markmhx opened #1923 "Ensure that Edge users on Windows without local install don't encounter popup"
As reported by @jehunter5811 [in Slack](https://blockstack.slack.com/archives/C074LC7RC/p1558527785122400), Edge users on Windows appear to be encountering the following popup when trying to sign in with Blockstack despite the page redirecting properly meanwhile.

<img width="412" alt="Screen Shot 2019-05-22 at 7 21 43 AM" src="https://user-images.githubusercontent.com/28991/58175929-85548b00-7ca1

[2019-05-22 12:59] jehunter5811 commented on #1923
Let me know if you need the TryMyUi test ID. I assume you guys have access to all the videos.

[2019-05-22 13:00] markmhx commented on #1923
Good to know this surfaced via TryMyUI. Can you provide a link to the videos page there along with the specific videos ID? I think that should enable us to look.

[2019-05-22 13:24] markmhx commented on #1923
From @zone117x:

<img width="1462" alt="Screen Shot 2019-05-22 at 15 23 35" src="https://user-images.githubusercontent.com/28991/58177954-97382d00-7ca5-11e9-8b25-861f736ba4cd.png">
<img width="860" alt="Screen Shot 2019-05-22 at 15 23 37" src="https://user-images.githubusercontent.com/28991/58177955-97382d00-7ca5-11e9-9adc-9137d71344f2.png">

So we should start here by testing if this behavior is

[2019-05-22 14:40] AcidLeroy commented on #1900
Not sure if this helps, but we noticed that we are failing on the last `hub_info` call and then we never get redirected to the app that requires the block stack id. I have a screenshot of the issue we encountered when running on an older iPhone (6) and attempt to sign up with blockstack after the user was directed away from our site to do so. They never end up getting redirected properly after the

[2019-05-25 01:45] bauhouse commented on #1919
Thanks, @moxiegirl, for adding this issue on my behalf.

As requested, here are the details of my environment:

- **Browser:** Google Chrome Version 74.0.3729.169 (Official Build) (64-bit)
- **Platform:** macOS 10.14.5 (18F132)
- **Blockstack ID:** `bauhouse.id.blockstack`

As mentioned in the original forum post, I have been trying to add a custom Blockstack id by navigating to the profile page a

[2019-05-28 12:26] lord-aerion commented on #1919
Is there any movement on this issue?

I've been trying to register my preferred ID for several weeks now, and it appears to hinge on a simple 404 error; surely this can be fixed in mere minutes?

[2019-05-28 13:21] timstackblock opened #1925 "BUG REPORTED IN FORUM: Error submitting name registration, I have latest version"
FORUM POST
https://forum.blockstack.org/t/error-submitting-name-registration-i-have-latest-version/8074

**Describe the bug**
Error submitting name registration, in Windows 10

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://browser.blockstack.org/profiles/i/add-username/0/search
2. Enter a valid name and search for it
3. Select the option to register the name when it appears
4.

[2019-05-28 20:13] yknl opened #1926 "Name with URL ending in `/$address/$number/profile.json` no longer updates"
@jcnelson commented on [Sun May 26 2019](https://github.com/blockstack/blockstack.js/issues/669)

It seems like names that end in a `$number` that is not `0` no longer update.  Not sure if this is due to a regression in blockstack.js or the browser.  The reliably-broken username to test this with is `khunter.id`.

[2019-05-28 20:24] friedger opened #1927 "Linux instructions incorrect"
Linux instructions are out dated:
[code]
... does not exist anymore.

[2019-05-29 14:01] moxiegirl commented on #1905
@markmhx Forum report looks like this bug.

https://forum.blockstack.org/t/cant-go-back/8176/2

[2019-06-02 20:46] friedger opened #1929 "Authentication does not work if core.blockstack.org is not responding"
The browser depends on core.blockstack.org. Users should have the possibility to choose from different core nodes.
#GoogleIsDown

[2019-06-02 21:32] spindriftur commented on #1929
found this in their telegram chat
<img width="375" alt="Screen Shot 2019-06-02 at 5 32 45 PM" src="https://user-images.githubusercontent.com/26857602/58767640-7224a380-855c-11e9-8fc7-e6b02dcd7f7e.png">

[2019-06-02 21:49] spindriftur opened #1930 "Blockstack token voucher"
Hey, can I still claim this?!
<img width="725" alt="Screen Shot 2019-06-02 at 5 47 37 PM" src="https://user-images.githubusercontent.com/26857602/58767818-b7e26b80-855e-11e9-8bd6-d4ada7fb1d48.png">

[2019-06-03 09:08] larrysalibra commented on #1929
Came here to report this as well. It looks like it’s also dependent on an api from app.co. It should work if all Blockstack PBC infrastructure is down.

[2019-06-03 09:09] larrysalibra commented on #1929
If the user’s core node is down, it should say something like “your blockstack core node xxxx.y.com is down” - click here to choose another.

[2019-06-03 15:42] moxiegirl commented on #1930
@spindriftur please send an email to support@stackstoken.com to see about your voucher

[2019-06-03 15:42] #1930 closed

[2019-06-04 09:46] friedger commented on #1709
WebAuthn is now a W3C Recommendation: https://www.w3.org/blog/webauthn/2019/03/10/web-authentication-level-1-is-a-w3c-recommendation/

[2019-06-04 11:07] markmhx commented on #1905
Thanks for the added case, @moxiegirl. This appears to be another one in addition to when I saw it during the seed-persistence screens during registration (aka when the user opts to view, persist and confirm their seed in addition to their password).

[2019-06-04 14:19] #1799 closed

[2019-06-04 14:19] #1886 closed

[2019-06-04 14:27] #1925 closed

[2019-06-04 14:34] moxiegirl commented on #1925
Closed by: https://github.com/blockstack/blockstack-browser/pull/1928

[2019-06-04 14:49] markmhx commented on #1900
Upon discussion, we want to see first if https://github.com/blockstack/blockstack.js/pull/659 resolves this issue then proceed to consider other possible solutions if it doesn't.

[2019-06-04 17:54] zone117x commented on #1900
Just left a comment about this in the referenced issue -- see https://github.com/blockstack/blockstack.js/pull/659#issuecomment-498774222

Cross posting some of the information to here..

----

I renamed the referenced issue to `[Experimental] ...` which more accurately reflects what this PR is. It's not currently in being worked on. However, some previous work related to this issue has recently m

[2019-06-04 18:25] zone117x commented on #1900
To clarify what I think needs to be done:

The first step would be profiling & testing to determine what are the actual bottlenecks are in the onboarding process. This seems like QA/testing work. For example:
* Network IO - is this a major contributing factor? Is it asset size constraints or some API endpoint response latency? Which assets or API endpoints?
* CPU & memory - at what level of hardwa

[2019-06-05 10:20] markmhx commented on #1900
Thanks @zone117x; profiling the bottlenecks thoroughly sounds like a good idea to me. @timstackblock do you want to take this on?

[2019-06-05 14:37] markmhx commented on #1923
@timstackblock Note that the TryMyUI video that exhibits this problem in Windows as reported originally for Graphite has ID #475128. You can find it within the "Graphite Webapp Test - May" folder upon signing in with our team account.

[2019-06-06 18:14] timstackblock commented on #1923
Testing this now

[2019-06-06 18:56] timstackblock commented on #1923
@jehunter5811 What version of Edge are you using and what windows OS do you have? I just tried this with Microsoft Edge 42.17134.1.0 on windows 10 and I did not run into this issue. Also I assume you are using the web app because this ticket has "without local install" am I correct to assume you are using the broswer.blockstak.org web app?

[2019-06-06 19:49] timstackblock commented on #1900
Sure I can take a look @markmhx.

Just to clarify the task at hand, we want to get an idea of how the current on-boarding experience is across several mobile devices. Then work on fixing this problem after we find the bottlenecks in our mobile on-boarding flow. Is this correct?

Should I begin verifying the current mobile on-boarding flow and start logging defects?

[2019-06-06 20:35] timstackblock commented on #1915
I am reopening this ticket this issue is back.

<img width="793" alt="Screen Shot 2019-06-06 at 4 33 29 PM" src="https://user-images.githubusercontent.com/49165468/59064786-18ccb500-8879-11e9-9512-ee6a200bf252.png">

[2019-06-06 20:47] timstackblock commented on #1915
https://github.com/blockstack/blockstack-ruby/issues/7 wrong repo moving the convo to blockstack-ruby

[2019-06-06 20:47] #1915 closed

[2019-06-07 11:15] markmhx commented on #1900
Yep that's correct, but note that this issue and investigation specifically concerns just _performance_ bottlenecks (aka where in the onboarding flow things get really slow, say 3+ seconds, between transitions).

So yep, please do verify the current mobile flow (and desktop too, if you'd like – though mobile seems to be the reported culprit) and log bugs related to slowness where you see them.

Mu

[2019-06-10 19:44] cuevasm opened #1932 "Update Blockstack browser email storage to new provider"
Currently emails get pointed at MailChimp, we're no longer using that, should be pointed to Mailigen. Consider checkbox to offer newsletter sign up at the same time for those interested.

![image (8)](https://user-images.githubusercontent.com/6131188/59221986-64cf7080-8b7d-11e9-9971-d70d8c696a08.png)

[2019-06-12 13:46] MichaelFedora commented on #1887
I have always been for adding an encrypted portion of the profile.json (or other file in the root directory) for browser-related information. This would include the email, identities to restore, and (I suppose) apps logged into -- **but it should go according to a schema so any browser can open it**.

It could simply be encrypted via the users public/private key combination, or just AES-192'd with

[2019-06-12 13:48] friedger commented on #1825
Implementation can be found here under MOZ 2 license: https://github.com/MichaelFedora/mercurius

[2019-06-17 14:44] timstackblock commented on #1900
1. Android mobile test run everything looks good with Chrome.

2. Android mobile test run has long timeouts in Firefox.

VIDEO OF THE ISSUE
https://screencast-o-matic.com/watch/cq1bIgTEkT

There is about a 60 second or more loading time for firefox between screens during onboarding. This is happening on multiple android devices you can use Galaxy 9 or Pixel 3 and the lag is consistent.

STEPS TO R

[2019-06-17 14:57] timstackblock commented on #1900
1. Iphone mobile test run everything looks good with Chrome.

2. Iphone mobile test run has very long time outs for Safari

VIDEO OF THE ISSUE
https://screencast-o-matic.com/watch/cq1b2wTEEF

STEPS TO REPRODUCE
Create a new ID for blockstack browser using Safari on an Iphone. This happens when creating a new blockstack ID after the user enters their password twice. The loading circle will continue

[2019-06-17 19:54] hstove commented on #1929
You can go to the 'API Settings' page to change the URLs you'd like to use for Blockstack Core requests:

![settings](https://cl.ly/4f1827dde561/Image%202019-06-17%20at%2012.53.00%20PM.png)

It would be good to have better errors here. There is also that app.co API call, which is not configurable, and should have a better backup in case of failure.

[2019-06-18 12:40] timstackblock commented on #1900
See updated notes with a physical device in my hand as opposed to browserstack we still have an issue but the time is a bit more manageable.

[2019-06-19 19:17] #1927 closed

[2019-06-19 21:44] #1624 closed

[2019-06-19 21:44] #1783 closed

[2019-06-20 02:03] kevins commented on #1919
I don't think you can get a custom usernames anymore. The onboarding process only allows you to use the blockstack.id usernames. When I made my account, they made me get a username.blockstack.id name but it didn't add the username to my profile right away.

They gave me the option to create a custom id by paying bitcoins. After getting an error for a few days, my profile finally updated to show th

[2019-06-21 15:54] yknl commented on #1919
This should be fixed in the latest version v0.36.3. https://github.com/blockstack/blockstack-browser/releases/tag/v0.36.3

[2019-06-22 19:20] Myer commented on #1749
I cannot agree more on this issue. I too was struggling to understand why a new password was needed and what the difference between the "Secret Recovery Key" and the "Magic Recovery Code" are.
Seriously, the sign-in flow is really confusing. It took me over two hours to search and research all this stuff and still I think I only understand like 20% why what is being used.

At the same time the doc

[2019-06-25 14:18] markmhx commented on #1749
Thanks for your thoughts here, @Myer 🙏 And my apologies that you've been running into similar difficulties; we hope to clarify this all soon.

To your questions – you're right that you can't change your original Blockstack password (for use with your "Magic Recovery Code") and you can't change your 12-word "Secret Recovery Key" to a 24-word one either.

Can you explain a bit why you'd want a 24-wo

[2019-06-26 09:36] yunsite opened #1935 "how to add I18N for other language users?"
add I18N for other language users?

[2019-06-26 20:07] Myer commented on #1749
Yes, for security. The longer the better since you'd copy-paste it anyway from your password safe.

It looks like my "Magic Recovery Code" is already burned because every password I try does not work. (I've tried all passwords I've saved in my password safe when I created this identity sometime in 2015. I even tried the Onename-password which btw still works when I login to onename.com. I also fou

[2019-06-27 07:55] markmhx commented on #1749
The magic recovery code was indeed introduced later (around mid-2018) so if you transferred from Onename to Blockstack in 2017, I presume that you only received a secret recovery key and no magic recovery code. And as such, you'd need the secret recovery key to access your ID now.

You wouldn't have received an email after transferring to Blockstack either, since we didn't start sending emails upo

[2019-06-27 09:35] Myer commented on #1749
It's in a txt-file I have saved in my password safe which looks like this:
![Anmerkung](https://user-images.githubusercontent.com/2845251/60254975-3072e880-98cf-11e9-874c-87a24793e885.png)

[2019-07-01 11:40] markmhx commented on #1908
@timstackblock Would you consider this bug P2 or P3?

[2019-07-01 14:13] markmhx commented on #1919
@lord-aerion @bauhouse Could you confirm that this bug is now resolved for you?

[2019-07-02 08:28] yunsite opened #1937 "404 of run as web with blockstack-browser?"
I have install  blockstack-browser as web in https://tex.fund:8888/.

and let dapp kown to use it to auth:https://tex.fund:8888/auth.

but run with 404.
https://tex.fund:8888/auth?authRequest=eyJ0eXAiOiJKVdddxxxxxx.....

[2019-07-02 14:25] hstove commented on #1937
I'm not sure how to diagnose this - it looks like the DNS is not setup correctly, but it does not appear to be an issue with the Browser code in and of itself.

[2019-07-02 14:27] markmhx commented on #1935
Thanks for bringing this up, @yunsite. We have yet to internationalize / translate the browser. I'm changing the title of this issue to reflect the general work that we'd need to do for that to happen.

[2019-07-03 00:48] kevins commented on #1919
Now when I sign up it doesn't even give me the option to create a "username.id" ID and just makes a "username.blockstack" ID

[2019-07-03 08:51] yunsite commented on #1937
but it's work well with create blockstack ID.

[2019-07-03 09:29] larrysalibra commented on #1937
I’m unable to open the url you provided.

It might be related to the URL being too long for your server. This is something you can adjust in your server’s configuration. Another thing to check is that it’s set up to rewrite requests properly for a single page app.

[2019-07-03 10:54] markmhx commented on #1919
@kevins That should be expected during sign up, then afterwards you should be able to register more IDs with ".id" through the browser by navigating to the "Identity" tab.

[2019-07-05 02:15] kevins commented on #1919
@markmhx It works now. Thanks. The price for the custom names went up by a lot though :(

[2019-07-05 11:36] markmhx commented on #1919
Sorry about that 😞 We're moving to our own blockchain in part because of BTC price concerns.

[2019-07-08 14:20] markmhx commented on #1749
Password confusion related to this issue appears here on the forum as well https://forum.blockstack.org/t/doubt-on-passwords/8467

[2019-07-16 14:18] #1919 closed

[2019-07-18 00:24] john-light opened #1939 "Add feature to transfer a name to another address"
It is possible to register a name in the browser but it is not possible to transfer a name to another address in the browser. Currently users are directed to use the blockstack-cli tool for this task. Users should instead be able to transfer a name to another address from the browser.

[2019-07-22 17:25] justindthomas commented on #1060
Still apparently an issue? I tried to re-verify since my verification from some years back stopped working. No luck.

[2019-07-24 02:08] msfeldstein opened #1941 "Upgrading publish scope has no effect"
If you have an app that uses the default scope, then at some point update it to use the publish_data scope, anyone who's already logged in will continue not having their data available in their profile.json's apps section, so the data won't be published.  You have to clear your localStorage in the browser, reset yoru profile, and restart the mac app to actually get data published.

It also creates

[2019-07-24 09:53] larrysalibra commented on #1060
@justindthomas I'm not aware of any work that's been done on the linkedin proof.

[2019-07-25 08:35] larrysalibra commented on #1060
I think we should consider removing LinkedIn as an option - it seems too problematic to keep

[2019-07-26 18:18] friedger commented on #1939
There is already code there. See #1924

[2019-07-26 20:02] john-light commented on #1939
@friedger great to see! They can close this issue when that code is merged and pushed to prod :+1:

[2019-07-31 20:41] jehunter5811 opened #1943 "Onboarding Flow When Supplying Custom Gaia Hub URL Does Not Redirect Back to App"
When onboarding as a new user who chooses to provide their own Gaia Hub URL, the onboarding process does not return the user to the app they were signing up at. It only gives the option to return to blockstack.
This was after kicking off a new user sign up flow from app.graphitedocs.com

![Screen Shot 2019-07-31 at 3 37 34 PM](https://user-images.githubusercontent.com/10519834/62246605-9c061500-b3

[2019-07-31 21:02] jehunter5811 commented on #1943
Disregard. This was the result of a CORS error I introduced. After resolving the error, the flow works as expected.

[2019-07-31 21:02] #1943 closed

[2019-08-01 04:06] blockpac opened #1944 "Configuration option for Public listing of multiplayer apps in user profile"
According to this post at https://forum.blockstack.org/t/public-listing-of-multiplayer-apps-in-user-profile/7653 it is currently not possible to control the visibility of the list with 'used dapps' through the Blockstack Browser.

With regards to privacy acts like the GDPR I believe the decision for publication of this list should be up to the user and it should ideally be configurable through the

[2019-08-01 04:10] blockpac commented on #1897
@hstove similar but more impactful issue raised here https://github.com/blockstack/blockstack-browser/issues/1944

[2019-08-07 17:40] timstackblock commented on #1918
@jeffdomke adding this to https://paper.dropbox.com/doc/DevX-Q3-2019--AiZQbPfKFbY1jDmfXRM8_nrhAg-QNvrtrkmUB01dI5QmQNtd

[2019-08-07 17:43] timstackblock commented on #1923
@jeffdomke adding this to https://paper.dropbox.com/doc/DevX-Q3-2019--AiZQbPfKFbY1jDmfXRM8_nrhAg-QNvrtrkmUB01dI5QmQNtd

[2019-08-07 17:45] timstackblock commented on #1909
@jeffdomke  this is related to the .json profile issue but specifically using more that 1 Gaia hub or multiple accounts so we should take this into consideration in the rebuild adding this to your doc https://paper.dropbox.com/doc/DevX-Q3-2019--AiZQbPfKFbY1jDmfXRM8_nrhAg-QNvrtrkmUB01dI5QmQNtd

[2019-08-07 17:47] moxiegirl commented on #1903
@markmhx this is still a problem when testing with the local client.  Working with the hello-world the manifest is:

[code]

This works fine when opening with the webapp:

![image](https://user-images.githubusercontent.com/1347209/62645198-90ae6e80-b900-11e9-95ac-91837ece8fde.png)

But fails when opening the **same** hello-world with our client.

![image](https://user-images.githubusercontent.com/

[2019-08-07 17:53] moxiegirl opened #1945 "Select an ID screen in onboarding is missing widgets"
This is what I get logging in through the client, notice I get a **Deny** button.

![image](https://user-images.githubusercontent.com/1347209/62645497-3235c000-b901-11e9-8634-3849b0f9e265.png)

This is what I get logging in through the webapp, notice no **Deny** button.

![image](https://user-images.githubusercontent.com/1347209/62645573-55f90600-b901-11e9-9709-ee9f6f052d82.png)

And in neither di

[2019-08-09 14:20] markmhx commented on #1945
The "Deny" button has been replaced deliberately with the "Cancel" button up top left. I don't believe the old modal had a "Create new ID" option but could be wrong. Any idea when you last saw that / what version so we can cross-check?

[2019-08-19 13:39] GinaAbrams opened #1946 "Some apps fail to auth in Chrome"
This might be a repeat issue, but Blockstack apps have been failing to auth me in via chrome or simply not functioning, but they are working in other browsers. Example below:
<img width="1362" alt="Screen Shot 2019-08-19 at 9 27 17 AM" src="https://user-images.githubusercontent.com/30627583/63269902-0998b900-c265-11e9-8738-88f8cf4a0ac1.png">

[2019-08-20 17:40] hstove commented on #1945
We never had 'create a new ID' on this specific screen. The reason you're seeing "Deny" in your native app is likely because you have an old version installed.

There is a long-standing issue where you don't see your other IDs unless you go into the app and select 'create a new ID', which will load your next ID if it already exists.

[2019-08-20 18:46] moxiegirl commented on #1945
![image](https://user-images.githubusercontent.com/1347209/63375108-fc9cc800-c33f-11e9-883d-23a895fe27b2.png)

^^ I do have an older version of the local app; that's where some of the confusion came in.

[2019-08-21 13:09] timstackblock opened #1947 "User reported issue in FF and Safari #6523 Blockstack browser keeps asking me to recover ID"
This issue was reported by a user to support he is having an issue with blockstack browser with FF and Safari

--------------------------------------------------
#6523 Blockstack keeps asking me to recover ID
Submitted
August 19, 2019, 05:23
Received via
Web Form
Requester
Stanislav <stanislav@tutanota.de>
Status
Open
Type
-
Priority
-
Group
Support
Assignee
-
Stanislav Aug 19, 05:23
I tried both

[2019-08-21 13:38] timstackblock commented on #1947
Here is a video of the issue in firefox: http://somup.com/cqjrIveTwQ

I was able to reproduce this issue in Firefox with the Zinc app. I do not have the same error with Graphite it seems app specific.

But when I attempt to login to Zinc with the Blockstack option in Firefox I get a dialog pop up that give me two option use firefox or use the Blockstack app.

<img width="1417" alt="Screen Shot 201

[2019-08-21 13:49] timstackblock commented on #1947
The issue also occurs in Safari but Safari does not have a dialog pop up like Firefox.
Video of the issue: https://screencast-o-matic.com/watch/cqjrIpt6ll

Unlike Firefox I see the issue in both Graphite and Zinc. There appears to be a really quick error message that flashes to fast for the user to read then they must sign-in to proceed into the app.

[2019-08-21 16:58] jeffdomke commented on #1880
Just reviewed 50 onboardings on TryMyUI and the only person who was truly stuck didn't have their password or secret key handy and struggled with the upgrade (which they probably didn't even care about or understand). Would like to consider removing the password, we can still allow users to approve/deny.

[2019-08-22 13:43] markmhx commented on #1880
Any idea how many of those 50 onboardings needed upgrades and what percentage that needed them succeeded vs. not? To get an idea of the known friction size here.

[2019-08-22 13:58] jeffdomke commented on #1880
I wasn't specifically looking for this so not certain. Only one was stuck and they ended up creating a new ID. I don't recall seeing any others. However, just based on the situation, we know that 100% of them will encounter this the next time we upgrade, so that seems like the real issue here.

[2019-08-22 13:59] jeffdomke commented on #1880
I know TryMyUI is leaning more heavily on repeat testers so we can expect this to keep increasing. I would say about 50% of the testers this month were repeats. Assuming we upgraded the browser now, next time it could as many as ~500-1K people.

[2019-08-22 14:06] markmhx commented on #1880
I suppose I'm wondering how much to invest in removing it from the current browser vs. waiting for the new one to launch without passwords in general (resolving this problem implicitly).

Do we consider it a big enough problem to resolve for TryMyUI in the short-term (within next 3 months) even if all repeat testers make it through the password-based upgrade path? Or is it only a problem if a cert

[2019-08-22 14:08] jeffdomke commented on #1880
If new browser is released = massive problem. If not = tiny problem.

[2019-08-22 14:49] timstackblock commented on #1947
In Safari we get this error message which flashes for 1 second before we are asked to re-auth

![failed](https://user-images.githubusercontent.com/49165468/63524549-31d52180-c4ca-11e9-80e0-6f812f274708.png)

Here is a video of the Safari flow @yknl https://screencast-o-matic.com/watch/cqj325tlfq

[2019-08-22 14:55] timstackblock commented on #1947
URL on the ZINC page
https://zincwork.eu.auth0.com/login?state=g6Fo2SA2R1F0TmpiVFhubENvNU15bElXZXJZdDAzVHpRQmlhZaN0aWTZIEx5X1dDU3pWcTQ0T3FZWWJpWVMtQ1c4TDZFVHpyeGZ1o2NpZNkga3VSbWhzTGkxcjBoeGJVVDRLOENiY3NzaU9qVFZ1TWw&client=kuRmhsLi1r0hxbUT4K8CbcssiOjTVuMl&protocol=oauth2&response_type=code&redirect_uri=https%3A%2F%2Fzinc.work%2Fcallback&scope=openid%20email%20profile%20offline_access&nonce=hx1MTiWb