[2015-12-11 21:50] shea256 opened #1 "get data persistence working"

[2015-12-14 15:42] #1 closed, assigned to nobody

[2015-12-28 21:48] shea256 opened #4 "update the editor page so it is pre-filled with profile data"

[2015-12-28 21:48] shea256 opened #5 "update profile editor page so that data is saved locally"

[2015-12-28 21:49] shea256 opened #6 "update settings page so it pre-fills the default resolver and registrar URLs"

[2015-12-28 21:50] shea256 opened #7 "update the settings page so it allows the user to set new URLs and restore defaults"

[2015-12-28 21:51] shea256 opened #8 "update backup page so that the real backup phrase is shown when the user enters the password"

[2015-12-28 21:53] shea256 opened #9 "update backup page so the backup phrase can be permanently deleted"

[2015-12-28 21:54] shea256 opened #10 "create a page where the user can change the app password & link to this page from the settings page"

[2015-12-28 21:54] shea256 opened #11 "create a welcome page where the user picks a password upon starting the app for the first time"

[2015-12-28 21:55] shea256 opened #12 "implement address generation and update the import page and deposit page so they generate real addresses from a master key"

[2015-12-28 21:56] shea256 opened #13 "update register page so that it calculates the cost of the registration based on the name"

[2015-12-28 22:00] shea256 opened #14 "update register page so it asks the user to specify the object type and shows the TLD"

[2015-12-28 22:09] shea256 opened #15 "upgrade the app to support creation and local storage of a hierarchical deterministic keychain"

[2015-12-28 22:09] shea256 opened #16 "update the export page so that it requires a password to export an identity"

[2015-12-28 22:14] shea256 opened #17 "create a search view that is shown when the user types in the search bar"

[2015-12-28 22:17] shea256 opened #18 "update data store persistence so it doesn't apply to the history of viewed identities"

[2015-12-28 22:18] shea256 opened #19 "update settings page so it has a link to the change password page"

[2015-12-28 22:30] #16 closed, assigned to nobody

[2015-12-28 22:47] shea256 opened #20 "update the registered identities list to include local address owned names"

[2015-12-28 22:49] shea256 opened #21 "update register page so it issues a registration call to the onename API"

[2015-12-28 23:13] shea256 opened #22 "update the profile update page so it uploads the profile information to S3"

[2015-12-28 23:51] #4 closed, assigned to nobody

[2015-12-30 00:34] shea256 opened #24 "add in a nice default profile image for identities that don't have one provided"

[2015-12-30 00:36] #14 closed, assigned to nobody

[2015-12-30 00:45] shea256 opened #26 "add name validity checks to the register page"
1. check to see if the username has valid characters
2. check to see if the username has already been registered
3. check to see if the username has been already queued up locally for registration

[2016-01-02 21:33] shea256 opened #27 "build out profile editing pages - let users to update social accounts, photos, public keys, bitcoin addresses + private info"

[2016-01-04 04:21] shea256 opened #28 "Integrate the export page w/ the Onename API so names can be transferred to other addresses"

[2016-01-04 04:24] #11 closed, assigned to nobody

[2016-01-04 04:24] #15 closed, assigned to nobody

[2016-01-05 01:02] #12 closed, assigned to nobody

[2016-01-12 16:31] shea256 opened #31 "consider updating the keychain so it starts caching addresses"

[2016-01-12 16:56] #9 closed, assigned to nobody

[2016-01-12 17:02] #18 closed, assigned to nobody

[2016-01-12 21:41] #19 closed, assigned to nobody

[2016-01-13 16:46] #13 closed, assigned to nobody

[2016-01-13 19:09] #6 closed, assigned to nobody

[2016-01-13 20:20] #8 closed, assigned to nobody

[2016-01-13 21:33] #26 closed, assigned to nobody

[2016-01-13 21:58] #24 closed, assigned to nobody

[2016-01-14 00:31] #5 closed, assigned to nobody

[2016-01-15 21:13] #10 closed, assigned to nobody

[2016-01-15 21:16] #31 closed, assigned to nobody

[2016-01-15 23:21] #7 closed, assigned to nobody

[2016-01-15 23:47] shea256 opened #43 "replace the header bar with a custom bar with our own close, minimize, and expand buttons"

[2016-01-18 16:55] shea256 opened #44 "add a page for users to delete their accounts and return to the welcome screen"

[2016-01-18 16:58] shea256 opened #45 "implement account restoration where users input their backup phrase and recover names and bitcoin"

[2016-01-18 20:19] #43 closed, assigned to nobody

[2016-01-19 16:08] guylepage3 opened #49 "update the design of the search bar"
Add magnifying glass icon to search bar.

See attached.
<img width="310" alt="screenshot 2016-01-19 11 08 23" src="https://cloud.githubusercontent.com/assets/1711854/12424196/fa5b71d2-be9c-11e5-94e3-dd4bacd6a6bb.png">

[2016-01-19 16:11] guylepage3 opened #50 "hide placeholder when the search bar is in focus and bring it back upon blur"
Create javascript that `onclick` of the search bar hides the placeholder content "Search the blockchain".

Reference:
http://stackoverflow.com/questions/19676084/how-to-remove-placeholder-on-focus

[2016-01-20 23:25] shea256 opened #52 "start recording the routing history in the data store"

[2016-01-20 23:26] #50 closed, assigned to nobody

[2016-01-22 21:14] #52 closed, assigned to nobody

[2016-01-25 16:49] #17 closed, assigned to nobody

[2016-01-25 20:28] #45 closed, assigned to nobody

[2016-01-26 00:22] shea256 opened #59 "allow users to type a local route into the address bar and trigger a routing event"

[2016-01-26 16:30] #44 closed, assigned to shea256

[2016-01-26 22:39] #59 closed, assigned to shea256

[2016-01-26 23:29] shea256 opened #62 "add a check in the address bar to check whether a typed local route is valid, then indicate invalid routes to the user"

[2016-01-27 22:19] shea256 opened #65 "Add a photo uploading tool to the editor page"

[2016-01-27 22:40] shea256 opened #66 "update profile page so it is responsive"
The profile page sections should be responsive, at least to a certain extent.

As in, the text section shouldn't ever overlap with the image.

@guylepage3 I know this was already on your to-do list. I'm just making an issue for it so we can keep track of it.

[2016-01-27 23:31] shea256 opened #67 "update app layout so the navbar is always shown, including before a user creates an account"

[2016-02-01 05:25] #27 closed, assigned to shea256

[2016-02-09 19:39] #67 closed, assigned to shea256

[2016-02-09 21:09] shea256 opened #73 "incorporate new profile and zone file management library"

[2016-02-10 16:55] shea256 opened #74 "add an interface for creating proof messages"

[2016-02-10 17:24] guylepage3 opened #75 "Install Nucleo font icons and replace icons with fonts"
Install Nucleo App font icons https://nucleoapp.com/ and then replace all icons with fonts where possible.

Identified icon locations:
- Browser Bar - Search bar magnifying glass icon (currently using font-awesome)

[2016-02-10 19:41] guylepage3 opened #76 "Create active states in list-groups"
Create active states in list-groups to assist with user experience

http://v4-alpha.getbootstrap.com/components/list-group/#linked-items

[2016-02-10 19:43] #49 closed, assigned to nobody

[2016-02-10 22:58] #76 closed, assigned to shea256

[2016-02-11 01:25] shea256 opened #79 "fix social account items so they open a browser window when clicked"

[2016-02-11 01:39] #79 closed, assigned to shea256

[2016-02-11 03:07] guylepage3 opened #81 "Scrolling <div> height 100%"
Issue with assigning a `<height: 100%;>` to a div and expecting it to span full height of page when scrolling.

Solution:
Make style the `<html>` tag to be full height and then apply `min-height` to the `<body>`

[code]

Reference:
http://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height

[2016-02-11 03:21] guylepage3 opened #82 "Export page Javascript"
Requires javascript and testing of export page.

[2016-05-07 18:36] #73 closed, assigned to shea256

[2016-05-08 04:02] #22 closed, assigned to shea256

[2016-05-08 05:44] #74 closed, assigned to shea256

[2016-05-09 03:43] shea256 opened #85 "add an icon next to each listed account that does a naive basic check on verifications"

[2016-05-09 03:47] shea256 opened #86 "test address rotation and make sure it works with name registration and resolution"

[2016-05-13 18:44] #86 closed, assigned to shea256

[2016-05-13 18:47] shea256 opened #87 "make OS X build"

[2016-06-10 14:52] shea256 opened #88 "Add support for manual update of zone files"

[2016-06-10 14:53] #87 closed, assigned to shea256

[2016-07-06 19:47] guylepage3 opened #89 "Title bar is not draggable"
The title bar is not draggable, making it not possible to move the browser around with the user's mouse.

[2016-08-03 23:28] shea256 opened #91 "prevent double submits on name registrations"

[2016-08-03 23:33] #62 closed, assigned to shea256

[2016-08-03 23:34] #21 closed, assigned to shea256

[2016-08-04 21:25] guylepage3 opened #92 "fix broken browser bar"
Browser bar has shifted and adjusted. Requires fixing back to original state.
![browser-bar-breakage](https://cloud.githubusercontent.com/assets/1711854/17418831/7f662f36-5a68-11e6-8067-d0610d7fff66.png)

[2016-08-08 01:46] shea256 opened #93 "Implement address rotation with name registrations"

[2016-08-08 01:47] #66 closed, assigned to nobody

[2016-08-08 01:48] #82 closed, assigned to nobody

[2016-08-08 01:49] #89 closed, assigned to shea256

[2016-08-08 02:14] #20 closed, assigned to shea256

[2016-08-08 02:16] shea256 opened #94 "update profile signing to use the public key of the owning address"

[2016-08-08 02:48] #91 closed, assigned to shea256

[2016-08-08 02:49] shea256 opened #95 "require users to input their own blockstack API keys when they set up the browser"

[2016-08-08 02:51] shea256 opened #96 "update the way the profile token file URL is supplied to item registration with the onename API"
It should not be a hardcoded value. The URL value should depend on the bucket that is being used and the filename within the bucket.

[2016-08-08 13:33] #81 closed, assigned to nobody

[2016-08-09 13:06] #92 closed, assigned to guylepage3

[2016-08-12 16:26] #85 closed, assigned to shea256

[2016-08-12 16:26] shea256 opened #97 "Add in a full local proof checking system with a cache"

[2016-08-12 18:05] #94 closed, assigned to shea256

[2016-08-12 19:24] shea256 opened #98 "Re-enable validation of profile tokens (and integrate the new elliptic curve library to do so)"

[2016-08-17 18:54] guylepage3 opened #99 "Resolve import btn right-side spacing issue"
Resolve sidebar import btn 1px white space issue

[2016-08-18 18:51] shea256 opened #100 "Change the icon next to "home" from a list icon to a home icon"

[2016-08-18 20:50] shea256 opened #101 "Blockstack Beta List"
### Group 1
- Larry Salibra
- Jorge Tapia
- Martin Beauchamp
- John Light
- Elizabeth Stark
- Wayne Vaughan
- JP Richardson
- Zach Reitano
- Michael Flaxman
- Melanie Shapiro
- Santiago Siri
### Group 2
- Brian Hoffman
- Chris Pacia
- Dr. Washington Sanchez
- Sam Patterson
- Joshua Jeffryes
- Arkadiy Kukarkin
- Jesse Walden
- Denis Nazarov
### Group 3
- Daniel Buchner
- Demian Brener
- Josh Cincin

[2016-08-18 23:19] guylepage3 opened #102 "allow users to export their backup phrase"
Would be nice to have an "export back up phrase" button where the user clicks the button chooses the location to save a plain text file with their back up phrase saved into the file.

[2016-08-19 18:37] guylepage3 opened #103 "remove horizontal scroll on dashboard"
When the user hovers over the three apps and tries the scroll horizontally a horizontal scroll bar appears. This should not happen.

[2016-08-19 18:48] #100 closed, assigned to guylepage3

[2016-08-23 13:28] guylepage3 opened #105 "update current example apps to new apps"
Replace Greenleaf and Guild apps with latest Aura and Flock

[2016-11-11 03:44] larrysalibra opened #107 "No response on create account"
Clicking "Create Account" appears to do nothing for ~10-15 seconds until an error appears.

We should consider a progress indicator or changing button text to indicate it's doing something.

Clicked multiple times (thinking my click hadn't registered) - turns out that I was sending multiple registration requests.

[2016-11-11 03:56] larrysalibra opened #108 "Blank email crashes API"
Leaving email blank when creating an account shows "Email already taken" and `503` application error on the registration end point.

<img width="658" alt="screen shot 2016-11-11 at 11 37 39 am" src="https://cloud.githubusercontent.com/assets/597182/20203775/3957b0ec-a805-11e6-9354-4894fc9ab21b.png">

<img width="864" alt="screen shot 2016-11-11 at 11 49 26 am" src="https://cloud.githubusercontent.

[2016-11-11 04:02] larrysalibra opened #109 "Error messages break page style"
When error message displays, text at the bottom of the sign up page is pushed over a white background making it partially unreadable.

See circled area in screenshot:

<img width="786" alt="screen shot 2016-11-11 at 11 59 22 am" src="https://cloud.githubusercontent.com/assets/597182/20203960/8b220c8c-a806-11e6-9524-4b55d057f7b3.png">

[2016-11-14 16:20] larrysalibra opened #110 "periodic api.blockstack.com heroku errors"
example: https://api.blockstack.com/v1/addresses/1Pir59E3K7peUhkwqsV29wzaXzPh1CKF3N/names

<img width="990" alt="screen shot 2016-11-15 at 12 17 48 am" src="https://cloud.githubusercontent.com/assets/597182/20272488/fa874262-aac8-11e6-84e1-fcef85a52399.png">
<img width="1144" alt="screen shot 2016-11-15 at 12 15 54 am" src="https://cloud.githubusercontent.com/assets/597182/20272495/003c1822-aac9-1

[2016-11-14 19:22] guylepage3 opened #111 "global replacement of beta to alpha"
Find and replace all instances of `beta` and switch to `alpha` including images.

[2016-11-17 18:29] guylepage3 commented on #103
Item is resolved.

@shea256 please push the following PR - https://github.com/blockstack/blockstack-browser/pull/104

[2016-11-30 21:12] guylepage3 opened #114 "blockstack desktop app product design plan"
### Blockstack Desktop App - Product Design Plan
From meeting w/Ryan & Guy

#### Product Naming

Moved product naming to https://github.com/blockstack/blockstack-browser/issues/119

#### Sections

1. Personas section
    1. List of personas
    2. Persona registration and import buttons
2. Apps section
    1. This will be a list of available apps. At first there will only be one or two - the demon

[2016-12-01 16:53] larrysalibra commented on #97
I'm almost done with a `blockstack-proofs-js` library. That implements this. Will finish it up next week.

@shea256 do you want to register the `blockstack-proofs` npm package name?

[2016-12-01 18:34] shea256 commented on #97
Awesome! Why don't you just register it and add me as a collaborator?

[2016-12-01 18:35] shea256 commented on #97
Also, want to push it here? https://github.com/blockstack/blockstack-proofs-js

You should have access.

[2016-12-01 19:09] guylepage3 opened #115 "Release v0.3.0-beta (design) publish list"
### Highlights
- [ ] https://github.com/blockstack/blockstack-browser/issues/116: clean up browser design file in prep for others to commit designs
- [ ] apply new browser bar to browser
- [ ] redesign user personas
- [ ] redesign persona sidebar

[2016-12-01 19:16] guylepage3 opened #116 "clean up browser design file in prep for others to commit designs"
@guylepage3 commented on [Wed Nov 09 2016](https://github.com/blockstack/designs/issues/42)

clean up browser sketch design file in preparation for other designers to make design commits.

- [x] design new "hello world" app (see https://github.com/blockstack/designs/issues/43)
- [x] apply new logo
- [x] remove old outdated symbols
- [x] apply new colors
- [x] confirm all fonts match new fonts

---

[2016-12-01 19:17] guylepage3 opened #117 "design new "hello world" app"
@guylepage3 commented on [Wed Nov 09 2016](https://github.com/blockstack/designs/issues/43)

design new "hello world" app to look more like an application

---

@guylepage3 commented on [Wed Nov 09 2016](https://github.com/blockstack/designs/issues/43#issuecomment-259518822)

<img width="1325" alt="screenshot 2016-11-09 15 32 24" src="https://cloud.githubusercontent.com/assets/1711854/20153645/bab

[2016-12-01 19:26] guylepage3 commented on #117
depricated

[2016-12-01 19:26] #117 closed

[2016-12-05 18:07] larrysalibra opened #118 "CORS issue when loading profiles"
<img width="1259" alt="screen shot 2016-12-06 at 2 04 43 am" src="https://cloud.githubusercontent.com/assets/597182/20896418/96ad3cc4-bb58-11e6-9f12-8ea7f80f87ed.png">

[2016-12-06 05:21] larrysalibra commented on #118
Let's make a localhost proxy until new Blockstack rest api is done

[2016-12-06 14:54] larrysalibra commented on #118
Added a [CORS proxy](https://github.com/larrysalibra/CORS-Proxy-https) and modified `fetch` global so that all fetch requests are sent to the CORS proxy running on localhost.

[2016-12-06 14:54] #118 closed

[2016-12-06 19:44] larrysalibra commented on #110
Haven't seen these heroku errors in a while...so going to close this. Thanks to the anonymous server admin who fixed this!

[2016-12-06 19:44] #110 closed

[2016-12-06 21:32] #116 closed

[2016-12-06 21:43] guylepage3 opened #119 "blockstack install naming"
We need to come up with a descriptive name of the Blockstack Install.

So far, @shea256 and myself have come up with;
1. Browser Add-on
1. Browser Plugin
1. Browser Extension
1. Browser Portal

[2016-12-06 21:44] guylepage3 commented on #119
I really like **4. Browser Portal**

[2016-12-06 21:48] guylepage3 commented on #119
Another is;
- Browser Gateway

[2016-12-06 22:00] guylepage3 opened #120 "Release v0.2.0-alpha publish list"
### Highlights

#### Tasks
- [x] https://github.com/blockstack/blockstack-browser/issues/116: clean up browser design file in prep for others to commit designs
- [x] https://github.com/blockstack/blockstack-browser/issues/105: update current example apps to new apps
- [x] https://github.com/blockstack/blockstack-browser/issues/121: app store account creation design
- [x] https://github.com/blockst

[2016-12-06 22:25] guylepage3 opened #121 "app store account creation design"
The blockstack browser portal account creation view is one of the most important views of any application built on blockstack including blockstack id's. If users land on the account creation view and the communications are not clear the user will bounce before they even start using an app.

**Requirements**
- [x] blockstack logo
- [x] headline
- [x] email input - determined that the user's email a

[2016-12-07 16:00] shea256 commented on #119
I like Browser Portal and Browser Upgrade

[2016-12-07 16:02] guylepage3 commented on #119
I like Portal as well. Browser Upgrade is a bit confusing as to what it is. Is it an upgrade of my actual browser? What exactly is being upgraded?

[2016-12-07 20:21] shea256 commented on #119
@muneeb-ali like's Browser Upgrade.

I also actually like Browser Addon too.

[2016-12-07 20:24] guylepage3 commented on #119
What is it though? I have no idea what that means. Also, this would sound weird...

[2016-12-07 21:21] muneeb-ali commented on #119
We could also just say that "install Blockstack". There is just one installer. It gives them the CLI, Core, and the browser extensions.

[2016-12-07 22:23] shea256 commented on #119
Yeah that's an option.

But in that case, to clarify, we're then using the term "browser extension" for the browser component.

[2016-12-07 23:15] guylepage3 commented on #119
I really like the idea that it's just the **Blockstack Installer**. It's simple. But it's not very descriptive. Can't seem to find something better than **Portal**.

[2016-12-07 23:31] guylepage3 commented on #121
<img width="986" alt="screenshot 2016-12-07 18 30 57" src="https://cloud.githubusercontent.com/assets/1711854/20991242/5a0bc656-bcab-11e6-9b0a-be6cd91b8311.png">

[2016-12-09 16:49] guylepage3 commented on #121
2.
<img width="1012" alt="screenshot 2016-12-08 11 28 53" src="https://cloud.githubusercontent.com/assets/1711854/21056835/4730e0ba-be05-11e6-98cc-2acd5f14781d.png">

3.
<img width="982" alt="screenshot 2016-12-08 18 04 12" src="https://cloud.githubusercontent.com/assets/1711854/21056857/55f6aa58-be05-11e6-90c9-9f980a170155.png">

4.
<img width="1253" alt="screenshot 2016-12-08 18 44 10" src="http

[2016-12-09 17:28] guylepage3 commented on #121
<img width="881" alt="screenshot 2016-12-09 12 27 09" src="https://cloud.githubusercontent.com/assets/1711854/21058199/eb2974f2-be0a-11e6-8b6d-5303b370a585.png">

[2016-12-09 20:46] guylepage3 commented on #121
<img width="1358" alt="screenshot 2016-12-09 15 20 15" src="https://cloud.githubusercontent.com/assets/1711854/21064011/9b3e2dcc-be26-11e6-8003-dd2410dc9d5d.png">
<img width="1699" alt="screenshot 2016-12-09 15 43 30" src="https://cloud.githubusercontent.com/assets/1711854/21064016/9fe15a16-be26-11e6-894d-e12c75a07fa9.png">

[2016-12-09 20:47] guylepage3 commented on #121
@shea256 I think we have a winner with that last iteration. Thoughts?

[2016-12-09 20:48] shea256 commented on #121
Yeah agreed, I like that last one.

[2016-12-09 20:55] guylepage3 commented on #121
One last cleaner version..

<img width="1853" alt="screenshot 2016-12-09 15 54 18" src="https://cloud.githubusercontent.com/assets/1711854/21064267/e5036142-be27-11e6-8c11-3169ddf73948.png">

[2016-12-09 20:56] guylepage3 commented on #121
Complete.

[2016-12-12 16:44] guylepage3 commented on #121
switched out rectangle logo with new oval logo

<img width="1816" alt="screenshot 2016-12-12 11 43 29" src="https://cloud.githubusercontent.com/assets/1711854/21107587/3775cd90-c060-11e6-903b-abaa5cabbdd4.png">

[2016-12-12 16:44] guylepage3 commented on #121
Complete.

[2016-12-12 16:44] guylepage3 commented on #120
Completed browser portal design

[2016-12-12 20:53] shea256 opened #122 "Add SSH keys as a key option in the key manager in the profile editor"

[2016-12-12 20:59] shea256 commented on #122
I tagged @larrysalibra to take a look at this.

We already have PGP keys and Bitcoin addresses so adding SSH keys should be a simple update.

[2016-12-13 00:06] guylepage3 commented on #119
Moved to... https://forum.blockstack.org/t/naming-the-blockstack-installer/408

[2016-12-13 00:06] #119 closed

[2016-12-13 05:03] larrysalibra commented on #122
Good idea. SSH keys more useful than PGP keys.

[2016-12-13 09:41] larrysalibra opened #123 "External web font dependencies prevent loading in certain countries"
Web fonts hosted on https://fonts.googleapis.com/ prevent the web app from loading where Google services are blocked (China).

We should include these fonts with builds presuming the license allows for this.

[2016-12-14 00:23] guylepage3 commented on #123
We can add the fonts in directly to the app. I'll add this issue to the build milestone.

[2016-12-14 08:06] larrysalibra opened #124 "Validate proofs when added"
We don't currently validate proofs when users add them to their profile to ensure that they're in the expected format or that the proof matches the claimed identifier.

[2016-12-14 08:34] larrysalibra commented on #122
SSH keys proofs aren't validated at add time, but neither are others. We can consider adding this in future: https://github.com/blockstack/blockstack-browser/issues/124

[2016-12-14 08:34] #122 closed

[2016-12-14 16:27] guylepage3 commented on #115
moving https://github.com/blockstack/blockstack-browser/issues/116 to [Publish list AppStore-v0.2.0-alpha: 120](https://github.com/blockstack/blockstack-browser/issues/120) and closing this issue as we are no longer focusing on the browser.

[2016-12-14 16:27] #115 closed

[2016-12-14 16:36] guylepage3 commented on #121
removed
- <lead> copy from issue requirements

[2016-12-14 16:48] guylepage3 commented on #120
added "116: clean up browser design file in prep for others to commit designs" to the highlight list.

[2016-12-14 17:44] larrysalibra opened #125 "Git dependencies should use https not git+ssh"
See https://forum.blockstack.org/t/npm-install-fails-with-permission-denied-while-cloning-from-github/424/2?u=larry

[2016-12-14 17:53] vsund commented on #125
I tried to replace "git+ssh://git@github.com" with "git+https://github.com" to see if it fixes the issue (partially worked), but then there were additional repositories which got cloned and their installation called "git+ssh://" too.
So you might want to go through the other repositories too ;)

Rel: https://forum.blockstack.org/t/npm-install-fails-with-permission-denied-while-cloning-from-github/

[2016-12-14 20:36] guylepage3 commented on #121
Getting closer with an app-like feel to our brand.

@shea256 @muneeb-ali @jcnelson @larrysalibra

Please have a look at the following 3 layouts
1.
<img width="1724" alt="screenshot 2016-12-14 15 29 28" src="https://cloud.githubusercontent.com/assets/1711854/21199818/12130446-c213-11e6-8188-cb4466ccb4aa.png">

2.
<img width="1724" alt="screenshot 2016-12-14 15 31 38" src="https://cloud.githubuserco

[2016-12-14 20:39] jcnelson commented on #121
I like the 3rd one the best.  Gives us space in the future to have a top-level panel with e.g. account and user settings.

[2016-12-14 20:41] shea256 commented on #121
I like #2. Seems more like an app view than a website, which is what I worry about with #3.

[2016-12-14 20:43] muneeb-ali commented on #121
No. 2 is more in-line with the recent direction of keeping Blockstack more in the background.

[2016-12-14 20:43] jcnelson commented on #121
No. 2 it is then.

[2016-12-14 20:44] guylepage3 commented on #121
Perfect. Closing this issue.

[2016-12-14 20:44] #121 closed

[2016-12-15 10:00] larrysalibra opened #126 "Update proofs library to version 0.3.0"
Supports proof checking for blockstack names in any namespace

[2016-12-15 10:16] larrysalibra opened #127 "Support Blockstack ID in any namespace"
Currently the code assumes (in several places) that the `.id` namespace is the only namespace that has Blockstack IDs.

[2016-12-15 10:17] larrysalibra commented on #126
Upgraded. There are still several places in the code that assume that `.id` is the only namespace that contains Blockstack IDs. See #127

[2016-12-15 10:17] #126 closed

[2016-12-19 16:56] larrysalibra commented on #88
@shea256 is this meant to be an advanced feature for people who want to point their zonefile to a profile not hosted on S3?

Or simply a feature to update the zonefile when someone chooses to use their own s3 credentials instead of blockstack s3?

[2016-12-19 18:25] shea256 commented on #88
@larrysalibra Yes, this is meant to be an advanced feature. We can hold off on this for now.

I'm also going to write up something on the restructuring of the app that I can send over to you shortly.

[2016-12-19 19:35] guylepage3 commented on #103
Closing. Issue no longer relevant to new product.

[2016-12-19 19:35] #103 closed

[2016-12-19 19:37] guylepage3 commented on #75
Closing issue. No longer relevant to new product.

[2016-12-19 19:37] #75 closed

[2016-12-21 02:39] shea256 opened #129 "Add Bitcoin wallet support"
Relevant pages:

- DepositPage.js
- WithdrawPage.js

*Note: there are already pages for depositing and withdrawing bitcoins, but they are hidden from the dashboard and they are not yet functional.*

Already built out wallet services to look into:

- Copay (https://github.com/bitpay/copay/blob/master/src/js/services/walletService.js)

[2016-12-21 02:41] shea256 opened #130 "Finalize the keychain model"
Right now we have two options for keychains:

- Enumerated keys (HD keys)
- Hash-based keychains

We have libraries for both but they each have their advantages and we may need both for different things.

We should have a discussion about how to best handle our keychain needs.

[2016-12-21 02:46] shea256 commented on #97
@larrysalibra You finished this one right?

[2016-12-21 02:47] shea256 commented on #88
Moving this feature to the next release (`v0.3.0-alpha`).

[2016-12-21 02:49] shea256 commented on #65
@larrysalibra You took a crack at this right? How's this been coming along?

[2016-12-21 02:52] shea256 commented on #28
@larrysalibra This issue is about the second: transferring names from the browser to other places.

And yes, this list looks good.

We should also talk to @jcnelson to see how best to handle this with the Blockstack Core/CLI localhost REST API. We're no longer relying on api.onename.com or api.blockstack.com.

[2016-12-21 02:59] shea256 opened #131 "Finalize the keychain and account management model"
Let's have a discussion about how to best handle our keychain and account management needs. I wrote some notes about the available keychain types, as well as a proposed data model.

### Keychain Structure

Right now we have two options for keychains:

- Enumerated keys (HD keys)
  - https://github.com/blockstack/keychain-manager-js
- Hash-based keys
  - https://github.com/blockstack/blockstack-key

[2016-12-21 03:03] shea256 commented on #130
Closed and moved the discussion over to https://github.com/blockstack/blockstack-browser/issues/131

[2016-12-21 03:03] #130 closed

[2016-12-21 03:54] larrysalibra commented on #97
@shea256 left this issue open because still missing the caching part.

[2016-12-21 03:55] shea256 commented on #97
@larrysalibra OK do you think the cache is necessary for now? We could of course split this up into two issues and push the cache off.

[2016-12-21 04:20] shea256 opened #132 "Figure out how to let users get instant and free unique ID's without registering names"
Some ideas:

- Allow unique IDs to either be Blockstack names or Bitcoin addresses
- Start letting users register subdomains instantly (using dynamic zone file updates)

[2016-12-21 04:23] shea256 commented on #132
OK what if we created a string field that is globally unique, but with multiple possible formats?

We can use the DID system and do something like this:

- "did:bitcoin:17bWfXcFNNhG8Nu6KZopT17KZGPXxjiA9n"
- "did:blockstack:ryan.id"

Both would be considered valid globally unique IDs.

[2016-12-21 04:24] shea256 commented on #132
This method would also future proof the unique ID ^

[2016-12-21 04:28] shea256 commented on #132
If we allow users to register free subdomains initially, we could nudge users into buying full domains with a Stripe window.

[2016-12-21 04:37] shea256 commented on #132
One more idea:

To apps, globally unique user IDs could be assumed to be addresses.

Then, usernames could be optionally revealed as a bonus.

[2016-12-21 04:55] shea256 commented on #132
Larry and I were discussing that we can decide to make our long-lived unique ideas equivalent to Bitcoin addresses. Here, if you don't have a name you still have a unique ID. But if you register a name to an address, your unique ID can now resolve to and correspond to your name. If you transfer your name to a new address, you still get to keep the original Bitcoin address as a long-lived ID. It do

[2016-12-21 05:38] shea256 commented on #131
### Keychain / Account Assumptions

- A browser account *is* a keychain
- A user can have one keychain at a time
- A user's keychain can be created, restored and deleted
- The keychain comes a recovery phrase
- The keychain can be encrypted with a password
- The keychain comes with three hardened child keychains

[2016-12-21 05:40] shea256 commented on #131
**Token keychain:** for sending bitcoin transactions
**Name keychain:** for sending blockstack name transactions
**Identity keychain:** for signing messages that can be used to authenticate into applications and for signing data payloads

[2016-12-21 14:35] larrysalibra opened #133 "App shows as insecure on Chrome"
From https://forum.blockstack.org/t/connections-to-web-app-blockstack-names-will-display-as-insecure/427?u=larry

<img width="421" alt="screen shot 2016-12-21 at 10 32 52 pm" src="https://cloud.githubusercontent.com/assets/597182/21393017/8f3abcf6-c7cd-11e6-912a-e963b87a1b88.png">

[2016-12-21 15:07] larrysalibra opened #134 "Gulp dev uses large amount of CPU time"
Running `gulp dev` uses 70-100% of a cpu core continuously. Makes it difficult to develop on battery power.

<img width="689" alt="screen shot 2016-12-21 at 11 03 33 pm" src="https://cloud.githubusercontent.com/assets/597182/21394004/c706f646-c7d1-11e6-87ca-ff98ae22e2a1.png">

Increasing watch interval to 2000ms didn't seem to have any effect.

[code]

This thread suggests reducing the number of f

[2016-12-21 15:12] larrysalibra opened #135 "Add local cache for proof lookups"
Split from #97

[2016-12-21 15:12] larrysalibra commented on #97
Moved local cache to issue #135

[2016-12-21 15:12] #97 closed

[2016-12-21 17:05] shea256 commented on #129
@larrysalibra should we move this to 0.3?

[2016-12-21 17:16] shea256 commented on #120
## App Set

### v0.2.0

- Account
- Storage
- Profiles
- Hello, Blockstack

### v0.3.0

- Account
- Storage
- Profiles
- Names
- App Store ("Hello, Blockstack" will be the only app list at first)

[2016-12-21 17:16] shea256 commented on #120
@guylepage3 I updated the app set above. Can you please take a look?

[2016-12-21 17:32] shea256 opened #136 "Explore Permission Types"
Here's a table of permission types that may be commonly used. A table of commonly used types will need to be maintained so that they can be translated and displayed in a way the user can understand.

### Permission Types

| Display Name | API Path |
| ------ | ---- |
| - | /stores/helloblockstack.com |
| Your profile | /profile |
| Your email address | /profile/email |
| Your phone number | /profi

[2016-12-21 17:43] shea256 commented on #131
Since we're going with HD Keys as the top-level master keychain, we'll need to define the paths for the identity keychain and the name keychain.

### Design

One option:

| Child Keychain | HD Path |
| --------------- | -------- |
| Bitcoin keychain (account 0) | m / 44' / 0' / 0' |
| Identity keychain (account 0) | m / 201' / 0' / 0' |
| Name keychain (account 0) | m / 202' / 0' / 0' |

The path

[2016-12-21 18:08] larrysalibra commented on #65
@shea256 We need to refactor the s3 upload stuff so that it accepts images - right now it expects JSON. This should be pretty straight forward using knox and uploading to the user-provided S3 bucket.

For the blockstack provided storage, will the upload API endpoint accept binary files or only JSON? -> https://github.com/blockstack/blockstack-browser/blob/1cd23eff3ea2e2adde847c4ba36c9da1fcf8564d/a

[2016-12-21 18:32] guylepage3 commented on #120
@shea256 Nice! I like these names much better than before. They're more intuitive. :)

[2016-12-21 22:27] csuwildcat commented on #136
In talking with @shea256, I am of the view that we should not bake fixed nouns into the `/profile` area of the REST API. The major issue here is that there will be many things in the world that have identities, and the present proposal bakes in the assumption that the profile is for a person. Following on to that is the fact the object at the `/profile` endpoint may be of any object type from a wi

[2016-12-22 01:46] vsund opened #137 "Make 3rd party URLs customizable (e.g. for PGP keys)"
The browser uses some hardcoded urls for link to further information (i.e. the actual [PGP key](https://github.com/blockstack/blockstack-browser/blob/85d0a0026862350872a13a1e68db83c1ab47df42/app/js/utils/account-utils.js#L102)).
Since these urls aren't that fixed as these above (like Twitter and co.), it would be cool to customize these in a settings tab.

In this example: Setting an own keyserver

[2016-12-22 01:57] vsund opened #138 "Error text is white on white background"
When getting an error while searching things (for example `No results found`), it gets displayed as white text on a white background.

Thanks,
Valentin

[2016-12-22 15:10] larrysalibra opened #139 "Self-hosted S3 doesn't work"
The self-hosted S3 option for user profiles is currently broken because a valid date header isn't being sent with `PUT` requests:

[code]

This issue on knox indicates that browserify strips the Date header as unsafe: https://github.com/Automattic/knox/issues/299

knox [prevents us from using the alternative `x-amz-date`](https://github.com/Automattic/knox/blob/278337d7673341658efcc81e631c3f63fa53

[2016-12-22 15:12] larrysalibra commented on #65
Self-hosted S3 issues: #139 and blockstack upload API accepting non-binary files (see previous comment) are blocking this.

[2016-12-22 16:29] larrysalibra commented on #139
@shea256 If we're going to be storing user self-hosted assets in a cloud provider (like dropbox) connected to a local instance of blockstack-core, does it make sense to spend time working around these issues?

[2016-12-22 16:34] guylepage3 commented on #120
Updating the list now..

[2016-12-22 16:43] guylepage3 opened #140 "design new home screen view"
Design a new home screen view with a heavy focus on apps.

**Requirements**
- [ ] my apps - a list of available apps for the user
  - [ ] hello, blockstack
  - [ ] identity
  - [ ] blockstack.org
  - [ ] settings
- [ ] blockstack logo for brand recognition since the home screen is inside of another companies product, Google Chrome. (possibly removed at a later date if we develop our own browser).

[2016-12-22 16:45] guylepage3 commented on #140
Here are all the designs from yesterday recorded in the Blockstack Slack #design channel.

![dashboard-1](https://cloud.githubusercontent.com/assets/1711854/21432959/ed125e06-c83b-11e6-92c8-494d783ccd58.png)
![dashboard-2](https://cloud.githubusercontent.com/assets/1711854/21432962/f125e472-c83b-11e6-8cbf-f741a0124c6d.png)
![dashboard-3](https://cloud.githubusercontent.com/assets/1711854/21432964/

[2016-12-22 17:28] shea256 commented on #139
@larrysalibra I feel like S3 should still be an option for users. They might want to use that instead of Dropbox. That said, if we can get Dropbox support up sooner rather than later, we could always focus on that one.

Why don't we create an issue for adding dropbox support? We can add a "login with dropbox" button and we can get an app-specific API key for GETs and PUTs.

[2016-12-22 18:05] larrysalibra commented on #139
@shea256 I'm a bit confused. I was under the impression that once the blockstack-core REST API is ready, profile and profile assets (along with things that apps want to store) would be stored in a [user store](https://github.com/blockstack/blockstack-desktop-specs#user-stores) accessible via blockstack-core's REST API and backed by various cloud providers.

If that's the case, both this web app *a

[2016-12-22 18:11] guylepage3 commented on #140
What was decided upon yesterday was that simplicity for the user is key. This is a users "home screen." Give them what they came for. Their apps. Make it dead simple yet unique.

**Design decisions**
Background
We applied the current Blockstack brand gradient to the final version of the home screen design. We did try a variety of backgrounds but ended up removing all elements that were detracting

[2016-12-23 05:28] larrysalibra commented on #139
Can consider using: https://www.npmjs.com/package/aws-signature-v4 to generate a signature and upload directly using:
http://docs.aws.amazon.com/AmazonS3/latest/dev/HTTPPOSTExamples.html

[2016-12-23 05:29] larrysalibra opened #141 "Add self-hosting with Dropbox"
Allow users to store profile & related assets in their dropbox.

https://github.com/dropbox/dropbox-sdk-js

[2016-12-27 13:14] larrysalibra commented on #139
temporarily removed s3 self hosting until we can get it working. 9bf2a89

[2016-12-27 13:58] larrysalibra commented on #88
We need this feature for self-hosting. With the ability to update the profile URL in the zone file, we can only self host photos.

[2016-12-27 14:05] larrysalibra opened #142 "Create official dropbox app & add branding"
I've created a Blockstack Dropbox app for development as part of self hosting support on Dropbox.  It's limited to the first 500 people that connect their Blockstack browser to it. We'll need to apply for production access either with this app or another add branding assets.

<img width="1150" alt="screen shot 2016-12-27 at 10 02 42 pm" src="https://cloud.githubusercontent.com/assets/597182/215011

[2016-12-27 14:06] larrysalibra commented on #141
Profile uploading for self hosting works as well, but since we don't have the ability to update the name's zone file (#88) enabling it doesn't make sense. As such, I've temporarily disabled it. https://github.com/blockstack/blockstack-browser/commit/143c868d2c58df28aa3f0de51bdf745544d23a9a Selecting the self host with dropbox feature will cause photos to be hosted on dropbox, but the profile will

[2016-12-27 14:06] #141 closed

[2016-12-27 14:10] larrysalibra opened #143 "Photo upload support for Blockstack-provided hosting"
The upload endpoint for Blockstack-provided hosting, `https://api.onename.com/v1/upload` expects JSON. We need an API endpoint for uploading photos to support photo upload with this hosting option.

In the meantime, trying to upload photos with Blockstack-provided hosting will result in an exception being thrown.

[2016-12-27 14:12] larrysalibra commented on #65
This works with Dropbox hosting. Waiting on API for Blockstack provided hosting. See #143

[2016-12-27 14:12] #65 closed

[2016-12-27 14:14] larrysalibra commented on #139
Since we now have Dropbox self-hosting #141 , I'm pushing this off for the next release so that we can focus on other issues.

[2016-12-27 14:52] larrysalibra opened #145 "A dependency's dependency requires GitHub account"
Reported on slack:

<img width="603" alt="screen shot 2016-12-27 at 10 49 38 pm" src="https://cloud.githubusercontent.com/assets/597182/21501907/c8b8e3dc-cc86-11e6-9ed4-266d012c13e4.png">

Confirmed on my machine that an `npm install` fails without GitHub ssh credentials.

We shouldn't be including NPM dependencies that include dependencies that require users to have specific accounts (in this cas

[2016-12-27 15:00] larrysalibra commented on #145
Offending dependencies:
https://github.com/blockstack/blockstack-keychains-js
https://github.com/blockstack/blockstack-profiles-js

[2016-12-27 15:10] larrysalibra commented on #145
@shea256 can you take a look at these at your convenience?
https://github.com/blockstack/blockstack-keychains-js/pull/5
https://github.com/blockstack/blockstack-auth-js/pull/7

[2016-12-28 16:18] larrysalibra opened #146 "CORS proxy breaks account registration"
It looks like the registration endpoint is replying with a redirect.

<img width="463" alt="485ff7d8-cc5f-11e6-9512-82233ac079f5" src="https://cloud.githubusercontent.com/assets/597182/21526010/1b15d1c8-cd5c-11e6-942b-62b77aff3e9d.png">

Thanks to @shea256 for reporting on pull request #144

I'll look into this.

[2017-01-02 16:01] shea256 commented on #145
Ah @larrysalibra yes sure thing. I'll make the updates to those packages.

[2017-01-03 10:59] larrysalibra commented on #146
I can't replicate this error on my computer with the CORS proxy:

<img width="706" alt="screen shot 2017-01-03 at 6 54 11 pm" src="https://cloud.githubusercontent.com/assets/597182/21605782/41ab2b88-d1e6-11e6-9369-a7a675d4e527.png">
<img width="706" alt="screen shot 2017-01-03 at 6 54 55 pm" src="https://cloud.githubusercontent.com/assets/597182/21605784/456be8e8-d1e6-11e6-90d7-2707f43a2a6a.png">

[2017-01-04 03:27] MIGUELWAXX commented on #145
cheers

[2017-01-19 21:30] guylepage3 opened #147 "apply latest blockstack browser icon set"
@shea256 @larrysalibra

Here is the latest version of the Blockstack icon set for our apps in the browser:
- https://github.com/blockstack/designs/issues/86

[2017-01-20 00:37] shea256 opened #149 "issue building mac app"
Hey @larrysalibra I tried building the mac app but I ran into a problem.

It says there's no signing identity present.

I don't have the logs with me right now but I can re-try and post them here.

[2017-01-20 00:45] shea256 commented on #149
Alternatively, @larrysalibra can you build the app and submit a release to the releases page under the code name "Burgundy": https://github.com/blockstack/blockstack-browser/releases

[2017-01-20 01:09] larrysalibra opened #150 "Polyfill fetch on safari"
See: https://forum.blockstack.org/t/blockstack-for-mac-alpha/528/9?u=larry

[2017-01-20 01:43] #150 closed

[2017-01-20 11:45] larrysalibra commented on #149
I made a build and submitted it here -> https://github.com/blockstack/blockstack-browser/releases/tag/v0.2.0

Re no signing identity present. The short answer is the signing team ID is stored in the project file, so you'll might need to open xcode and adjust the code signing setting to use your team's certificate.

Find those here:

<img width="962" alt="screen shot 2017-01-20 at 7 40 45 pm" src="

[2017-01-22 18:02] shea256 commented on #98
@larrysalibra you took care of this one right?

[2017-01-22 18:03] shea256 commented on #138
@vsund Can you please check to see if you're still getting this error? And if so can you screenshot it?

@guylepage3 do you know if this was taken care of?

[2017-01-22 18:04] shea256 commented on #143
Moved this milestone to v0.3.

Let's get this working with the new Blockstack Core integration.

[2017-01-22 18:05] shea256 commented on #146
@larrysalibra I haven't had issues lately. What did you do to fix this?

[2017-01-22 18:06] shea256 commented on #140
@guylepage3 Moving this issue to v0.3 so that we can apply these designs and layouts in the new version.

[2017-01-22 18:07] shea256 commented on #123
@guylepage3 @larrysalibra Moving this to v0.3 so we can take care of it for the next release.

[2017-01-22 18:09] shea256 commented on #142
@larrysalibra OK sounds good. I can create a new app if you'd like and apply.

Also moving this issue to the v0.3 milestone.

[2017-01-22 23:07] vsund commented on #138
Yeah, using the `master` branch and `npm run dev` I got this page when browsing http://localhost:3000/search/asdf321:

![blockstack-browser](https://cloud.githubusercontent.com/assets/10466835/22187035/94a02668-e0ff-11e6-997c-a30198ef036b.png)

---
But that's probably more helpful when I highlight everything on the page :D
![blockstack-browser-highlighted](https://cloud.githubusercontent.com/asset

[2017-01-23 11:12] larrysalibra commented on #125
This issue is happening again:

Fixed one of our packages: https://github.com/blockstack/blockstack-profiles-js/issues/17

Will need to update the version in browser once @shea256 pushes the new build to npm.

[2017-01-23 11:43] larrysalibra commented on #149
I've added instructions for building a release here: https://github.com/blockstack/blockstack-browser/tree/dae0e031c63833c6bfea51262cf6baa63124f7cc#building-a-macos-release-for-distribution

[2017-01-23 15:42] guylepage3 commented on #138
@shea256 i have not addressed this yet. I'll look into it now.

[2017-01-23 19:21] shea256 commented on #125
@larrysalibra Just merged and published.

[2017-01-24 05:35] larrysalibra commented on #146
@shea256 I didn't do anything. I was never to reproduce the problem. Could have been an intermittent problem with the API during the CORS preflight that was sending a redirect. Either way, let's close this unless the issue reappears.

[2017-01-25 16:52] guylepage3 opened #152 "design ui dropdown menu for the browser"
Design a new dropdown menu bar for the browser that accomplishes showing users that this is a NEW innovative internet.

**Examples**
The following are examples of some of the innovative things devs are doing with the mac dropdown menu
- https://seense.com/menubarstats/

[2017-01-25 16:55] guylepage3 opened #153 "Release overview (v0.4.0)"
### Highlights

- Separation of Profiles App from the rest of the browser

#### Tasks
- [x] https://github.com/blockstack/blockstack-browser/issues/139: Self-hosted S3 doesn't work
- [x] https://github.com/blockstack/blockstack-browser/issues/143: Photo upload support for Blockstack-provided hosting
- [x] https://github.com/blockstack/blockstack-browser/issues/227: create a new contribution markdo

[2017-01-25 20:30] guylepage3 opened #154 "Release overview (v0.3.0)"
### Highlights

- The API calls for managing names are being replaced with Blockstack Core
- The new version of the profiles app is being released with a new UI
- The on-boarding process is being improved and reworked

#### Tasks
- [x] https://github.com/blockstack/blockstack-browser/issues/147: apply latest blockstack browser icon set
- [x] https://github.com/blockstack/blockstack-browser/issues/

[2017-01-25 20:43] guylepage3 commented on #105
complete. closing issue

[2017-01-25 20:43] #105 closed

[2017-01-25 20:44] guylepage3 commented on #99
depricated.

[2017-01-25 20:44] #99 closed

[2017-01-25 20:49] guylepage3 commented on #147
@shea256 completed this issue. closing issue.

[2017-01-25 20:49] #147 closed

[2017-01-25 21:02] shea256 commented on #137
Yes good call @vsund. I'm actually thinking we could have an overlay that displays the PGP key in the app itself. The PGP key can be loaded directly, unlike with other proofs.

[2017-01-25 21:07] shea256 commented on #108
This interface is obsolete. Closing the issue.

[2017-01-25 21:07] #108 closed

[2017-01-25 21:07] #127 closed

[2017-01-25 21:08] shea256 commented on #125
Closing this issue.

[2017-01-25 21:08] #125 closed

[2017-01-25 21:11] shea256 commented on #133
@larrysalibra What do you think are the ways we can address this issue?

Can we have the installer generate a certificate and have that applied to the locally running process?

@jcnelson @muneeb-ali thoughts on this?

We could also push this issue off. What are the attack vectors here we're most worried about in the short term?

[2017-01-25 21:19] muneeb-ali commented on #133
Yeah, we can generate a self-signed certificate. The only issue is that some browsers now show a warning for a self-signed certificate as well (I'm trying to remember if this happened with my self-signed certificate on the resolver and then we had to switch over to let's encrypt).

Using let's encrypt can be the other option but that's a much bigger dependency and there might be issues for people

[2017-01-25 21:22] guylepage3 commented on #114
closing issue

[2017-01-25 21:22] #114 closed

[2017-01-25 21:23] shea256 commented on #107
The "create account" screen was ripped out and so this issue is obsolete. Closing.

[2017-01-25 21:23] #107 closed

[2017-01-25 21:35] shea256 commented on #133
With Let's Encrypt, we'd need to prove we have access to a given domain and tie the certificate to that domain. Not sure this route is possible for us here, unless I'm missing something.

Is there a way we could use a self-signed certificate and then use root access to trick Chrome into thinking it's not actually self-signed?

Is there a way we can create a throwaway CA and then add it to the OS's

[2017-01-25 21:40] shea256 commented on #133
@mfreed Any thoughts on the best course of action here?

[2017-01-25 21:44] muneeb-ali commented on #133
Yes, correct. Let's encrypt asks for a publicly routable domain so this won't work. Self-signed certs can be tied to an IP address or localhost (but the browsers might still complain, depending on the browser).

[2017-01-25 22:14] shea256 commented on #133
I tossed this question over to a friend and he said the following:

chrome://flags/#allow-insecure-localhost

[2017-01-25 22:20] mfreed commented on #133
This might require that the user manually change Chrome's configuration, though?

Alternatively, is the URL interface you want something like:

    mfreed.id

or

     blockstack.org/mfreed.id

If the latter, then you might be able to avoid self-signed certificates (never a great sign for security!) but configure local dns service to map blockstack.org to 127.0.0.1 (or the machine's public-facing

[2017-01-25 22:30] shea256 commented on #133
@mfreed wrote:

If our installer has root access then we should be able to change the configuration automatically.

[2017-01-25 22:35] shea256 commented on #133
@mfreed wrote:

We'd want something like this:

[code]

I'm specifically referring to the dashboard for managing identity and storage on localhost.

See this screenshot:

![screen shot 2017-01-25 at 5 30 18 pm](https://cloud.githubusercontent.com/assets/994646/22312049/4c2e41fe-e324-11e6-85ae-d815edb41694.png)

We can map `blockstack.home` to `localhost` and then serve the dashboard on port 80 ins

[2017-01-26 02:06] guylepage3 commented on #140
Closing out this issue.

[2017-01-26 02:06] #140 closed

[2017-01-26 02:31] guylepage3 opened #155 "design new browser portal profiles landing view"
Design a new Blockstack Browser Portal Profiles landing view

**Requirements**
- [ ] Search bar
- [ ] Personas
- [ ] Register button
- [ ] Import button

[2017-01-26 02:36] guylepage3 commented on #155
<img width="1250" alt="screenshot 2017-01-25 21 36 15" src="https://cloud.githubusercontent.com/assets/1711854/22318151/5235c4ba-e346-11e6-920b-5614d8b5e132.png">

[2017-01-26 04:49] shea256 commented on #145
Hey @larrysalibra, both of these packages have been updated. Closing this issue out.

[2017-01-26 04:55] shea256 commented on #98
@larrysalibra Just realized that this is still a pending issue.

Here's the line of code where this feature was temporarily disabled because of a compilation error with one of the libraries:

https://github.com/blockstack/blockstack-browser/blob/master/app/js/utils/profile-utils.js#L95

We can try re-enabling this feature and seeing if it goes through.

I'm moving this issue to the next milestone

[2017-01-26 04:56] shea256 commented on #120
This is all done. Closing this issue out so that we can mark v0.2.0 as complete.

[2017-01-26 04:56] #120 closed

[2017-01-26 12:27] larrysalibra commented on #133
Chrome isn't the only problem. Firefox does this as well ->

<img width="452" alt="screen shot 2017-01-26 at 7 11 34 pm" src="https://cloud.githubusercontent.com/assets/597182/22330957/616fe46e-e3fb-11e6-900e-e26d337f784b.png">

@shea256 said

Don't see why not. It should work on the 3 major desktop platforms.

@muneeb-ali said

We should be able to generate a local CA, sign the self generated cer

[2017-01-26 12:30] larrysalibra commented on #133
@shea256

This is more of a UX issue than an attack vector issue. As of Jan 1, 2017, chrome will put the words "not secure" next to the address bar whenever our localhost app has password fields, etc. It's going to confuse ppl.

I think we can push it off for now but should keep it in mind.

[2017-01-26 15:32] shea256 commented on #133
Just found this on StackOverflow:

http://stackoverflow.com/questions/8169999/how-can-i-create-a-self-signed-cert-for-localhost

[2017-01-26 16:34] guylepage3 commented on #155
@shea256 on the dashboard view of the browser portal we are calling the "Profiles," Profiles. But once the user clicks on the app and enters it, they currently see "Personas."

Should we change Personas to Profiles?

[2017-01-26 16:36] guylepage3 commented on #155
@shea256 I feel we should add a simple one line of instructions for the user, telling them to register or import their profile and maybe why? Thoughts?

[2017-01-26 16:41] shea256 commented on #155
@guylepage3 wrote:

Yes, let's change it to "Profiles". I feel like it's easier to understand.

@guylepage3 wrote:

Yes, I can work on making the copy a little clearer for the user.

[2017-01-26 16:55] guylepage3 commented on #155
@shea256 I was thinking we may want to apply the same "app icon" concept to the the profiles view as we will be applying to the dashboard. thoughts?

<img width="1920" alt="screenshot 2017-01-26 11 54 32" src="https://cloud.githubusercontent.com/assets/1711854/22341308/5a76c8ea-e3be-11e6-9d9b-430a7d89164b.png">

[2017-01-26 16:57] shea256 commented on #155
OK you don't think that would be confusing?

[2017-01-26 16:58] shea256 commented on #155
I thought this was an interesting UI that Vida put together:

![screen shot 2017-01-26 at 11 57 23 am](https://cloud.githubusercontent.com/assets/994646/22341404/afe1e454-e3be-11e6-8c5e-bb0f03f6e737.png)

Not focusing on the details but more saying that generally a vertical list might be appropriate.

[2017-01-26 17:01] guylepage3 commented on #155
Well, we are not a vertical viewport at the beginning here. We are launching with desktop. So it will need to be a) responsive b) non-floating. The problem with going vertical is that the user may have to scroll which is a UX loss imo.

Unless we are thinking most users will not have more than 5-6 profiles?

[2017-01-26 17:03] shea256 commented on #155
Most will not have more than 5-6, that is correct. Most will probably have 1-3.

And I was thinking that we could have a vertical list as an inner div. It doesn't have to be in mobile form but can pop into the mobile list format when the screen shrinks.

[2017-01-26 17:40] guylepage3 commented on #155
I feel a better layout for desktop might be something along the lines of this.. The reason being is that it allows the user to quickly access the profile they'd like but utilizes the entire screen. I feel this would be a better experience.

This is not the design but a wireframe/concept for the layout

<img width="1478" alt="screenshot 2017-01-26 12 39 29" src="https://cloud.githubusercontent.com/

[2017-01-26 17:43] shea256 commented on #155
OK I like that.

But how about we get rid of "Register" and "Import" and just add a "+" button at the end, which takes you to a page that let's you create a new profile?

As far as importing goes, we can insert that in the registration page as an option that let's you switch over. Importing will be much less common than registration.

[2017-01-26 18:05] jeffkaplan88 commented on #155
My 2 cents is:

(a) Go with "Profiles" throughout - as @shea256 said it's intuitively easier for people to understand
(b) Definitely add a short, simple explanation for both why and how to register/import. A simple value prop and guidance goes a long way for adoption.

- Jeff

shea256 commented an hour ago
@guylepage3 wrote:

@shea256 on the dashboard view of the browser portal we are calling the

[2017-01-26 21:58] shea256 commented on #155
Thanks for jumping in @jeffkaplan88!

Agree with "profiles" and the short, simple explanation.

[2017-01-26 23:06] guylepage3 commented on #155
Definitely.. Thanks for the feedback @jeffkaplan88.

The more people who jump in the better. 😄

Here's the v1 final design.. Moving on to the build..

<img width="1478" alt="screenshot 2017-01-26 18 03 59" src="https://cloud.githubusercontent.com/assets/1711854/22354150/15f22a3c-e3f2-11e6-85f3-24632acfc0f0.png">

[2017-01-26 23:11] #155 closed

[2017-01-26 23:17] guylepage3 opened #156 "build new browser portal profiles landing view"
Build new Blockstack Browser Portal Profiles landing view based upon the design from;
- [#155: design new browser portal profiles landing view](https://github.com/blockstack/blockstack-browser/issues/155)

#### Requirements
- [x] app icon
- [x] app details
- [x] search bar
- [x] `<input>` `:hover/:focus` styles
~~- [ ] search dropdown - for this initial build use the current dropdown as is~~
- [x]

[2017-01-26 23:32] guylepage3 opened #157 "Design profile view in app"
Design a new Blockstack browser portal profile.

**Requirements**
- [x] Profile image
- [ ] Edit button
- [ ] View publicly button
- [ ] User content
  - [ ] Blockstack ID
  - [ ] First name
  - [ ] Last name
  - [ ] Short bio
  - [ ] Address
  - [ ] Date of birth
- [ ] Digital keys
  - [ ] Bitcoin address
  - [ ] Ethereum address
  - [ ] PGP key
  - [ ] SSH key
- [ ] Social proofs
  - [ ] twitter

[2017-01-27 19:18] guylepage3 commented on #155
Here's the v1 final final design.. Moving on to the build..

![profiles-desktop](https://cloud.githubusercontent.com/assets/1711854/22384219/6041a280-e49b-11e6-8c0e-2aa8dfd17f30.png)
![profiles-tablet](https://cloud.githubusercontent.com/assets/1711854/22384227/6455f22c-e49b-11e6-8e56-51ddd0772ac7.png)
![profiles-mobile](https://cloud.githubusercontent.com/assets/1711854/22384233/6761c8ce-e49b-11e

[2017-01-27 19:29] shea256 commented on #155
Awesome! Only thing I think that's needed is a section title that says "My Profiles" or something like that. This is so the user doesn't think the section is for bookmarked profiles of other people.

[2017-01-27 19:34] guylepage3 commented on #155
**Browser (Desktop)** - InVision link
https://invis.io/N2A7UM1X7#/216416027_05-Profiles-Desktop

**Browser (iPad)** - InVision link
https://invis.io/P6A7UR6RJ#/216417115_05-Profiles-Tablet

**Browser (iOS)** - InVision link
https://invis.io/XBA7URQV6#/216417519_05-Profiles-Mobile

[2017-01-27 21:11] guylepage3 commented on #155
Added. See InVision links above

[2017-01-27 21:16] shea256 commented on #155
Oh hell yeah, this is beauty.

[2017-01-31 12:13] larrysalibra commented on #149
@shea256 Take a look at the instructions - I'm going to close. Please reopen if instructions are unclear.

[2017-01-31 12:13] #149 closed

[2017-01-31 12:20] larrysalibra opened #158 "Integrate the API calls with the Blockstack core REST API"
The browser uses the legacy onename API. Switch to using the REST API provided by Blockstack core. Ship a copy of blockstack with every browser.

[2017-01-31 12:21] larrysalibra opened #159 "Mock blockstack core API"
Mock Blockstack Core REST API until the real REST API is ready.

[2017-01-31 12:22] larrysalibra commented on #159
done as of https://github.com/blockstack/blockstack-browser/commit/60a569d8666c5f024737a48d50deff543d49a5c0

[2017-01-31 12:22] #159 closed

[2017-01-31 12:23] larrysalibra commented on #158
I've created a server that mocks the blockstack core REST API using blockstack cli until the real API is ready to ship. see #159

[2017-01-31 12:26] larrysalibra opened #160 "Distribute Blockstack with each browser"
Distribute a copy of blockstack with each browser. The browser will then interact with blockstack's REST API running on localhost. See #158

[2017-01-31 12:29] larrysalibra commented on #160
I build a blockstack virtualenv, create a compressed archive which is extracted to ~/Application Support/Blockstack` which is then used by the core REST mock server.

Integrated as of https://github.com/blockstack/blockstack-browser/commit/a32e780c740b6e508750ef180827bdedb4b0630b

[2017-01-31 12:29] #160 closed

[2017-01-31 19:46] shea256 commented on #146
I'm having this issue again.

[2017-02-01 08:21] larrysalibra commented on #146
@shea256 Okay. I see you disabled proxy fetch here: https://github.com/blockstack/blockstack-browser/commit/44761a02d505f1289289015255d65a65c7066df0

Was your problem was with proxy fetch interfering with a request to local localhost:5000?

If so, I added a commit yesterday that skips proxy fetch for localhost: https://github.com/blockstack/blockstack-browser/commit/15147ea98bdca64b7b4d5a46ebf166b

[2017-02-01 09:19] larrysalibra commented on #146
Disabling proxy fetch breaks our ability to resolve profiles from servers that don't have CORS headers set properly (like blockstack's s3).
<img width="731" alt="screen shot 2017-02-01 at 4 12 40 pm" src="https://cloud.githubusercontent.com/assets/597182/22501148/15f55232-e89a-11e6-808a-211f23597ddf.png">

[2017-02-01 09:28] larrysalibra commented on #146
I've re-enabled proxy fetch to fix the fetching profile problem. https://github.com/blockstack/blockstack-browser/commit/bb42753c4aff9fe5fe74be58f079cb63c47357b4

[2017-02-01 09:57] larrysalibra opened #161 "Fix & enable test suite."
The browser's test suite is broken. We should also add a lot of coverage especially for crypto-related things: verifying tokens, bitcoin wallet, etc

[2017-02-01 09:59] larrysalibra commented on #98
Seems to work!

I asked a related question that I had while testing this here -> https://forum.blockstack.org/t/why-do-profiles-have-decoded-tokens/659?u=larry

We should add tests for this (and many other things). Opened an issue to track that-> #161

[2017-02-01 09:59] #98 closed

[2017-02-01 11:02] larrysalibra commented on #145
We haven't updated these pages in browser yet. Re-opening.

[2017-02-01 11:07] larrysalibra commented on #145
Updated!

[2017-02-01 11:07] #145 closed

[2017-02-01 12:09] larrysalibra commented on #135
Pushed this to the next version. Not a priority.

[2017-02-02 19:11] v6 commented on #132
// , Thanks for the presentation & demonstration at Construct 2017.

It looks like this system has a lot more thought and effort put into it than many others in the space, and I was glad to see that it works with IPFS.

However, ways to resolve this without hurting users would depend on how wide you expect future adoption to be, no?

[2017-02-02 19:42] shea256 commented on #161
Great call @larrysalibra. Good thing to add in to v0.4.

[2017-02-02 23:00] guylepage3 commented on #156
Noticed that we did not have a search button on the design which is a big UX flaw. Added it to the list.

[2017-02-02 23:07] guylepage3 opened #162 "restructure layout of profiles landing view for desktop"
Restructure the html layout of the profiles landing view for all views to be more efficient for the latest responsive breakages and media queries.

**Reference**
- [#155: design new browser portal profiles landing view](https://github.com/blockstack/blockstack-browser/issues/155)

[2017-02-02 23:13] guylepage3 opened #163 "build of new navbar for mobile on profiles landing view"
Build of new navbar for mobile on profiles landing view.

#### Requirements

- [x] App icon
- [x] App details
- [x] Search bar
- [x] `<input>` `:hover/:focus` styles
~~- [ ] Search dropdown - for this initial build use the current dropdown as is~~

#### Pushed to next release
Search button has been depricated from **Release v0.3.0** and pushed to [**Release v0.4.0**](https://github.com/blockstack/

[2017-02-04 20:31] guylepage3 commented on #162
Reading up on the latest of CSS Flexbox

[2017-02-04 20:45] guylepage3 commented on #162
Great tool to play with flexbox: http://codepen.io/team/css-tricks/pen/EKEYob

I definitely think we should be applying flexbox to our layouts. Super fast, "flexible" way to apply our new layout for the landing view. No more messing around with inconsistent grids that slow layout down.

[2017-02-04 20:48] guylepage3 commented on #162
Additional resource: http://tutorialzine.com/2016/11/boostrap-4-regular-vs-flex-grid/

[2017-02-04 22:00] guylepage3 opened #164 "bug: resolve viewport meta tag issue"
As identified by @shea256 in order to resolve the viewport issue add

[code]

![img_1433](https://cloud.githubusercontent.com/assets/1711854/22621849/6b546246-eafb-11e6-8de2-6af0a66372ff.PNG)

[2017-02-04 22:27] guylepage3 commented on #164
complete

[2017-02-04 22:27] #164 closed

[2017-02-04 22:37] guylepage3 opened #165 "add new reactroot classname for profiles app"
Create new `reactroot` className for the Profiles App to allow for customized background color, positioning, etc.

[2017-02-04 23:44] guylepage3 commented on #165
complete

[2017-02-04 23:44] #165 closed

[2017-02-06 03:09] larrysalibra opened #166 "Restore account doesn't work"
Since we've moved to the new no-need-to-register model, restoring account doesn't work.

[2017-02-06 09:42] larrysalibra commented on #166
This is because a page reload causes a new account to be generated because of these lines is `App.js`

[code]

Commenting them out fixes the problem.

[2017-02-06 13:05] larrysalibra opened #167 "Rotating addresses for bitcoin wallet"
We should use a new address for each transaction.

[2017-02-06 13:06] larrysalibra opened #168 "Display unconfirmed bitcoin wallet balance"

[2017-02-06 13:07] larrysalibra opened #169 "Notification on unconfirmed bitcoin deposit received"

[2017-02-06 13:08] larrysalibra opened #170 "Display bitcoin wallet transaction list"

[2017-02-06 13:09] larrysalibra opened #171 "Make utxo, transaction broadcast, balance service URLs configurable"
All external services should be configurable.

Include dropbox app id.

[2017-02-06 13:10] larrysalibra commented on #129
Basic bitcoin wallet: single address, deposit & withdraw all funds is working.

Here are some additional features we might consider in the future: #167 #168 #169 #170 #171

[2017-02-06 13:10] #129 closed

[2017-02-06 13:45] larrysalibra opened #172 "Check to make sure transaction value is bigger than dust"
Left over from #129

[2017-02-06 14:17] guylepage3 opened #173 "import latest blockstack-bootstrap"
Import latest version of [`blockstack-bootstrap`](https://github.com/blockstack/blockstack-bootstrap) to enable latest features.

**Key features**
- `flexbox` - makes it much faster and easier to position/re-position containers and container items
- new `.col` items - makes for easier and faster layout

#### Tasks
- [ ] https://github.com/blockstack/blockstack-browser/issues/174: resolve spacing b

[2017-02-06 15:14] guylepage3 opened #174 "resolve spacing breakages in profiles app"
[‹ import latest blockstack-bootstrap](https://github.com/blockstack/blockstack-browser/issues/173)

Resolve spacing breakages

Bootstrap v4 has resolved a lot of spacing issues. for this version we are utilizing the custom spacing rules from blockstack.com.
Upon import of [`blockstack-bootstrap`](https://github.com/blockstack/blockstack-bootstrap), go through styles and replace with latest spacin

[2017-02-06 15:22] guylepage3 opened #175 "add custom spacing classes to profiles app"
For speed of initial release of the profiles app I'm adding in older custom spacing classes. These are to be replaced with the latest spacing techniques from Bootstrap v4 when importing the latest version of [`blockstack-bootstrap`](https://github.com/blockstack/blockstack-bootstrap).

[‹ import latest blockstack-bootstrap](https://github.com/blockstack/blockstack-browser/issues/173)
- [ ] [resolv

[2017-02-06 15:27] guylepage3 commented on #175
complete.

[2017-02-06 15:27] #175 closed

[2017-02-06 15:53] guylepage3 opened #176 "add search magnifying glass button to profiles app search input"
Add search magnifying glass button for better UX on desktop and tablet view only. Mobile view needs the visual space for longer character string names for best mobile UX.

Currently the magnifying glass is in a hidden state and needs adjusting in `color`, `size`, and `positioning`

[2017-02-06 16:00] guylepage3 opened #177 "new profiles app style sheet"
Separate the profiles app styles away from the rest of the browser in anticipation of moving applications out of the browser portal as separate component

[2017-02-06 16:04] guylepage3 commented on #177
complete

[2017-02-06 16:04] #177 closed

[2017-02-06 16:18] guylepage3 opened #178 "bug: issue targeting magnifying glass btn in profiles search input"
Having an issue targeting magnifying glass button in profiles search input

[2017-02-06 16:55] guylepage3 commented on #178
Was not able to target the magnifying glass button in the profiles app search bar.

Ended up just removing the image/button from `AddressBar.js`
[code]

[2017-02-06 16:56] guylepage3 commented on #178
For reference [add search magnifying glass button to profiles app search input](https://github.com/blockstack/blockstack-browser/issues/176)

[2017-02-06 16:56] #178 closed

[2017-02-06 17:00] guylepage3 opened #179 "search autocomplete is no longer working"
When attempting to search for an individual on the profiles app, the dropdown does not appear.

[2017-02-06 19:04] guylepage3 opened #180 "create new register button for the profiles app landing view"
Create new register button and hover states that takes the user from the profiles landing view to the register a profile page

[2017-02-06 19:05] guylepage3 commented on #180
complete

[2017-02-06 19:05] #180 closed

[2017-02-06 19:22] guylepage3 commented on #179
@shea256 @larrysalibra

I am going to need your assistance with this issue. There are connection errors for search queries in the profiles app when attempting to lookup a user.

<img width="587" alt="screenshot 2017-02-06 14 19 32" src="https://cloud.githubusercontent.com/assets/1711854/22662600/9c6d9640-ec77-11e6-81a6-dd8db45519e0.png">

[2017-02-06 19:54] guylepage3 opened #181 "apply new design to personas in profile app landing view"
Apply the new design to the personas in the profile app landing view and test by registering multiple personas

- [x] build card
- [x] build avatar
- [x] build new card avatar and apply circle clipping
- [x] apply new type to id
- [x] create and test profile creation

#### Bugs
- [x] https://github.com/blockstack/blockstack-browser/issues/182: bug: resolve long username display on small @media dis

[2017-02-06 22:59] guylepage3 commented on #181
Had some alignment issues that took me a while to debug and then found out it was a `max-width` issue when a username was too long. I may have to rethink how this layout works with long usernames.

<img width="1226" alt="screenshot 2017-02-06 17 58 29" src="https://cloud.githubusercontent.com/assets/1711854/22670190/124b6824-ec96-11e6-8bce-61c12390c1e3.png">

[2017-02-06 23:11] guylepage3 opened #182 "bug: resolve long username display on small @media displays"
There seems to be an issue when attempting to display long usernames yet have profile cards be responsive for small @media displays

<img width="1226" alt="screenshot 2017-02-06 17 58 29" src="https://cloud.githubusercontent.com/assets/1711854/22670317/a591c948-ec96-11e6-8736-f445a37d499f.png">

[2017-02-06 23:12] guylepage3 commented on #182
A good solution might be to do what twitter is doing...

[code]

<img width="1230" alt="screenshot 2017-02-06 18 10 29" src="https://cloud.githubusercontent.com/assets/1711854/22670547/af6ec9a6-ec97-11e6-88fc-172db99378eb.png">

[2017-02-06 23:16] guylepage3 commented on #182
Resolved.

<img width="492" alt="screenshot 2017-02-06 18 16 28" src="https://cloud.githubusercontent.com/assets/1711854/22670703/6a3c3e8a-ec98-11e6-987e-9b51f44e8afd.png">

[2017-02-06 23:16] #182 closed

[2017-02-06 23:37] guylepage3 opened #183 "add user's real name to profile card list on landing view"
Add user's real name to profile card list on landing view

<img width="419" alt="screenshot 2017-02-06 18 37 17" src="https://cloud.githubusercontent.com/assets/1711854/22671242/4fd317a0-ec9b-11e6-8eed-a7b812ebfa6d.png">

[2017-02-06 23:39] guylepage3 commented on #181
Moving "add user's real name to card" from **Release v0.3.0** to [**Release v0.4.0**](https://github.com/blockstack/blockstack-browser/issues/153)
- [add user's real name to profile card list on landing view](https://github.com/blockstack/blockstack-browser/issues/183)

[2017-02-06 23:39] guylepage3 commented on #181
Complete.

<img width="528" alt="screenshot 2017-02-06 18 33 15" src="https://cloud.githubusercontent.com/assets/1711854/22671294/a28ae46e-ec9b-11e6-9554-54ad18e7d6b8.png">

[2017-02-06 23:39] #181 closed

[2017-02-07 03:19] larrysalibra commented on #179
@guylepage3 the connection error is because your mock core server isn't running. it should start up automatically if you have `blockstack` on your `PATH` and working

See instructions here: https://github.com/blockstack/blockstack-browser/tree/web-mock-core#developing-locally

You can see why it isn't starting by running `./node_modules/.bin/gulp mockCore`

[2017-02-07 15:01] larrysalibra commented on #179
The other reason this doesn't work is that the "search for people" "search" box is actually the old address bar component from when this was a "real" browser. We'll need to modify it to have this behavior.

[2017-02-07 16:29] shea256 commented on #132
We mentioned this in a forum thread here:

https://forum.blockstack.org/t/why-do-blockstacks-use-of-jwt-diverge-from-standards/445/13?u=ryan

[2017-02-07 16:30] shea256 commented on #132
Hey @v6 thanks! Would love to answer your questions in further detail. Would you mind moving this to a thread on the forum (https://forum.blockstack.org)?

[2017-02-07 16:36] shea256 commented on #109
No longer relevant, closing.

[2017-02-07 16:36] #109 closed

[2017-02-07 16:38] shea256 commented on #137
Larry: This also applies to UTXOs.

[2017-02-07 16:51] shea256 commented on #96
This is no longer relevant. Dropbox is now the one way to upload profile objects. This is temporary.

[2017-02-07 16:51] #96 closed

[2017-02-07 16:52] shea256 commented on #95
This is no longer relevant. We're using Blockstack Core nodes instead of the Blockstack API.

[2017-02-07 16:52] #95 closed

[2017-02-07 16:53] shea256 commented on #138
@guylepage3: "This is no longer relevant."

Closing.

[2017-02-07 16:56] shea256 opened #184 "create the mac build for release v0.3"

[2017-02-07 17:03] shea256 opened #185 "User acceptance test the Blockstack Core API to prepare for the integration"
@larrysalibra is out tomorrow and won't be able to see the changes to the Blockstack Core REST API until Thursday.

I am going to work with @jcnelson to do user acceptance testing on the Blockstack Core REST API.

There are two items that @larrysalibra has requested:

- Remove the authentication from the API
- Remove the requirement to pick a password for the node

[2017-02-07 17:09] larrysalibra opened #186 "Start blockstack REST API when Mac App is run"
We need to start the REST api when the Mac App starts by running `blockstack rpcctl start`

Also need to stop it when the app is closed.

[2017-02-07 17:10] shea256 opened #187 "finalize the blockstack core installation process in the mac build"
@larrysalibra said right now we are pip installing blockstack core from pypi.

Before we publish the mac app, we need to have done one of several things:

- Push the changes made to Blockstack Core to pypi
- Change the installation process so Blockstack Core is installed from a GitHub branch

Tagging @jcnelson on this as well so he can be kept in the loop.

[2017-02-07 17:11] shea256 opened #188 "integrate the user onboarding screens"

[2017-02-07 20:46] guylepage3 commented on #111
complete. there were some weird css class names that contained the word `beta` but are now resolved.

[2017-02-07 20:46] #111 closed

[2017-02-07 20:55] guylepage3 commented on #163
Unable to execute the *live search dropdown* as the search is not working at the moment. Issue has been created here: [#179: search autocomplete is no longer working](https://github.com/blockstack/blockstack-browser/issues/179)

[2017-02-07 20:57] guylepage3 commented on #163
Issue is complete

[2017-02-07 20:57] #163 closed

[2017-02-07 21:17] guylepage3 opened #189 "Profiles app tooltip when hovered over profiles list view"
Tooltip to see all 37 characters of blockstack id when user hovers over the blockstack id

[2017-02-07 21:41] guylepage3 opened #190 "resolve scrolling issue on profiles app landing mobile view"
After the user creates 3 or more profiles, they are unable to scroll through the list. The list items also overlap one another.

<img width="510" alt="screenshot 2017-02-07 16 40 54" src="https://cloud.githubusercontent.com/assets/1711854/22712826/382a80b6-ed54-11e6-95a2-470d1c5f2bcf.png">

[2017-02-07 21:47] guylepage3 commented on #190
resolved by replacing `height: 100%;` with `min-height: 100%;`

[2017-02-07 21:47] #190 closed

[2017-02-07 21:51] guylepage3 opened #191 "pull navbar search bar inline with navbar items on tablet view"
Pull navbar search bar inline with navbar items on tablet view to match tablet view design

[2017-02-07 22:47] guylepage3 commented on #191
complete.

[2017-02-07 22:47] #191 closed

[2017-02-07 22:58] guylepage3 opened #192 "resolve looping hover transition on profiles search bar"
There seems to be an odd looping `:hover` state on the profiles app search bar where if the bar keeps looping active state.

[2017-02-07 23:47] guylepage3 opened #193 "build out responsive profile cards in column list on tablet view"
Build out responsive profile cards in column list on tablet view

[2017-02-08 00:09] guylepage3 commented on #193
complete

[2017-02-08 00:09] #193 closed

[2017-02-08 00:10] guylepage3 commented on #162
complete.

[2017-02-08 00:14] guylepage3 opened #194 "extend width of profile landing view cards on mobile"
Extend width of profile landing view cards so that they fill the space when growing screen width

[2017-02-08 17:29] guylepage3 commented on #194
added a `max-width` value, wrapped the content with a new `margin: auto;` div to provide the desired effect.

[2017-02-08 17:29] #194 closed

[2017-02-08 17:50] guylepage3 opened #195 "resolve register button wrapping with profiles in profiles app"
After resolving #194, the register button now wraps with profile list cards when adjusting to tablet and desktop views.

[2017-02-08 17:54] guylepage3 commented on #195
complete. pulled the button outside of the wrapped `card-list-container` and assigned the class to the wrapper of the button allowing for equal effect on mobile yet on it's own on tablet and desktop view

[2017-02-08 17:54] #195 closed

[2017-02-08 20:37] guylepage3 commented on #162
Complete.

[2017-02-08 20:37] #162 closed

[2017-02-08 20:38] guylepage3 commented on #156
Pushing this bug over to next release. https://github.com/blockstack/blockstack-browser/issues/192: resolve looping hover transition on profiles search bar

[2017-02-08 20:38] #156 closed

[2017-02-08 22:28] guylepage3 opened #196 "resolve md-lg breaking issues on profiles app"
Discovered that `blockstack-bootstrap` has an odd breaking point of `@media (min-width: 975px;)` breaking point instead of the standard `@media (min-width: 992px;)`. This was causing a lot of breaking issues with the profiles app.

[2017-02-08 22:28] guylepage3 commented on #196
resolved and noted the issue in the `profiles.css` style sheet.

[2017-02-08 22:28] #196 closed

[2017-02-08 22:32] guylepage3 opened #197 "change @media 975px breaking point in blockstack-bootstrap"
Discovered that `blockstack-bootstrap` has an odd breaking point of `@media (min-width: 975px;)` instead of the standard `@media (min-width: 992px;)`. This was causing a lot of breaking issues with the profiles app.

[2017-02-09 01:14] guylepage3 opened #198 "create a profile pending view"
Create a profile pending view for when users click "View Publicly"

[2017-02-09 01:43] cstrangedk opened #199 "npm install fails: ssh dependency"
**Steps to reproduce:**

`git clone https://github.com/blockstack/blockstack-browser.git`
`npm install`

**Error:**

`npm ERR! git clone --template=~/.npm/_git-remotes/_templates --mirror ssh://git@github.com/shea256/ecurve.git ~/.npm/_git-remotes/git-ssh-git-github-com-shea256-ecurve-git-cd23c494: Cloning into bare repository '~/.npm/_git-remotes/git-ssh-git-github-com-shea256-ecurve-git-cd23c494

[2017-02-09 11:37] larrysalibra commented on #199
Thanks for the issue! This was fixed in https://github.com/blockstack/blockstack-browser/issues/125 - fixes haven't been merged into master yet. Please try the `web-0.3` branch and re-open if it still happens. Thanks!

[2017-02-09 11:37] #199 closed

[2017-02-09 14:44] cstrangedk commented on #199
This is still happening on the `web-0.3` branch.

**Steps to reproduce:**
`git clone https://github.com/blockstack/blockstack-browser.git -b web-0.3`
`npm install`

**Error:**

`npm ERR! git clone --template=~/.npm/_git-remotes/_templates --mirror ssh://git@github.com/shea256/ecurve.git ~/.npm/_git-remotes/git-ssh-git-github-com-shea256-ecurve-git-cd23c494: Cloning into bare repository '~/.npm/_gi

[2017-02-09 14:48] cstrangedk opened #200 "npm install fail on web-0.3 branch"
This is still happening on the `web-0.3` branch.  Ref: #199 and #125

**Steps to reproduce:**
`git clone https://github.com/blockstack/blockstack-browser.git -b web-0.3`
`npm install`

**Error:**

`npm ERR! git clone --template=~/.npm/_git-remotes/_templates --mirror ssh://git@github.com/shea256/ecurve.git ~/.npm/_git-remotes/git-ssh-git-github-com-shea256-ecurve-git-cd23c494: Cloning into bare re

[2017-02-09 14:50] larrysalibra commented on #199
Thanks! We'll take a look!

[2017-02-09 16:01] shea256 opened #201 "Fix spacing issue on profile editing page"
<img width="917" alt="screen shot 2017-02-09 at 11 01 28 am" src="https://cloud.githubusercontent.com/assets/994646/22791365/20d088c0-eeb7-11e6-9331-0416d0634b36.png">

[2017-02-09 21:03] shea256 opened #202 "adjust layout of profiles app list view (post profiles app object)"
Adjust layout of profiles app list view as a result of [#230: create a ProfilesApp object that wraps all pages](https://github.com/blockstack/blockstack-portal/issues/230).

[2017-02-09 21:47] guylepage3 commented on #202
Shoot. @shea256 This is for tomorrow's release?

[2017-02-09 21:47] shea256 commented on #202
@guylepage3 Yes, it's due Sunday.

We only need to put the logos in the left side right?

[2017-02-09 21:54] guylepage3 commented on #132
@larrysalibra @shea256 i found this issue in the "Done" column. Should I close this out?

[2017-02-09 21:56] shea256 commented on #132
@guylepage3 No I removed it from the milestone. Let's keep it open.

[2017-02-09 22:59] shea256 opened #203 "Resolve input field border issues"
The text fields are no longer have contrast. They're now white on a white background, so you can't tell where the text fields begins and ends.

<img width="1286" alt="screen shot 2017-02-09 at 5 50 31 pm" src="https://cloud.githubusercontent.com/assets/994646/22806727/7529ae12-eef1-11e6-9b2a-b30dab12c8af.png">

----

#### Tasks
- [x] css usage audit
- [x] identify and change new profiles apps clas

[2017-02-10 00:10] v6 commented on #132
// , I have commented on some of the implications of this issue here:

https://forum.blockstack.org/t/how-do-you-reconcile-easy-access-for-new-users-with-namespace-land-rushes-what-if-i-just-register-all-the-top-names-of-celebrities-businesses-i-can-afford/698

[2017-02-10 09:04] larrysalibra opened #204 "Local identities aren't synced with remote identities"
When restoring an account or making changes to a profile from a different instance of the portal with (the same keychain of course), the local identities are't properly updated with remote profile info.

This manifests itself as a list of profiles without avatars in the profiles app.

Example (each of these has an avatar):

<img width="567" alt="screen shot 2017-02-10 at 11 02 27 am" src="https://

[2017-02-10 15:27] guylepage3 opened #205 "Release overview (v0.5.0)"
### Highlights

- n/a

#### Tasks
- [x] https://github.com/blockstack/blockstack-browser/issues/218: publish a new blockstack.js library with auth and profiles
- [x] https://github.com/blockstack/blockstack-portal/issues/251: update the auth page to sign tokens and pass them back to the relying app
- [x] https://github.com/blockstack/blockstack-portal/issues/273: live design edit profile pages
- [

[2017-02-10 16:11] guylepage3 opened #206 "write issue creation / project management process"
Write out issue creation / project management process

[2017-02-10 16:13] guylepage3 commented on #183
@shea256 shall we add this as a feature for v0.4.0?

[2017-02-10 16:14] shea256 commented on #183
Sounds great @guylepage3

[2017-02-10 16:15] guylepage3 commented on #166
@larrysalibra can you apply a Label and Milestone for this issue? Thx

[2017-02-10 16:15] guylepage3 commented on #167
@larrysalibra can you apply a Label and Milestone for this issue? Thx

[2017-02-10 16:15] guylepage3 commented on #168
@larrysalibra can you apply a Label and Milestone for this issue? Thx

[2017-02-10 16:15] guylepage3 commented on #169
@larrysalibra can you apply a Label and Milestone for this issue? Thx

[2017-02-10 16:15] guylepage3 commented on #170
@larrysalibra can you apply a Label and Milestone for this issue? Thx

[2017-02-10 16:15] guylepage3 commented on #171
@larrysalibra can you apply a Label and Milestone for this issue? Thx

[2017-02-10 16:15] guylepage3 commented on #172
@larrysalibra can you apply a Label and Milestone for this issue? Thx

[2017-02-10 16:28] guylepage3 commented on #200
@shea256 I am assigning this issue to you

[2017-02-10 17:14] shea256 commented on #200
@cstrangedk Thanks for reporting!

I just pushed an update to some libraries that should have addressed the issue.

Closing the issue but please let me know if it's working for you now and if it's not, please reopen.

Thanks!

[2017-02-10 17:14] #200 closed

[2017-02-10 18:00] guylepage3 commented on #192
I believe the issue is coming from the fact that we have turned off `box-shadow` in `blockstack-bootstrap`

[2017-02-10 18:02] guylepage3 commented on #203
Note to self.

Resolve by:
- [ ] apply background to the settings app views
- [ ] apply the gradient background to all profile app views

[2017-02-10 18:34] cstrangedk commented on #200
@shea256 just reinstalled, but I am still receiving an error on `ssh://git@github.com/shea256/bitcoinjs-lib.git`

[2017-02-10 21:30] larrysalibra commented on #158
I've integrated all the of the API endpoints we discussed in: https://github.com/blockstack/blockstack-core/issues/279#issuecomment-278745814 except for:

*  `GET /v1/wallet/payment_address` - I'll integrate this once we decide where to display this.
* `GET /v1/wallet/owner_address` - We don't need this.
* `GET /v1/blockchain/bitcoin/pending` - Right now, new names are marked as pending upon regis

[2017-02-10 21:57] shea256 commented on #158
Awesome!

[2017-02-10 21:58] shea256 commented on #158
Awesome, great work @larrysalibra!

[2017-02-10 22:36] guylepage3 commented on #157
rough design..

<img width="1480" alt="screenshot 2017-02-10 17 32 15" src="https://cloud.githubusercontent.com/assets/1711854/22846813/6f0bc54e-efb7-11e6-9938-3051f35ced4e.png">

[2017-02-10 22:36] guylepage3 commented on #157
closing this out

[2017-02-10 22:36] #157 closed

[2017-02-10 22:41] guylepage3 opened #207 "ui build of new profile card in profile app"
UI build of the new profile card in the Profiles App

**Requirements**
- [ ] Profile image
- [ ] Edit button
- [ ] View publicly button
- [ ] User content
  - [ ] Blockstack ID
  - [ ] First name
  - [ ] Last name
  - [ ] Short bio
  - [ ] Address
  - [ ] Date of birth
- [ ] Social proofs — up to 20 proofs

[2017-02-11 19:58] larrysalibra commented on #186
We'll need to generate a core wallet password, store it in the macOS keychain and supply it to the API on start up. See https://github.com/blockstack/blockstack-core/issues/286#issuecomment-279155033

[2017-02-11 22:48] larrysalibra opened #208 "Hitting browser quota for redux storage"
Long time use of the browser results in redux storage exceeding the browser local storage quota.

Both @guylepage3 and I have experienced this problem:

<img width="805" alt="screenshot 2017-02-11 17 24 07" src="https://cloud.githubusercontent.com/assets/597182/22858114/cb8ce4c8-f0bc-11e6-806b-e3efb8b5d4d9.png">

[2017-02-11 22:55] shea256 commented on #208
I applied the fix in this thread: https://github.com/gaearon/redux-devtools/issues/298

You can see my commit above.

@larrysalibra @guylepage3 can you let me know if this addresses the issue for you?

Thanks!

[2017-02-12 14:41] larrysalibra opened #209 "Display errors from blockstack-core registration call"
`POST /v1/names` returns information about problems that prevent successful registration such as inadequate balance. We need to show these to the user.

example:

<img width="1071" alt="screen shot 2017-02-12 at 4 39 40 pm" src="https://cloud.githubusercontent.com/assets/597182/22863023/f2a6e13c-f141-11e6-9064-3b8757e5f7dd.png">

[code]

[2017-02-12 14:46] larrysalibra commented on #209
We also need to handle state where registration fails. IE: don't add the name to the list of preregistered names.

[2017-02-12 15:14] larrysalibra opened #210 "Improve registration prompts"
- [x] 1. prompt user to connect dropbox if not connected
- [ ] 2. improve readability & placement  pricing and availability status: moved to #232
- [ ] 3. throttle pricing and availability lookup: The api calls for both of these are very slow to return - we probably want to add a timeout delay and only query if the user has stopped typing for a period of time. moved to #233
- [ ] 4. display error

[2017-02-12 15:54] larrysalibra commented on #185
@jcnelson and I worked through a bunch of issues earlier - thanks so much to him for staying up so late to help out.

These are the remaining outstanding core API issues for this release:

https://github.com/blockstack/blockstack-core/issues/298
https://github.com/blockstack/blockstack-core/issues/297
https://github.com/blockstack/blockstack-core/issues/295
https://github.com/blockstack/blockstack

[2017-02-12 15:57] larrysalibra commented on #158
This is complete.  Everything should work as intended once fixes for issues listed [here](https://github.com/blockstack/blockstack-browser/issues/185#issuecomment-279227514) with core api are resolved.

[2017-02-12 15:57] #158 closed

[2017-02-12 16:11] larrysalibra commented on #186
the format of commands to control the api:
[code]

[2017-02-12 16:28] larrysalibra commented on #186
updated the virtualenv build script: https://github.com/blockstack/blockstack-browser/commit/441805a8f456b3353d8d822aa67837174a14d63e

[2017-02-12 16:50] shea256 commented on #203
Sounds good @guylepage3.

[2017-02-12 16:53] shea256 commented on #203
Oh wait, so all of the text fields are going to remain white? Does that mean they won't be compatible with white backgrounds?

[2017-02-12 17:28] larrysalibra commented on #186
Generate a random password and store in user's default macOS keychain: https://github.com/blockstack/blockstack-browser/commit/996a478a8bed8660d85a5c5e6659a149e80d66ba

[2017-02-12 17:37] guylepage3 commented on #203
depends upon the app. i plan on changing the backgrounds in some and inputs in others.

[2017-02-12 17:42] shea256 commented on #188
I integrated a modal into the dashboard. The next step is to wire it up with checks on whether the user has completed certain tasks like set a password, connect a cloud storage provider, etc.

[2017-02-12 18:18] larrysalibra opened #211 "Add redirect support to CORS proxy"
The CORS proxy doesn't follow redirects and can sometimes cause problems.  (example https://github.com/blockstack/blockstack-browser/issues/146)

Let's investigate adding redirect support.

[2017-02-12 18:18] larrysalibra commented on #146
Registration now happens on localhost (with core rest api) and skips the CORS proxy.

[2017-02-12 18:18] #146 closed

[2017-02-12 19:00] drhetnet commented on #200
I am also getting similar errors when trying npm install (on master, web-0.3 and web-0.2):
[code]

[2017-02-12 19:03] guylepage3 commented on #203
added to the initial comment...

#### Tasks
- [ ] css used audit
- [ ] identify and change new profiles apps classnames to allow for original input form styles to render
- [ ] apply new input parent classname as a temporary fix
- [ ] create new v0.4.0 issue to build new sass architecture for forms
- [ ] create new v0.3.0 issue to apply background gradient to all profile app form pages

[2017-02-12 19:47] larrysalibra commented on #186
setup, start & stop core api endpoint: https://github.com/blockstack/blockstack-browser/commit/8a3e1a9a750a803e1f0386add73e3efbdf17e6a3

having a problem where core is unable to find the wallet:
`2017-02-12 21:04:00.697256 Blockstack[41146:15548903] Blockstack Core api start output: No wallet found at /Users/larry/Library/Application/wallet.json`

[2017-02-12 19:56] drhetnet commented on #200
Found a workaround for the repos that won't install (in case anyone else ends up with same problem). Install both manually:
`sudo npm install -G -S "git+https://drhetnet@github.com/shea256/bitcoinjs-lib.git"
sudo npm install -G -S "git+https://drhetnet@github.com/shea256/ecurve.git"`

then go into the package.json file and remove them as dependencies. npm install should work.

[2017-02-12 20:20] guylepage3 opened #212 "remove #id selectors throughout portal & apps"
Go through the portal and apps replacing all `#ID`s with `.class` names as IDs are problematic for a few reasons;

1. IDs are completely unique and therefore cannot be reused
1. Classes do everything that ID's do and more
1. IDs have fundamental inheritance issues;
  1.  as they cannot be reused leading to a downward spiral into specificty.
  1. leaving the developer to use the last resort non-inh

[2017-02-12 20:55] larrysalibra commented on #186
It turns out the problem was with the way core handles the `--config` option. It's resolved now.

[2017-02-12 20:55] #186 closed

[2017-02-12 20:57] larrysalibra commented on #185
These are the remaining core API issues outstanding:
https://github.com/blockstack/blockstack-core/issues/298
https://github.com/blockstack/blockstack-core/issues/297

[2017-02-12 21:00] larrysalibra commented on #187
We're now installing using `pip` from the repo branch: https://github.com/blockstack/blockstack-browser/blob/7a693d198733afc2a9c3d5979aa2c36976bc40f0/native/macos/build_blockstack_virtualenv.sh#L36

[2017-02-12 21:00] #187 closed

[2017-02-13 00:10] guylepage3 commented on #203
complete

[2017-02-13 00:10] #203 closed

[2017-02-13 00:12] guylepage3 opened #213 "fix spacing issues on settings app"
Fix spacing issues on settings app

[2017-02-13 00:16] guylepage3 commented on #213
resolved

<img width="1248" alt="screenshot 2017-02-12 19 16 18" src="https://cloud.githubusercontent.com/assets/1711854/22867523/c7c146c2-f157-11e6-88c6-1f1bb64142ef.png">

[2017-02-13 00:16] #213 closed

[2017-02-13 00:27] guylepage3 commented on #201
resolved..

<img width="1059" alt="screenshot 2017-02-12 19 27 29" src="https://cloud.githubusercontent.com/assets/1711854/22867609/507f33d8-f159-11e6-9f9c-66aa6f1df4e0.png">

[2017-02-13 00:27] #201 closed

[2017-02-13 07:02] shea256 commented on #188
This has been wired up both for account creation and storage setup. Closing this issue.

[2017-02-13 07:02] #188 closed

[2017-02-13 07:03] shea256 commented on #210
I completed #1 and checked off the box above.

I think we should push off #2 and #3.

I'll complete #4 in the morning.

[2017-02-13 13:13] guylepage3 opened #214 "design launch modal"
Design a new launch screen

[2017-02-13 13:13] guylepage3 commented on #214
Current view...

<img width="994" alt="screenshot 2017-02-13 08 11 08" src="https://cloud.githubusercontent.com/assets/1711854/22884707/54f86d10-f1c4-11e6-97a1-97e8b20c70a2.png">

[2017-02-13 18:13] cstrangedk opened #215 "npm install fail on web-0.3"
This is still happening on `web-0.3`

Ref: #200, #199, #125

**Steps to reproduce:**

`git clone https://github.com/blockstack/blockstack-browser.git -b web-0.3`
`npm install`

also attempted [#200 (comment)](https://github.com/blockstack/blockstack-browser/issues/200#issuecomment-279243700) but still generates an error.

**Error:**

`npm ERR! git fetch -a origin (ssh://git@github.com/shea256/bitc

[2017-02-13 20:27] shea256 opened #216 "update the auth page to pass auth tokens from core to the app"

[2017-02-13 20:28] shea256 opened #217 "update the profiles app to allow the user to pick a default profile"

[2017-02-13 20:34] shea256 opened #218 "publish a new blockstack.js library with auth and profiles"

[2017-02-13 20:35] shea256 opened #219 "work with Jude to iron out the data authorization requirements"

[2017-02-13 20:56] #207 closed

[2017-02-13 20:57] guylepage3 opened #220 "update ui of profile card in profile app"
UI build of the new profile card in the Profiles App

**Requirements**
- [ ] Profile image
- [ ] Edit button
- [ ] View publicly button
- [ ] User content
  - [ ] Blockstack ID
  - [ ] First name
  - [ ] Last name
  - [ ] Short bio
  - [ ] Address
  - [ ] Date of birth
- [ ] Social proofs — up to 20 proofs

[2017-02-13 21:14] shea256 commented on #185
@larry @jcnelson can we close 185 and keep these two open until they're addressed?

blockstack/blockstack-core#298
blockstack/blockstack-core#297

cc'ing @guylepage3 on this too

[2017-02-13 21:15] guylepage3 commented on #185
closing this issue
<img width="149" alt="screenshot 2017-02-13 16 15 37" src="https://cloud.githubusercontent.com/assets/1711854/22903739/abb62122-f207-11e6-9054-921499366ff9.png">

[2017-02-13 21:17] shea256 commented on #185
@guylepage3 reopened until @larrysalibra and @jcnelson respond

[2017-02-13 21:20] shea256 commented on #215
Thanks for reporting @cstrangedk, I'll take a look and get back to you on this.

[2017-02-13 21:29] guylepage3 commented on #209
@larrysalibra @shea256 can we push this to [Release v0.4.0](https://github.com/blockstack/blockstack-browser/milestone/4)?

[2017-02-13 21:29] guylepage3 commented on #210
@larrysalibra @shea256 can we push this to [Release v0.4.0](https://github.com/blockstack/blockstack-browser/milestone/4)?

[2017-02-13 21:45] guylepage3 opened #221 "apply latest blockstack branding to settings app"
Blockstack settings app needs the latest brand to be applied to the app

<img width="1249" alt="screenshot 2017-02-13 16 44 18" src="https://cloud.githubusercontent.com/assets/1711854/22904788/bbbb62b8-f20b-11e6-8814-84ce3021fb45.png">

[2017-02-13 21:53] guylepage3 commented on #221
complete..

<img width="1249" alt="screenshot 2017-02-13 16 52 44" src="https://cloud.githubusercontent.com/assets/1711854/22905094/f6d472f8-f20c-11e6-8537-3c4b18c5c339.png">

[2017-02-13 21:53] #221 closed

[2017-02-13 21:59] shea256 opened #222 "dropbox integration redirects to localhost:3000 in the macOS app instead of localhost:8888"
Tagging @larrysalibra to take a look at this.

[2017-02-13 22:01] shea256 commented on #202
We're pushing this to 0.4.0

[2017-02-13 22:02] guylepage3 opened #223 "live design of auth view"
live design of auth view

[2017-02-13 22:04] shea256 commented on #209
Yes let's push this to 0.4.0.

[2017-02-13 22:04] shea256 commented on #210
Yes let's push this to 0.4.

[2017-02-13 22:07] shea256 commented on #222
Maybe we can do the following:

1. Update the Dropbox app so it supports callbacks for both "localhost:3000" and "localhost:8888"
1. Have a variable that sets the current host at startup and pass that to the Dropbox callback

Also, with the callbacks, can we set them to "localhost:PORT" instead of "localhost:PORT/account/settings"?

There are other places in the app where we have "localhost:3000"

[2017-02-13 22:14] shea256 commented on #222
@larrysalibra what do you think of what I said above?

Remember, we have to pass localhost:8888 to the dropbox redirect call.

Here's where we're supplying it: https://github.com/blockstack/blockstack-browser/blob/web-0.3/app/js/pages/account/SettingsPage.js#L94

[2017-02-13 22:15] jcnelson commented on #185
#298 is addressed.  I don't think we can get to #297 without `blockcypher`'s cooperation.

[2017-02-13 22:16] shea256 commented on #185
OK cool. Let's close this then and we can revisit blockstack/blockstack-core#297

[2017-02-13 22:16] #185 closed

[2017-02-13 22:21] larrysalibra commented on #222
@shea256 should be fixed now. i'm making a new mac build to test. stand by.

[2017-02-13 22:30] shea256 commented on #222
Sounds good @larrysalibra. Let us know if there's anything else you find or need.

[2017-02-13 22:50] larrysalibra commented on #222
@shea256 This should be fixed in the latest build. Please re-open if you still have the problem.

[2017-02-13 22:50] #222 closed

[2017-02-14 15:05] muneeb-ali commented on #219
Tagging @jcnelson here. He created a task for this in Core. I'm removing that task and tracking it here instead.

[2017-02-14 15:50] guylepage3 opened #224 "iterate the design of the portal dashboard"
Iterate on the current design of the portal dashboard

[2017-02-14 15:50] guylepage3 opened #225 "ui build of the latest iteration of the portal dashboard design"
UI build of the latest iteration of the portal dashboard design.

[2017-02-14 16:42] guylepage3 commented on #217
@shea256 what requirements are there for this issue? can we start a list here? thx.

[2017-02-14 20:27] guylepage3 opened #227 "create a new contribution markdown file and add toc to readme.md"
Created a `CONTRIBUTING.md` markdown guide and TOC (Table of Contents) in the `README.md` file.

See pull request here:
- https://github.com/blockstack/blockstack-browser/pull/226

[2017-02-14 20:29] guylepage3 commented on #227
Reference:

- [Bootstrap README.md](https://github.com/twbs/bootstrap/blob/v4-dev/README.md)
- [Bootstrap CONTRIBUTING.md](https://github.com/twbs/bootstrap/blob/v4-dev/CONTRIBUTING.md)

[2017-02-14 20:29] guylepage3 commented on #227
complete

[2017-02-14 20:29] #227 closed

[2017-02-14 20:34] guylepage3 commented on #173
moving as @shea256 and I discussed this yesterday at the end of the day.

[2017-02-14 20:48] guylepage3 opened #228 "create an issue template for browser issues"
Create an issue template for Portal issues to encourage easy and fast contributing from the community.

Example:
- [Bootstrap issue template](https://github.com/twbs/bootstrap/issues/new)

**Resources**
- [Creating an issue template for your repository](https://help.github.com/articles/creating-an-issue-template-for-your-repository/)

[2017-02-14 21:50] larrysalibra opened #229 "Version APIs & track user url customization"
Right now users have to click the Reset API button every time we add an api method.

When we add new api keys, they add the new key with the default URL while not overwriting the user's other possibly customized URLs.

[2017-02-14 22:06] guylepage3 opened #230 "create a ProfilesApp object that wraps all pages"

[2017-02-14 22:10] guylepage3 commented on #136
@shea256 will coordinate with @jcnelson on this for Portal and Core.

[2017-02-14 22:12] guylepage3 commented on #142
@shea256:

[2017-02-14 22:13] larrysalibra commented on #142
You should also be redirected to where you start.

[2017-02-14 22:15] larrysalibra commented on #208
We need to test to make sure this works. Easiest way is to re-enable the code that creates a new address on each refresh and then refresh many times.

[2017-02-14 22:18] guylepage3 opened #231 "add the ability for the user to restore an account in the welcome modal"

[2017-02-14 22:31] guylepage3 commented on #210
@shea256:

[2017-02-14 22:41] guylepage3 commented on #168
closing

[2017-02-14 22:41] #168 closed

[2017-02-14 22:41] #139 closed

[2017-02-14 22:41] #143 closed

[2017-02-14 23:12] larrysalibra opened #232 "Improve name registration UI & flow"
* Name availability (is it available for registration?
* Name price
* Does the user need to deposit additional bitcoin?
* Order confirmation
* Provide a bitcoin address/QR code for deposit if needed

We discussed a two step process where the user enters the name and then a confirmation modal appears displaying the name price and asking the user to deposit bitcoin or price and confirmation.

[2017-02-14 23:14] larrysalibra opened #233 "Throttle pricing & availability lookup"
The core api calls for name pricing & availability are very slow to return. We can wait until the user stops typing for a certain amount of time before querying the api.

[2017-02-14 23:15] larrysalibra commented on #210
The remaining items are now separate issues: #209 #232 #233

[2017-02-14 23:15] #210 closed

[2017-02-14 23:17] larrysalibra commented on #232
I feel like completing this task properly is potentially a large project with respect to design. @guylepage3 @shea256 what do you think?

[2017-02-14 23:18] shea256 commented on #232
Yes this seems somewhat complex. There are many possible states, screens, and messages to display to the user.

[2017-02-15 19:43] guylepage3 commented on #232
yeah. should we push this to the next sprint?

[2017-02-15 20:22] larrysalibra commented on #184
Release published https://github.com/blockstack/blockstack-portal/releases/tag/v0.3.0

[2017-02-15 20:22] #184 closed

[2017-02-15 20:25] guylepage3 commented on #154
Whoot! Closing this out.. Great work team!

[2017-02-15 20:25] #154 closed

[2017-02-15 20:26] larrysalibra commented on #232
Let's push it.

[2017-02-16 08:33] larrysalibra commented on #232
One thing we may need to do as part of this process is prompt users not to turn their computers off or go to sleep after they submit a registration.  Core needs to send 4 name operation transactions over a period of several hours or the name registration could fail. I say this because last night, even though I know this, let my macbook go to sleep twice during that period of time - the first becau

[2017-02-16 17:09] larrysalibra commented on #123
Done.

[2017-02-16 17:09] #123 closed

[2017-02-16 17:58] larrysalibra commented on #166
I've re-enabled the account restore page and adjusted it to match the new settings style.

[2017-02-16 17:58] #166 closed

[2017-02-16 21:20] guylepage3 commented on #208
@larrysalibra @shea256 should we create a corresponding issue for testing?

[2017-02-16 23:59] guylepage3 opened #235 "design hello blockstack app to be consistent with brand"
Design hello blockstack app so that there is consistency for 21 users as they move from 21 to the hello app tutorial.

**Tasks**
- [x] https://github.com/blockstack/designs/issues/204: Design new auth login with blockstack auth button
- [x] Layout of hello world screen

[2017-02-17 00:02] guylepage3 opened #236 "hello blockstack ui build"
build ui of the new hello blockstack app design -

- https://github.com/blockstack/blockstack-portal/issues/235

[2017-02-17 15:22] larrysalibra commented on #208
No need. Looks fine here. We can re-open if this issue comes up for anyone else.

[2017-02-17 16:13] larrysalibra commented on #233
Complete.

[2017-02-17 16:13] #233 closed

[2017-02-17 16:49] larrysalibra commented on #142
I've added branding to our Dropbox App. It won't be considered for production until we have at least 50 users (we only have 10 so far).

As part of the application for production, we need to point the Dropbox review personal to our website with the app users will download.

@guylepage3 @shea256 I suggest we create a download page on https://blockstack.org and link to the latest version of the Brow

[2017-02-17 16:51] larrysalibra commented on #142
We can also use the Dropbox App as the "official" app...no need to create a new one. We can transfer it to another account at any time - just need to submit a support ticket.

[2017-02-17 16:51] #142 closed

[2017-02-17 16:52] larrysalibra opened #237 "Dropbox App: Apply for production"
We need to apply for production status on the Dropbox app once we reach at least 50 users linked to the app.

[2017-02-17 17:16] larrysalibra commented on #134
I can't replicate this on my machine anymore. Gulp only uses ~2-3% of one cpu core when it's not rebundling. Please re-open if you can replicate or if the issue reoccurs.

[2017-02-17 17:16] #134 closed

[2017-02-17 17:19] shea256 commented on #231
@larrysalibra Think you could take this issue off my hands?

We can implement it similar to how we did it before with a small link at the bottom of the first modal that then takes you to a "restore account" modal view.

We might have screenshots of this somewhere @guylepage3.

[2017-02-17 17:20] larrysalibra commented on #231
Sure.

[2017-02-17 17:20] shea256 commented on #231
Awesome thank you

[2017-02-17 17:21] guylepage3 commented on #231
Referencing [design launch modal](https://github.com/blockstack/blockstack-browser/issues/214)

[2017-02-17 18:10] larrysalibra commented on #214
current restore/create account view:

<img width="370" alt="screen shot 2017-02-17 at 8 07 31 pm" src="https://cloud.githubusercontent.com/assets/597182/23077393/0a948d4e-f54d-11e6-8aec-c2b3de24974c.png">
<img width="366" alt="screen shot 2017-02-17 at 8 07 38 pm" src="https://cloud.githubusercontent.com/assets/597182/23077397/0c83ccfa-f54d-11e6-9d08-d729c83ccf8a.png">
<img width="364" alt="screen

[2017-02-17 18:10] larrysalibra commented on #231
Done & merged.

[2017-02-17 18:10] #231 closed

[2017-02-19 01:29] guylepage3 commented on #224
<img width="1248" alt="screenshot 2017-02-18 20 27 44" src="https://cloud.githubusercontent.com/assets/1711854/23098350/efb6f724-f618-11e6-9910-b13bd6932dba.png">

[2017-02-19 01:29] #224 closed

[2017-02-19 01:29] guylepage3 commented on #225
<img width="1248" alt="screenshot 2017-02-18 20 27 44" src="https://cloud.githubusercontent.com/assets/1711854/23098352/fbd15c52-f618-11e6-9b00-8dc5ce30f8d9.png">

[2017-02-19 01:29] #225 closed

[2017-02-20 14:16] shea256 commented on #215
Temporary fix for those running into this issue:

1. Install bitcoinjs-lib from https://github.com/shea256/bitcoinjs-lib
2. Install ecurve from https://github.com/shea256/ecurve
3. Continue with `npm install`

[2017-02-20 16:39] shea256 commented on #209
@larrysalibra Can you mentioned you could take a few more tasks up. Can you take this one off my hands?

[2017-02-20 16:48] larrysalibra commented on #209
Yes.

[2017-02-20 17:09] guylepage3 commented on #192
complete

[2017-02-20 17:11] #192 closed

[2017-02-20 17:43] guylepage3 opened #239 "design css transition for opening apps"
Design a CSS transition animation for when a user opens apps. The goal should be to give the feeling that a user is opening a separate application inside of portal/their browser.

[2017-02-20 18:08] guylepage3 commented on #223
button to go back to home

[2017-02-20 18:18] larrysalibra opened #240 "Mac: Install OS level URI handler"
Investigate installing blockstack URI handler globally

[2017-02-20 18:21] shea256 opened #241 "add a wallet app and put the deposit and withdraw pages inside"

[2017-02-20 18:22] shea256 opened #242 "design the wallet app"
see #241 for reference

[2017-02-20 18:24] guylepage3 opened #243 "ui build support button"
UI build of the support button design on the Home Screen that links to forum support.

- https://github.com/blockstack/blockstack-browser/issues/710-

[2017-02-20 18:30] larrysalibra commented on #240
We currently use the `navigator.protocolHandler` API - this only works in Chrome & Firefox on Desktop (not supported on mobile browsers, safari or edge) http://caniuse.com/#search=protocol

[2017-02-20 20:49] guylepage3 commented on #242
@shea256 @larrysalibra will requirements for the wallet be as follows:
- [ ] deposit
- [ ] withdraw
- [ ] backup account
- [ ] restore account
- [ ] delete account

[2017-02-20 20:50] shea256 commented on #242
@guylepage3 no, only deposit and withdraw

[2017-02-20 20:50] shea256 commented on #242
The backup, restore, and delete account operations will be accessible in the settings app.

[2017-02-20 23:39] guylepage3 opened #244 "apps not breaking on dashboard mobile & tablet view"
Apps are not breaking on mobile & tablet view of the dashboard.

[2017-02-20 23:47] guylepage3 commented on #244
<img width="788" alt="screenshot 2017-02-20 18 46 34" src="https://cloud.githubusercontent.com/assets/1711854/23145534/fdd1e05a-f79c-11e6-9f6a-8c58444b2e6f.png">
<img width="1191" alt="screenshot 2017-02-20 18 47 00" src="https://cloud.githubusercontent.com/assets/1711854/23145535/fde2c410-f79c-11e6-896c-40de7507a4ae.png">

[2017-02-21 00:37] guylepage3 commented on #235
@shea256 i feel this is a good time to do a quick and dirty v1 of the login with blockstack button.. See [blocksack/design #204: design new auth login with blockstack auth button](https://github.com/blockstack/designs/issues/204)

Any design feedback for the button @shea256 @larrysalibra?

[2017-02-21 00:41] guylepage3 commented on #235
Auth screen requirements:

<img width="802" alt="screenshot 2017-02-20 19 41 08" src="https://cloud.githubusercontent.com/assets/1711854/23146419/94974910-f7a4-11e6-9b2b-0d3e4e9644f0.png">

[2017-02-21 20:21] larrysalibra opened #245 "Reset API button shouldn't disconnect dropbox"
Clicking the "Reset API" button shouldn't disconnect Dropbox.

[2017-02-21 20:52] shea256 commented on #230
As you can see, I created a route wrapper for the profiles object:

https://github.com/blockstack/blockstack-portal/blob/8dde7d905fb3cf3d37dac28b59a4a41627775b7c/app/js/routes.js#L38

I also created the ProfilesApp object and included `{this.props.children}` which allows for the inclusion of the children inside the route wrapper:

https://github.com/blockstack/blockstack-portal/blob/8dde7d905fb3cf

[2017-02-21 20:56] shea256 commented on #230
Now, all pages inside of the profiles app are wrapped with the ProfilesApp object header. @guylepage3 you'll see that some of the styling has been broken, and that will need to be fixed.

@larrysalibra This technique can be used as a model for the creation of the Wallet app.

Closing this issue out.

[2017-02-21 20:56] #230 closed

[2017-02-21 20:59] #171 closed

[2017-02-21 21:00] larrysalibra commented on #241
See https://github.com/blockstack/blockstack-portal/commit/8dde7d905fb3cf3d37dac28b59a4a41627775b7c

[2017-02-21 21:22] shea256 opened #246 "create a AccountApp that wraps all account pages"

[2017-02-21 21:24] #246 closed

[2017-02-21 22:04] larrysalibra commented on #215
`blockstack-keychains` version 0.0.8 no longer requires `ecurve` by `git-ssh`.

I tested `npm install` of the portal (from branch `v0.4` on a new user account without github ssh credentials and it should work now. Hopefully this is the last time we'll run into this issue, but please re-open if it reoccurs.

Thanks again @cstrangedk for taking the time to report this!

[2017-02-21 22:04] #215 closed

[2017-02-21 22:55] shea256 opened #248 "fix required propTypes in Balance object"
[code]

<img width="424" alt="screen shot 2017-02-21 at 5 54 18 pm" src="https://cloud.githubusercontent.com/assets/994646/23188983/cb4e0e70-f85e-11e6-8d41-5823cc101f10.png">

![screen shot 2017-02-21 at 5 53 31 pm](https://cloud.githubusercontent.com/assets/994646/23188973/c2885bba-f85e-11e6-9838-befc537c0bcd.png)

[2017-02-21 23:02] larrysalibra commented on #248
@shea256 Let me know if this fixes it.

[2017-02-22 09:38] larrysalibra commented on #248
Going to close this - please re-open if it is still an issue1

[2017-02-22 09:38] #248 closed

[2017-02-22 10:31] larrysalibra opened #249 "Move fetches out of react components"
There are a few places we are `fetch`ing state inside react components. This should be moved in the redux store.

[2017-02-22 10:41] larrysalibra commented on #241
Completed. @guylepage3 I duplicated the settings app icon as `app-wallet.png` -  we can replace that with the icon when ready.

<img width="1134" alt="screen shot 2017-02-22 at 12 39 46 pm" src="https://cloud.githubusercontent.com/assets/597182/23208026/23ccc512-f8fc-11e6-8f8f-1cd27d450506.png">

[2017-02-22 10:41] #241 closed

[2017-02-22 10:42] larrysalibra commented on #242
<img width="1134" alt="screen shot 2017-02-22 at 12 39 46 pm" src="https://cloud.githubusercontent.com/assets/597182/23208069/4d35f18a-f8fc-11e6-9fa9-8c6cf6f406d9.png">

Added the Wallet App in #241 - as part of the design it will also need an icon.

[2017-02-22 10:44] larrysalibra commented on #137
URLs for UTXOs are configurable as of the completion of #171.

[2017-02-22 10:49] larrysalibra commented on #137
Besides PGP keyserver as @vsund mentions, we are also hardcoding block explorers for bitcoin and ethereum addresses:

[code]

I'm going to make all 3 configurable and we can open another issue to load the key directly with an overlay as @shea256 suggests above at a future date (since that requires some design work)

[2017-02-22 11:25] larrysalibra commented on #137
Bitcoin explorer, Ethereum explorer and PGP keyserver URLs are now user configurable in the account settings page.

I also changed the default Bitcoin explorer to our own Blockstack Explorer. 🤠

https://github.com/blockstack/blockstack-portal/commit/c57e8bca07ccfcc00ce2363c90ce16a1641f739e

[2017-02-22 11:27] larrysalibra opened #250 "create an overlay that displays the PGP key in the app itself"
@shea256 writes in #137

[2017-02-22 11:29] larrysalibra commented on #137
See #250 for the issue about loading the PGP directly in the Portal.

Thank you again @vsund for the great feedback! Apologies for taking 3 months to deliver!

Closing this issue.

[2017-02-22 11:29] #137 closed

[2017-02-22 14:41] shea256 opened #251 "update the auth page to sign tokens and pass them back to the relying app"

[2017-02-22 21:34] guylepage3 commented on #202
Pinning [#230: create a ProfilesApp object that wraps all pages](https://github.com/blockstack/blockstack-portal/issues/230) to this issue

[2017-02-22 21:36] guylepage3 opened #252 "add new "home" logo on all pages of Profile App"
Add new "home" logo on all pages of Profile App

[2017-02-22 23:22] guylepage3 commented on #235
New **"Hello, Blockstack!"** design

<img width="1491" alt="screenshot 2017-02-22 18 16 57" src="https://cloud.githubusercontent.com/assets/1711854/23237527/cb2d8970-f92b-11e6-9a12-0a174dbfc68b.png">

[2017-02-22 23:56] guylepage3 commented on #242
Pinning [#241: add a wallet app and put the deposit and withdraw pages inside](https://github.com/blockstack/blockstack-portal/issues/241) to this issue

[2017-02-23 12:29] larrysalibra opened #253 "Prompt users if we can't connect to their core node"

[2017-02-23 12:39] guylepage3 opened #254 "offer ability to delete account without password entry"

[2017-02-23 12:55] larrysalibra opened #255 "Add ability to delete profile"

[2017-02-23 13:10] guylepage3 commented on #255
Larry Salibra [7:51 AM]

Guy Lepage [7:54 AM]

Larry Salibra [7:54 AM]

Guy Lepage [7:54 AM]

Larry Salibra [7:57 AM]
they also have to pay to delete. "please insert more bitcoin!"

<img width="570" alt="screenshot 2017-02-23 07 58 15" src="https://cloud.githubusercontent.com/assets/1711854/23260376/92242e8a-f99f-11e6-9a63-c0ffc528b78d.png">
<img width="559" alt="screenshot 2017-02-23 07 58 32" sr

[2017-02-23 13:11] guylepage3 commented on #255
GitHub repository deletion that I was referring to.

<img width="570" alt="screenshot 2017-02-23 07 58 15" src="https://cloud.githubusercontent.com/assets/1711854/23260376/92242e8a-f99f-11e6-9a63-c0ffc528b78d.png">
<img width="559" alt="screenshot 2017-02-23 07 58 32" src="https://cloud.githubusercontent.com/assets/1711854/23260386/9a81fa9e-f99f-11e6-8114-ee0b4a114c3d.png">

[2017-02-23 13:13] guylepage3 commented on #253
@larrysalibra assigning a `backlog` label to this issue as we are not on the `v0.5.0` sprint yet.

[2017-02-23 13:56] guylepage3 opened #256 "registration confirmation to take user to profiles app list view"
After the user registers a profile, the app shows a "Name preordered! Waiting for registration confirmation." alert view but does not take the user anywhere. After the "Name preordered! Waiting for registration confirmation." alert view appears for 2 seconds, the user should be taken back to the Profiles App List view where they can see their new profile.

<img width="1249" alt="screenshot 2017-02

[2017-02-23 13:59] guylepage3 commented on #223
@shea256 can you confirm that the only place that an authentication view is required (currently) is in the hello blockstack app?

Here:
<img width="1249" alt="screenshot 2017-02-23 08 59 38" src="https://cloud.githubusercontent.com/assets/1711854/23261871/6d16fe2c-f9a6-11e6-917a-75d886c0ff50.png">

[2017-02-23 14:05] larrysalibra commented on #256
What about sending them to the edit profile page where they can add name, photo, etc?

[2017-02-23 14:40] guylepage3 opened #257 "design new wallet app icon"
Design a new wallet app icon to be consistent with the rest of the blockstack app icons

[2017-02-23 14:43] guylepage3 commented on #256
@larrysalibra hm.. i feel like i would rather start using the app upon creation. then come back to editing my profile. @shea256. thoughts?

[2017-02-23 14:46] larrysalibra commented on #256
Good point. @guylepage3

I would think if i'm creating a profile by clicking the button in the profiles app, I'd probably want to fill out my profile.

If i'm sent to the register page as part of an auth flow or an on-boarding process of using another app (not the portal) I'd probably want to skip the profile editing and get straight back to the app.

[2017-02-23 15:12] guylepage3 commented on #235
Since #223: is a [live design of auth view](https://github.com/blockstack/blockstack-portal/issues/223) this task is complete.

[2017-02-23 15:12] #235 closed

[2017-02-23 15:16] guylepage3 commented on #236
blockstack colors: https://projects.invisionapp.com/boards/HE2VVROFSGB27/#/4846740

[2017-02-23 15:22] guylepage3 commented on #214
<img width="1250" alt="screenshot 2017-02-23 07 41 17" src="https://cloud.githubusercontent.com/assets/1711854/23265173/e7f5890a-f9b1-11e6-937b-c1a8a8c9f69d.png">
<img width="1249" alt="screenshot 2017-02-23 07 41 38" src="https://cloud.githubusercontent.com/assets/1711854/23265172/e7f38f42-f9b1-11e6-9af9-e87dd7541c34.png">

[2017-02-23 15:37] guylepage3 opened #258 "live design new profiles app register pages"
Live design new profiles app registration pages.

Reference: [#230: create a ProfilesApp object that wraps all pages](https://github.com/blockstack/blockstack-portal/issues/230).

<img width="1248" alt="screenshot 2017-02-23 08 44 55" src="https://cloud.githubusercontent.com/assets/1711854/23265864/0ae79816-f9b4-11e6-9653-9aa1fb55d28f.png">
<img width="1248" alt="screenshot 2017-02-23 08 45 13" sr

[2017-02-23 15:40] guylepage3 commented on #179
resolved by @shea256. closing issue

[2017-02-23 15:40] #179 closed

[2017-02-23 15:42] guylepage3 opened #259 "design live search query view inside profiles app"
Design live search query view inside profiles app

Reference: [#230: create a ProfilesApp object that wraps all pages](https://github.com/blockstack/blockstack-portal/issues/230).

<img width="1249" alt="screenshot 2017-02-23 10 38 07" src="https://cloud.githubusercontent.com/assets/1711854/23266091/ba768846-f9b4-11e6-8e97-eb5cddbf7640.png">

[2017-02-23 15:43] guylepage3 opened #260 "ui build of live search query view inside profiles app"
ui build of live search query view inside profiles app.

Reference:
- [#259: design live search query view inside profiles app](https://github.com/blockstack/blockstack-portal/issues/259)
- [#230: create a ProfilesApp object that wraps all pages](https://github.com/blockstack/blockstack-portal/issues/230).

[2017-02-23 16:20] guylepage3 opened #261 "design of edit profile pages inside the profiles app"
Design of edit profile pages inside the profiles app.

Reference:
- [#230: create a ProfilesApp object that wraps all pages](https://github.com/blockstack/blockstack-portal/issues/230).

[2017-02-23 16:20] guylepage3 opened #262 "ui build of edit profile pages inside the profiles app."
UI build of edit profile pages inside the profiles app.

Reference:
- [#230: create a ProfilesApp object that wraps all pages](https://github.com/blockstack/blockstack-portal/issues/230).

[2017-02-23 16:40] larrysalibra opened #263 "Sign default profile on registration"
Right now we're just uploading an unsigned profile to dropbox on new name registration. We'll need to extract the signing methods from the edit profile page so that we can reuse them at registration.

[2017-02-23 16:51] larrysalibra commented on #263
#209 depends on this

[2017-02-23 18:26] #263 closed

[2017-02-23 18:33] larrysalibra commented on #209
Complete. We can give users more detailed feedback as part of #232.

[2017-02-23 18:33] #209 closed

[2017-02-23 19:37] larrysalibra commented on #204
Modified `refreshIdentities` to replace the default profile with the remote profile if it exists.

[2017-02-23 19:37] #204 closed

[2017-02-23 19:45] larrysalibra opened #264 "Create the macOS build for release v0.4"

[2017-02-23 19:46] larrysalibra commented on #264
What are we calling `v0.4`? @guylepage3 @shea256

Diamond?

[2017-02-23 19:47] shea256 commented on #264
Do we want to keep this naming scheme or do we want to ditch it?

[2017-02-23 19:49] guylepage3 commented on #264
i feel like we should ditch it for now. when we have a big release to the public we can name that if we choose. imo

[2017-02-23 19:49] shea256 commented on #264
Here's what the releases page looks like now:

![screen shot 2017-02-23 at 2 48 04 pm](https://cloud.githubusercontent.com/assets/994646/23276154/40f3c43e-f9d7-11e6-9e5a-54c069e5cc75.png)

[2017-02-23 19:51] guylepage3 commented on #264
that looks a bit confusing to me.. we need to consolidate our out bound branding.
[code]
Seems to make more sense. Also is this beta?

[2017-02-23 19:53] larrysalibra commented on #264
I also need to decide which commit of blockstack core to include with the build. @jcnelson has continued development on the branch we were building from before `rc-0.14.1b` and the API has changed a bit. He's also fixed some bugs that exist in the version packaged with `v0.4.0` that affect the portal so it makes sense to bump the version.

[2017-02-23 19:54] shea256 commented on #264
We could say `Portal v0.4` and ditch the colors.

[2017-02-23 19:54] larrysalibra commented on #264
Agree w/ @guylepage3 they make more sense for big releases.

[2017-02-23 20:15] guylepage3 commented on #264
yeah. or we could just do `v0.4` for simplicity?

[2017-02-23 20:19] shea256 commented on #264
Yeah @guylepage3 I was suggesting "Portal v0.4" as the name of the release instead of "v0.4-portal".

[2017-02-23 20:22] guylepage3 commented on #264
yeah. i just think, it's best to keep it simple for developers where we can. was looking here: https://github.com/twbs/bootstrap/releases and it seems so clean and easy to read / understand.

[code]
vs.
[code]

[2017-02-23 21:09] guylepage3 commented on #257
<img width="1208" alt="screenshot 2017-02-23 16 08 39" src="https://cloud.githubusercontent.com/assets/1711854/23279232/6c6243ce-f9e2-11e6-910c-72c2d980aa11.png">

[2017-02-23 21:09] guylepage3 commented on #257
complete. closing issue

[2017-02-23 21:09] #257 closed

[2017-02-23 21:27] guylepage3 commented on #223
complete

<img width="1248" alt="screenshot 2017-02-23 16 26 51" src="https://cloud.githubusercontent.com/assets/1711854/23279849/ee00b74c-f9e4-11e6-91e3-4e3463271abb.png">

[2017-02-23 21:27] #223 closed

[2017-02-23 21:32] shea256 commented on #264
OK cool just changed the names:

https://github.com/blockstack/blockstack-portal/releases

[2017-02-23 21:57] guylepage3 commented on #252
complete

[2017-02-23 21:57] #252 closed

[2017-02-23 22:30] guylepage3 commented on #236
<img width="1247" alt="screenshot 2017-02-23 17 30 19" src="https://cloud.githubusercontent.com/assets/1711854/23282086/c52c576e-f9ed-11e6-849d-f68c5383c775.png">

[2017-02-23 22:30] #236 closed

[2017-02-24 22:48] larrysalibra commented on #240
Complete. For details see: https://forum.blockstack.org/t/macos-app-blockstack-url-handler-portal-development-mode/758?u=larry

[2017-02-24 22:48] #240 closed

[2017-02-24 23:02] larrysalibra commented on #264
@shea256 @guylepage3 keep me posted over the weekend when you're ready for me to make this build or if you need help on any remaining tasks.

[2017-02-25 00:20] guylepage3 commented on #264
@larrysalibra will do. I'll be working tomorrow.

[2017-02-25 20:37] guylepage3 opened #265 "home button on hello blockstack app needs to reference proper url"
Home button on the Hello Blockstack App references `localhost:3000` in the latest blockstack portal build and needs to reference `localhost:8888`

[2017-02-25 20:38] guylepage3 commented on #265
<img width="857" alt="screen shot 2017-02-25 at 3 35 08 pm" src="https://cloud.githubusercontent.com/assets/1711854/23334618/62b1380a-fb70-11e6-9081-f37272223ddd.png">

[2017-02-25 21:54] larrysalibra commented on #265
We should update the app to use `blockstack://` and it will automatically use the proper port depending on if you're in development mode or not.

[2017-02-26 01:23] guylepage3 opened #266 "blockstack portal design v2"
Today I decided to play the **Apple Special Event from October 2016**. I became extremely inspired to start thinking about how we can solve a lot of our up coming UX problems.

We should really take a look at how the new Apple TV App called "TV" works... They have a great UX that we should review for our UX. This would be amazing for the Blockstack Portal.

**Apple Special Event from October 2016*

[2017-02-26 01:25] guylepage3 commented on #266
<img width="1920" alt="screen shot 2017-02-25 at 7 29 54 pm" src="https://cloud.githubusercontent.com/assets/1711854/23336232/5e34d8ea-fb98-11e6-9e18-536ea4fb4ace.png">
<img width="1920" alt="screen shot 2017-02-25 at 7 30 15 pm" src="https://cloud.githubusercontent.com/assets/1711854/23336234/5e36b354-fb98-11e6-951d-62cd24f965f2.png">
<img width="1920" alt="screen shot 2017-02-25 at 7 30 29 pm" s

[2017-02-26 19:23] shea256 commented on #219
Pushing this to v0.5 as there's still work to be done on this between @jcnelson and myself.

[2017-02-26 19:24] shea256 commented on #218
The profiles component of this library is done. Working on finishing up the integration of the auth component.

[2017-02-26 19:28] shea256 commented on #216
This task is waiting on #219, which will be continued in the next sprint.

[2017-02-27 04:16] pstan26 opened #267 "What to call Blockstack "Portal""
@guylepage3 @muneeb-ali @larrysalibra @shea256 @jcnelson

From recent discussions it sounds like we are are not yet decided on what to officially call Portal. I think it is a product release that deserves its own email in 2 weeks, and we need to have a name for it before then. Let's decide here what it will be called.

I'll start with some suggestions:
- App Store
- Portal
- dApp Store

[2017-02-27 13:18] guylepage3 commented on #244
Attempting to mimic the scaffolding effect seen on icloud.com. There are 3 media query views that allow for clean and simple viewing on icloud.com. For Portal we will require a 4th mobile view.

<img width="1920" alt="screenshot 2017-02-27 08 14 26" src="https://cloud.githubusercontent.com/assets/1711854/23362749/4179847a-fcc5-11e6-855f-f1e427848723.png">
<img width="1583" alt="screenshot 2017-02-

[2017-02-27 14:03] guylepage3 commented on #244
Will be utilizing `flex-wrap` property to execute scaffolding of apps. This will also allow for easy addition of new apps as they appear on the Blockstack Portal Home Screen.

CSS classes and properties checklist to adjust per view.

[code]

[2017-02-27 16:10] guylepage3 commented on #244
<img width="331" alt="screenshot 2017-02-27 11 09 29" src="https://cloud.githubusercontent.com/assets/1711854/23368876/5200311e-fcdd-11e6-8f01-a6d88a45d252.png">
<img width="359" alt="screenshot 2017-02-27 11 09 39" src="https://cloud.githubusercontent.com/assets/1711854/23368878/520278b6-fcdd-11e6-87f6-ac41ff943bc3.png">
<img width="490" alt="screenshot 2017-02-27 11 09 50" src="https://cloud.git

[2017-02-27 16:42] shea256 commented on #244
Nice @guylepage3!

[2017-02-27 16:58] guylepage3 commented on #244
Full flex-box wrapping all the from xs–xl device sizes.. 😄

<img width="494" alt="screenshot 2017-02-27 11 56 33" src="https://cloud.githubusercontent.com/assets/1711854/23370804/dfef8ea6-fce3-11e6-8480-9d5df21e7b0a.png">
<img width="848" alt="screenshot 2017-02-27 11 56 50" src="https://cloud.githubusercontent.com/assets/1711854/23370802/dfeaa698-fce3-11e6-92a4-2f7cf969a566.png">
<img width="1123

[2017-02-28 16:32] guylepage3 commented on #267
@muneeb-ali had a very good point in our one-on-one yesterday...

Portal is just simply **Blockstack**. For both internal and external communications.

So it would look something like this..

- [ ] **Blockstack** — your access to the new internet
- [ ] **Core**
- [ ] **Search**
- [ ] **Explorer**

Thoughts?

[2017-02-28 16:35] pstan26 commented on #267
+1 to Portal just being "Blockstack"

[2017-02-28 16:40] pstan26 commented on #267
Think @muneeb-ali , @guylepage3  and myself are in agreement here. Comments @shea256 @larrysalibra ?

If we are all in agreement that Portal gets called "Blockstack" _both_ internally and externally, that will help us move forward on comms stuff.

[2017-02-28 16:40] muneeb-ali commented on #267
Let me clarify my point a little bit. I think that new users should only be exposed to the term "Blockstack". They don't have the mental bandwidth to think about any other term/product and introducing anything other than Blockstack would just confuse them. Note that we already have baggage from the Onename app and people already confuse the Onename app and Blockstack and wonder about how they're d

[2017-02-28 16:42] pstan26 commented on #267
@muneeb-ali  +100 i'm creating a Github task for this right now.

[2017-02-28 16:49] guylepage3 commented on #267
hm.. i must have misunderstood. i don't think having two names external and internal is a wise idea then.

we can easily say to the user, "install blockstack portal"

or are you thinking that this is a temporary thing? as a developer, (our only market at the moment), i would be confused as to why i am seeing "blockstack portal" in slack and then "blockstack" on the website. that becomes convoluted

[2017-02-28 16:59] vsund commented on #267
You can communicate that the download called "Blockstack" consists of different sub parts (Core, Portal, CLI) to users who want to know more. Normally you want to ship these parts together anyway.

[2017-02-28 17:06] guylepage3 commented on #267
the problem i see with the having an internal name differ from an external name is when your communications are static and there isn't a representative present.

how do you know that the person viewing the content fits into either the external or internal segment?

[2017-02-28 17:09] muneeb-ali commented on #267
But our users are not in the Slack, only developers are in Slack and it's OK to tell developers about sub-products.

The difference is users vs. developers.

Think about **internal workings** that developers need to know about vs. average users who just want to use Blockstack. Here is an example, most people know docker as simply docker. When a user is first exposed to docker, they just install do

[2017-02-28 17:11] guylepage3 commented on #267
I thought our target demographic was developers at the start? I thought we defined that a long time ago. If it has changed then a lot of our comms should be changed dramatically because they are not taking that into account.

[2017-02-28 17:13] vsund commented on #267
@guylepage3 You have one product called Blockstack, and it has different parts. You could have a link that provides further information for users that would like to know more about details below the download (or a diagram that tells the user how the different parts acts together).

If it's less confusing you can name the download "Blockstack package" or similar.

[2017-02-28 21:56] muneeb-ali commented on #267
Here is another example (other than docker):

IPFS lists out their various implementations on their Github.
![image](https://cloud.githubusercontent.com/assets/669932/23435553/bec8049a-fdd5-11e6-9f87-686399f031fd.png)

But on the download page it simply says:
![image](https://cloud.githubusercontent.com/assets/669932/23435650/fe88c182-fdd5-11e6-9fb7-834306a8364b.png)

You are installing GO IPFS bu

[2017-02-28 23:46] guylepage3 commented on #244
Complete. Had major issues trying to get the desktop view to be centered vertically but i need to move on. will tackle that in another sprint.

<img width="1007" alt="screenshot 2017-02-28 18 38 04" src="https://cloud.githubusercontent.com/assets/1711854/23439738/2bc30850-fde6-11e6-9b7b-b8d0b3680ca0.png">
<img width="1005" alt="screenshot 2017-02-28 18 38 20" src="https://cloud.githubusercontent.c

[2017-02-28 23:46] #244 closed

[2017-03-01 01:47] larrysalibra commented on #264
build uploaded https://github.com/blockstack/blockstack-portal/releases/tag/v0.4.0

[2017-03-01 01:47] #264 closed

[2017-03-03 17:33] guylepage3 commented on #243
In reference to [this article discussed in slack this morning](https://codewithoutrules.com/2017/02/10/voice-exit-user-retention/), we should think about where this button will take the user.

Here's a great example of a quick and dirty button:

<img width="430" alt="screenshot 2017-03-03 10 44 24" src="https://cloud.githubusercontent.com/assets/1711854/23561721/6f570f7a-000d-11e7-9c91-bd754721d2b

[2017-03-04 20:59] guylepage3 opened #269 "Release overview (v0.6.0)"
### Highlights

- Automatic updates
- Ability to transfer Blockstack ID's from onename.com
- Functionality for developers to run tests
- Ability for developers to build a copy of "Hello, Blockstack" with user-stored application state
- Blockstack availability on Linux
- Updated UI on Wallet App
- Updated UI on Storage App
- Updated UI on Profiles App profile card

#### Tasks
- [x] https://github.c

[2017-03-04 21:10] guylepage3 commented on #153
closing issue

[2017-03-04 21:10] #153 closed

[2017-03-04 21:14] guylepage3 commented on #265
complete. closing issue

[2017-03-04 21:14] #265 closed

[2017-03-04 21:58] guylepage3 opened #270 "resolve profiles app home button breakage on tablet and mobile view"
Resolve Profiles app home button breakage on tablet and mobile view.

<img width="517" alt="screenshot 2017-03-04 16 57 25" src="https://cloud.githubusercontent.com/assets/1711854/23582593/c50d09e4-00fb-11e7-90c1-c64c70daae9b.png">

[2017-03-04 22:12] guylepage3 commented on #270
resolved.

<img width="525" alt="screenshot 2017-03-04 17 12 02" src="https://cloud.githubusercontent.com/assets/1711854/23582686/b93eab02-00fd-11e7-9bcd-0b2f03c3a98e.png">

[2017-03-04 22:12] #270 closed

[2017-03-04 22:18] guylepage3 opened #271 "resolve profiles app home button tablet & desktop list view"
Resolve Profiles app home button tablet & desktop list view

<img width="798" alt="screenshot 2017-03-04 17 16 58" src="https://cloud.githubusercontent.com/assets/1711854/23582718/88dd2442-00fe-11e7-94c1-7e1efdb75aaf.png">

[2017-03-04 22:27] guylepage3 opened #272 "design return to home screen & app home standards"
Design return to home screen & app home standards that developers can follow for all applications.

**Requirements**
- The solution must be visually neutral
- Work on all background colors
- Not take away from the the highest real estate on the app, the top left corner

**Possible solution**
- Check out the **ios status bar**. https://developer.apple.com/ios/human-interface-guidelines/ui-bars/stat

[2017-03-04 22:28] guylepage3 commented on #272
<img width="792" alt="screenshot 2017-03-04 17 28 11" src="https://cloud.githubusercontent.com/assets/1711854/23582773/f738f9ec-00ff-11e7-9465-997f7f3c1e10.png">

[2017-03-04 22:29] guylepage3 commented on #271
resolved.

<img width="794" alt="screenshot 2017-03-04 17 29 10" src="https://cloud.githubusercontent.com/assets/1711854/23582775/1982de28-0100-11e7-85c7-f4b497ee98f7.png">

[2017-03-04 22:29] #271 closed

[2017-03-04 22:55] guylepage3 opened #273 "live design edit profile pages"
Live design edit profile pages

[2017-03-06 12:45] larrysalibra opened #274 "blockstack-js dependency causes npm install to fail without github ssh credentials"
See https://github.com/blockstack/blockstack-js/issues/4#issuecomment-284385175

We need to update the npm `blockstack` package to one that uses `0.0.8` or newer version of `blockstack-keychains`

[2017-03-06 13:24] shea256 commented on #274
Thanks @larrysalibra added you in the other repo.

[2017-03-06 19:44] #218 closed

[2017-03-06 19:45] #251 closed

[2017-03-07 13:57] larrysalibra opened #276 "Enable Blockstack authentication on the forum"
This task will be broken down into smaller subtasks:

- [x] Add ES256k support to `ruby-jwt` https://github.com/blockstack/blockstack-portal/issues/310
- [x] Update portal to send username https://github.com/blockstack/blockstack-portal/issues/313
- [x] Create blockstack-ruby library https://github.com/blockstack/blockstack-portal/issues/315
- [x] Create an OmniAuth Blockstack authentication strat

[2017-03-07 14:02] larrysalibra opened #277 "Proxy-fetch should use a domain whitelist"
Only proxy requests for whitelisted domains through the CORS proxy

[2017-03-07 14:08] larrysalibra commented on #161
We don't need to add lots of coverage for this issue, we just need to make sure that the project is set up so that:
1. It is easy for us to add test cases going forward
2. Test cases get run by the CI server on commit

[2017-03-07 14:10] larrysalibra opened #278 "Update portal to release version of Core 0.14.1"

[2017-03-07 14:11] larrysalibra opened #279 "Update macOS app to include Core 0.14.1"

[2017-03-07 14:53] larrysalibra opened #280 "Error when approving Hello Blockstack log in request"
When I try to log in to Hello Blockstack, I get an error when I click the Approve button.

I'm using the `v0.4.0` Blockstack for macOS release

<img width="1386" alt="screen shot 2017-03-07 at 10 50 37 pm" src="https://cloud.githubusercontent.com/assets/597182/23661740/8d076c76-0388-11e7-905e-3d9dc1f40206.png">

[2017-03-07 15:26] guylepage3 opened #281 "new menu icons"
Design new menu icons for Blockstack portal

[2017-03-07 15:45] guylepage3 opened #282 "redesign the wallet app icon"
Redesign the Wallet App icon

[2017-03-07 16:14] larrysalibra opened #283 "Create a Discourse plugin packaging OmniAuth Blockstack strategy"

[2017-03-07 16:17] larrysalibra opened #284 "Add auto updating to macOS app"

[2017-03-07 16:22] larrysalibra opened #285 "Create an OmniAuth Blockstack authentication strategy"

[2017-03-07 16:22] larrysalibra opened #286 "Update the forum usernames so that usernames created outside of Blockstack Auth have a different suffix (like .id)"

[2017-03-07 16:23] larrysalibra opened #287 "Chore: clean up the routes and paths for the pages in the profiles app"

[2017-03-07 16:24] larrysalibra opened #288 "Chore: update the portal codebase to trim out unnecessary utils replace them with the functions in Blockstack Auth"

[2017-03-07 16:26] larrysalibra opened #289 "Update "Hello, Blockstack" to issue read and write calls to core"

[2017-03-07 16:27] larrysalibra opened #290 "Upgrade Blockstack Auth to support the passing of the base URL for the user's Blockstack Core node"

[2017-03-07 16:27] larrysalibra opened #291 "Upgrade Blockstack Auth to support username verification"

[2017-03-07 17:12] guylepage3 commented on #267
@pstan26 @muneeb-ali @shea256 @larrysalibra @jcnelson,

Can I close out this issue? I believe we are all in agreement that the terms are as follows;
public —› Blockstack
internal —› Blockstack Portal

[2017-03-07 17:21] shea256 commented on #267
Yup, all set to be closed out.

[2017-03-07 17:28] #267 closed

[2017-03-07 19:36] shea256 commented on #274
I think this should have been taken care of. @larrysalibra please confirm.

[2017-03-07 19:53] guylepage3 opened #292 "second home button appearing on edit profile view"
Remove second home button that appears on the edit profile view

<img width="229" alt="screenshot 2017-03-07 14 51 27" src="https://cloud.githubusercontent.com/assets/1711854/23674965/bdb6e4ca-0345-11e7-9776-1b293b26c447.png">

[2017-03-07 20:10] guylepage3 commented on #202
complete

[2017-03-07 20:10] #202 closed

[2017-03-07 20:35] guylepage3 opened #293 "975px width breakage on the profiles list view"
There is a 975px width breakage that occurs on all views. I am assuming this may actually be a b3 vs b4 bug

<img width="1026" alt="screenshot 2017-03-07 15 32 39" src="https://cloud.githubusercontent.com/assets/1711854/23676744/b030822e-034b-11e7-8e21-e37f4bbf5b2d.png">

[2017-03-07 20:55] guylepage3 commented on #293
Temporarily resolved.

This is a major issue that needs to be resolved with blockstack portal. the best way to resolve this issue would be to upgrade the `blockstack-bootstrap`.

[2017-03-07 20:55] #293 closed

[2017-03-07 21:14] guylepage3 commented on #292
best way to resolve this issue is to make the **home button** it's own component

[2017-03-07 22:46] guylepage3 commented on #292
compete

[2017-03-07 22:47] guylepage3 commented on #273
complete

[2017-03-07 22:47] #273 closed

[2017-03-07 22:50] guylepage3 opened #294 "create new edit profile header component"
Create a new `EditProfileHeader` component as the update from https://github.com/blockstack/blockstack-portal/issues/273 is breaking `PageHeader` that is applied to the Wallet and Settings App

[2017-03-07 23:08] guylepage3 commented on #294
complete

[2017-03-07 23:08] #294 closed

[2017-03-08 12:51] larrysalibra commented on #249
@shea256 are you working on this? (i see you moved it into doing, but it's still assigned to me)

[2017-03-08 12:53] larrysalibra opened #295 "Add menu options to macOS app to go directly to Profiles, Wallet & Account."

[2017-03-08 13:35] larrysalibra commented on #295
<img width="177" alt="screen shot 2017-03-08 at 9 30 43 pm" src="https://cloud.githubusercontent.com/assets/597182/23705933/fcec40f2-0446-11e7-9cf6-034cbb22d1d1.png">
<img width="285" alt="screen shot 2017-03-08 at 9 30 55 pm" src="https://cloud.githubusercontent.com/assets/597182/23705935/fe69c09e-0446-11e7-9e68-7c5b5dcf5272.png">

Let me know what you think of the naming in these menus ^^ @shea2

[2017-03-08 13:35] #295 closed

[2017-03-08 14:32] shea256 commented on #249
@larrysalibra no that was not intentional.

[2017-03-08 15:08] larrysalibra opened #296 "Move macOS virtualenv core build script to core repo"
@muneeb-ali and I discussed moving the macOS build script for core to: https://github.com/blockstack/blockstack-core/tree/master/images/scripts

Let's also see if we can use @jcnelson 's script: https://github.com/blockstack/blockstack-core/blob/master/get_started.sh with some slight changes.

[2017-03-08 15:15] guylepage3 commented on #295
@larrysalibra what's the difference between the two menus?

[2017-03-08 15:16] shea256 commented on #295
@guylepage3 The second one is shown when you hold down the option key and then click on the menu tray item.

[2017-03-08 15:17] shea256 commented on #295
And @larrysalibra nice work! Really liking these quick links.

[2017-03-08 15:19] guylepage3 commented on #295
How does the user know to do that?

[2017-03-08 15:39] shea256 opened #297 "add a storage app to the dashboard"
@guylepage3 @larrysalibra We discussed pulling out the storage management operations into a separate storage app.

Think we should go forward on this?

[2017-03-08 15:42] shea256 opened #298 "add an indicator that alternative storage options are coming soon"
@guylepage3 @larrysalibra

I was thinking during the demo of the portal yesterday that it was a bit problematic that we only have Dropbox as a storage option. It does not convey that Blockstack is "storage agnostic."

That said, I don't feel it's the best use of our time right now to add Google Drive, Amazon Cloud Drive, or Microsoft One Drive. We should save this for a future sprint.

However, we

[2017-03-08 15:44] guylepage3 commented on #298
I like it. we should also say "coming soon..." though so that users are aware this is just a tease.

[2017-03-08 15:46] shea256 commented on #298
Coming soon over the top of the button? Or to the side?

These buttons would need to go in the second page of the welcome modal and in the storage settings section.

This directly relates to #297.

[2017-03-08 15:47] guylepage3 commented on #297
I definitely feel that in pulling storage out we will better communicate to users that storage is something that we have solved and therefore feel it's quite important.

[2017-03-08 15:48] guylepage3 commented on #298
directly above the button separating the greyed out buttons from the dropbox button

[2017-03-08 15:48] shea256 commented on #297
Awesome, let's add it to v0.5 then.

[2017-03-08 15:55] shea256 commented on #292
@guylepage3 Nice!

Only thing is now the home button now has disappeared from the Account and Wallet apps.

Reopening this issue so we can address this here. Alternatively we can create a separate issue for this.

[2017-03-08 16:31] larrysalibra commented on #297
Yes. Good idea. I'd eventually like to know what's in my storage as well.

[2017-03-08 16:55] guylepage3 commented on #292
Oh. 😖 Let me add that back in..

[2017-03-08 17:39] #277 closed

[2017-03-08 17:43] larrysalibra commented on #295
@guylepage3 That's how menu bar icons on macOS typically work: Try option-clicking the wifi, bluetooth, volume, battery or time machine icons. In each, you'll get advanced options. If you option-click the notification panel menu bar icon you'll toggle macOS's "Do not disturb" setting.

We could add an explanation note to the README in the repository. It's only important for those of us working on

[2017-03-08 19:52] guylepage3 commented on #292
added new home button structure to Profiles, Wallet and Account apps.

[2017-03-08 19:52] #292 closed

[2017-03-08 20:21] guylepage3 commented on #295
Ha! I had no idea about that trick

[2017-03-08 20:33] guylepage3 commented on #282
<img width="1180" alt="screenshot 2017-03-08 15 32 46" src="https://cloud.githubusercontent.com/assets/1711854/23722749/8a4955da-0414-11e7-84da-819badae45c7.png">

[2017-03-08 20:45] shea256 commented on #280
@larrysalibra Can you provide more details on this error? Do you think you can debug this one yourself?

[2017-03-08 20:47] guylepage3 commented on #282
<img width="1208" alt="screenshot 2017-03-08 15 46 51" src="https://cloud.githubusercontent.com/assets/1711854/23723257/798495be-0416-11e7-9e63-bc7cee310a77.png">

[2017-03-08 20:49] shea256 commented on #282
Nice! Although it looks very similar to Apple Wallet.

[2017-03-08 20:53] shea256 commented on #278
@larrysalibra How is this different from #279?

[2017-03-08 21:01] shea256 commented on #288
Writing some notes on this task...

In `profile-utils.js` we should be able to get rid of the following functions and replace them with their equivalents in `blockstack.js`:

- `verifyToken` with `verifyProfileToken`
- `getProfileFromTokens` with `extractProfile`

We can also get rid of `verifyTokenRecord` and just unpack the token records into tokens (`verifyProfileToken(tokenRecords[0].token)`).

[2017-03-08 21:05] shea256 commented on #286
@larrysalibra What do you think we should do for this one?

Do you like the idea of having all Blockstack users sign in as "USERNAME.id" and all existing forum users sign in as "USERNAME.local"?

The second TLD can be something other than "local". Just an example to ensure that we have the ability to merge two username "namespaces".

[2017-03-08 21:08] shea256 commented on #283
It looks like we can get away with signing the requests in the frontend and verifying the responses in the backend.

Here's the auth library we have in JS:

https://github.com/blockstack/blockstack-js/tree/master/src/auth

[2017-03-08 21:24] guylepage3 commented on #282
yeah..

[2017-03-08 21:36] pstan26 commented on #282
What if it had a little opening on the front where a "debit card" would live?

![screen shot 2017-03-08 at 4 33 15 pm](https://cloud.githubusercontent.com/assets/5605552/23725082/2ea42cb0-041d-11e7-9447-7b45bcc25672.png)

[2017-03-08 22:09] shea256 commented on #287
This is done. Closing.

[2017-03-08 22:09] #287 closed

[2017-03-08 22:10] shea256 commented on #161
@larrysalibra Good call. I like the idea of starting very small in terms of the amount of test coverage for this sprint. For next sprint we can start expanding on the coverage.

[2017-03-08 22:12] shea256 commented on #229
This sounds like a nice to have and not strictly necessary for this sprint.

We have a lot on our plate and this will take 2 hours.

Thoughts on whether we should keep this or defer it?

[2017-03-08 22:15] shea256 commented on #274
I just tested this and it has been addressed. Closing this issue.

[2017-03-08 22:15] #274 closed

[2017-03-08 22:35] guylepage3 commented on #282
<img width="1298" alt="screenshot 2017-03-08 17 35 35" src="https://cloud.githubusercontent.com/assets/1711854/23727344/a82f88ba-0425-11e7-96d9-fe6f1345d92f.png">

[2017-03-08 22:42] guylepage3 commented on #282
<img width="1010" alt="screenshot 2017-03-08 17 42 27" src="https://cloud.githubusercontent.com/assets/1711854/23727580/9e6f485a-0426-11e7-8587-f9f9755a1bb1.png">

[2017-03-08 22:44] shea256 commented on #282
Nice! These are looking really good.

[2017-03-08 22:45] shea256 commented on #297
@larrysalibra I'm assigning this one to you. We can make an enclosing app object just like the ones for the Profiles app and the Wallet app.

[2017-03-08 22:54] guylepage3 commented on #282
<img width="1008" alt="screenshot 2017-03-08 17 54 14" src="https://cloud.githubusercontent.com/assets/1711854/23727965/4344adba-0428-11e7-9c71-35baae774e40.png">

[2017-03-08 22:59] guylepage3 commented on #282
<img width="1001" alt="screenshot 2017-03-08 17 59 31" src="https://cloud.githubusercontent.com/assets/1711854/23728093/ff4e5eb6-0428-11e7-8d43-aeb945bc89b2.png">

[2017-03-08 23:37] guylepage3 commented on #282
<img width="989" alt="screenshot 2017-03-08 18 37 30" src="https://cloud.githubusercontent.com/assets/1711854/23729161/5093f5d8-042e-11e7-87f8-88295efcdb3a.png">

[2017-03-08 23:39] guylepage3 commented on #282
going with the last one above. flat design.

[2017-03-09 07:29] larrysalibra commented on #229
Let's push it to the next sprint. It will go nicely with adding update capability to the macOS app (#284). Our user story could be something like "User should be able to easily update Blockstack"

[2017-03-09 07:47] larrysalibra commented on #279
As part of this task, we'll need to:

1) generate an API secret
2) store the API secret in the user's macOS Keychain
3) pass the API secret to portal

Options for passing the API secret to Portal:
* Via the URL (and then storing it in localStorage). The downside to this is that users will not easily be able to use the Portal in their non-default browser. This would also make it challenging when de

[2017-03-09 07:48] larrysalibra commented on #278
@shea256 #279 is updating the Core code that is distributed with the macOS app. I added [notes on that task](https://github.com/blockstack/blockstack-portal/issues/279#issuecomment-285278941).

This task is refactoring the portal api calls so that they work with 0.14.1. We'll need to change all calls to Core to send the API secret. I believe the ability to do unauthenticated calls to the Core API

[2017-03-09 07:49] larrysalibra commented on #283
Great

[2017-03-09 07:52] larrysalibra commented on #280
I'll try it in development mode and see if there's a more useful stack trace.

[2017-03-09 07:54] larrysalibra commented on #280
@shea256 can you update hello blockstack to use `blockstack://`? Right now `localhost:8888` is hardcoded.

[2017-03-09 07:58] larrysalibra commented on #282
FWIW, I like the purple one. The last one looks like a file manager icon instead of a wallet icon to me.

<img width="307" alt="screen shot 2017-03-09 at 3 57 43 pm" src="https://cloud.githubusercontent.com/assets/597182/23741001/2f430c80-04e1-11e7-9069-a8b20f114298.png">

[2017-03-09 09:27] larrysalibra commented on #276
Added support for ES256X to ruby-jwt: https://github.com/larrysalibra/ruby-jwt/tree/add-secp256k1-support

[2017-03-09 15:03] shea256 commented on #276
@larrysalibra why don't we split the `ruby-jwt` update into a separate task and then close that one?

[2017-03-09 15:04] shea256 commented on #276
And we can reference it like we reference #286, #285 and #283 above.

[2017-03-09 15:27] Skorpion7777 opened #299 "npm run dev Issue"
**System:** plain Virtual Box Ubuntu installation. With Ubuntu 16.04.2 LTS
Shure I've installed all necessary packages (newest release): git, pip, npm, virtualenv, node.js

After that I've followed @larrysalibra instructions:

[code]

That worked fine and after that`blockstack setup` and `blockstack api start` also worked fine. And localhost showed some Infos and no Error. So Step 1 was completed.

[2017-03-09 15:45] shea256 commented on #299
@Skorpion7777 Can you try upgrading to node 6 or node 7?

[2017-03-09 15:45] guylepage3 opened #300 "design storage app icon"
Design a new storage app icon for the home screen

[2017-03-09 15:47] shea256 opened #301 "create a quick sign up page for users that don't have a Blockstack account"

[2017-03-09 15:53] shea256 commented on #280
@larrysalibra Right now it uses the protocol handler by default and falls back to localhost:8888 if a handler wasn't set:

[code]

[2017-03-09 15:56] Skorpion7777 commented on #299
@shea256  I've now upgraded to node v7.7.2 but I'm still receiving the same errror when using `npm run dev` in ~/blockstack-browser

[2017-03-09 15:59] shea256 commented on #299
OK can you please try the following:

1. Switch to node 6
1. Switch to npm 4
1. Make sure you've run `npm install`
1. Run `npm run dev-ui` in one console tab
1. Run `npm run dev-proxy` in another console tab

[2017-03-09 16:02] shea256 commented on #278
OK great thanks for the clarification.

[2017-03-09 16:03] shea256 commented on #279
Is this process as simple as can be? Or are there things we can do to simplify the integration with Core?

[2017-03-09 16:05] shea256 commented on #279
`localStorage` would be great to avoid if possible.

Can we have the bundler generate it and store it in the proxy server, and then route API requests through that?

[2017-03-09 16:06] shea256 commented on #229
Sounds great. Let's actually mark it as "backlog" for now so that 0.6 is pristine and then we can add tasks from scratch on the 20th.

[2017-03-09 16:19] guylepage3 opened #302 "design new storage app"
Live design a new storage app based upon issue https://github.com/blockstack/blockstack-portal/issues/297

[2017-03-09 16:23] guylepage3 commented on #297
@larrysalibra can you work on this today and I will follow up with a quick and dirty live design on this at the end of the day? I am currently working on the new icon for this app.

[2017-03-09 17:09] larrysalibra commented on #297
Sure. @guylepage3 I'll work on it in a few minutes.

[2017-03-09 17:24] guylepage3 commented on #300
@shea256 @larrysalibra thoughts on direction for the app icon. Here are the directions that i was thinking we could go;
1. Hard drive
1. Server
1. Device
1. Vault
1. Safe
1. Lock

Please let me know which you guys are thinking is more representational of the app. :D

[2017-03-09 18:40] larrysalibra commented on #300
Vault or safe conveys more the benefits of Blockstack storage compared to centralized solutions. Both of those are containers that can store information securely.

[2017-03-09 18:41] larrysalibra commented on #297
@shea256 @guylepage3 besides connect to dropbox & coming soon buttons for other storage providers, what else should be in the storage app in this sprint?

[2017-03-09 18:41] shea256 commented on #300
I like vault and safe, as long as there's a little spin that indicates it's for data.

[2017-03-09 18:43] shea256 commented on #297
That's all I can think of for now. Let's make it really simple.

[2017-03-09 18:43] guylepage3 commented on #300
There probably won't be for a quick and dirty icon that first and foremost has to look good.

[2017-03-09 18:43] shea256 commented on #300
OK that's fine then for now.

[2017-03-09 18:59] shea256 opened #304 "create a download page for the portal"
This relates to this issue on blockstack.org: https://github.com/blockstack/blockstack.org/issues/236

[2017-03-09 19:00] #304 closed

[2017-03-09 19:20] muneeb-ali opened #305 "Core Wallet password not being generated"
I've trying to install the v0.4 release and getting following error:

[code]

I'm on mac OS 10.12.3.

[2017-03-09 19:31] larrysalibra commented on #305
Thanks for the report @muneeb-ali. I was able to reproduce the problem.

It happens in this version when you haven't run a previous version.  Users that have run a previous version already have a core wallet password entry in their keychain.

It looks like I introduced a bug in the keychain entry checking code when I rewrote the app in Swift. The keychain services api is Objective-C and I'm probab

[2017-03-09 19:53] shea256 opened #306 "capture the user's email when they set up an account"

[2017-03-09 20:13] larrysalibra commented on #297
<img width="1123" alt="screen shot 2017-03-10 at 4 05 46 am" src="https://cloud.githubusercontent.com/assets/597182/23768422/e0ef2170-0546-11e7-9f69-47f6e24ed363.png">
<img width="532" alt="screen shot 2017-03-10 at 4 12 34 am" src="https://cloud.githubusercontent.com/assets/597182/23768703/d5600d0a-0547-11e7-9c6d-2b2f543c39bb.png">

Complete ^^

[2017-03-09 20:20] larrysalibra commented on #297
@guylepage3 you should be good to go. let me know if you find any problems.

I put a temporary icon in pending completion of #300.

Now that most users won't need to touch the API settings page (since it used to have connect to dropbox), I demoted it in the Account app:

<img width="604" alt="screen shot 2017-03-10 at 4 18 02 am" src="https://cloud.githubusercontent.com/assets/597182/23768978/c0af

[2017-03-09 20:22] guylepage3 commented on #282
<img width="1089" alt="screenshot 2017-03-09 15 22 10" src="https://cloud.githubusercontent.com/assets/1711854/23769103/3ca5559a-04dc-11e7-9259-cfca8b6208d0.png">

[2017-03-09 20:23] larrysalibra commented on #297
I was thinking we should add a 1-2 sentence description to the Storage app page explaining to users why they would want to connect/disconnect their cloud storage provider and what it will be used for. Thoughts? @shea256 @guylepage3

[2017-03-09 20:35] guylepage3 commented on #282
<img width="967" alt="screenshot 2017-03-09 15 35 43" src="https://cloud.githubusercontent.com/assets/1711854/23769640/12bb615a-04de-11e7-9d04-fa38baab6e54.png">

[2017-03-09 20:40] larrysalibra commented on #297
I'm going with "Your profile and app data will be securely stored in the storage providers you connect." for now. We can improve on this.

[2017-03-09 20:40] #297 closed

[2017-03-09 20:42] larrysalibra opened #307 "Refactor storage code so that it isn't in react components"
Our connect to dropbox code is duplicated in both the welcome modal and storage providers page. Let's refactor this so it exists in one place.

[2017-03-10 04:19] pietrorea commented on #305
@muneeb-ali also seeing this problem. I watched your TED talk and downloaded the browser. I'm seeing the same console message.

[2017-03-10 04:33] pietrorea commented on #305
@larrysalibra the keychain APIs are in C so calling from Swift is really clunky. I've used wrappers like https://github.com/Cocoanetics/DTKeychain before to simplify

[2017-03-10 09:36] larrysalibra commented on #305
Thank you @pietrorea - that's a great suggestion.  I'm glad I'm not the only one to find using the keychain APIs in Swift very clunky. I'll keep the library you mentioned in mind for future projects!

It turns out the problem was even more basic: I was calling the function to check if the password exists when it wasn't found instead of the function to create and store a new password resulting in a

[2017-03-10 09:36] #305 closed

[2017-03-10 10:12] larrysalibra opened #309 "macOS: multi user system support"
The macOS app doesn't work properly on systems where there are multiple user accounts that use Blockstack.

[2017-03-10 13:47] larrysalibra opened #310 "Add ES256K support to ruby-jwt"
Add support for ES256K to ruby-jwt.

[2017-03-10 13:48] larrysalibra commented on #310
Complete: https://github.com/larrysalibra/ruby-jwt/tree/add-secp256k1-support

[2017-03-10 13:48] #310 closed

[2017-03-10 13:49] larrysalibra commented on #276
@shea256 good idea -> https://github.com/blockstack/blockstack-portal/issues/310

[2017-03-10 14:18] Skorpion7777 commented on #299
**Update:** since I'had issues with npm, nodejs install, reinstall etc. so everything got messed up and I stopped and opend a new maschine. Same thing. Step 1 as written above everything fine and localhost shows:

Now my commands for step 2 (right order):
`git clone https://github.com/blockstack/blockstack-browser.git`
`curl -sL https://deb.nodesource.com/setup_6.x -o nodesource_setup.sh`
`vim nod

[2017-03-10 14:31] larrysalibra commented on #299
@Skorpion7777 Thanks so much for the very detailed response and giving it another go!

You'll need to make sure that your Blockstack Core API endpoint is running at the location the Portal expects. By default this *should* be localhost:6270. You can check the Portal API settings in the Account app and also check the network requests box of the developers tools to see where requests are going and i

[2017-03-10 15:46] Skorpion7777 commented on #299
@larrysalibra I've checked my `blockstack setup` window (I still had it opened) and everything was set to default. So the api_endpoint is 6270.
When I go to localhost:6270 I only get a blank page. The firefox dev Tool shows: 404 Not Found. Thats the Request Headers:

When I check with the dev tool at the name registration I get 2 Errors 404:

first at (GET) (...).id    localhost:6270   json with:

[2017-03-10 16:06] larrysalibra commented on #299
@Skorpion7777 Have you sent money to your bitcoin wallet? (In the wallet app) You might be running into a bug that exists in that version of core where the API end point crashes if your bitcoin wallet has no bitcoin. This is fixed in the most recent version of core, however we haven't yet ported Portal over to the updated API.

See if you can browse profiles:

Go to Profiles and enter `ryan.id` (o

[2017-03-10 16:24] Skorpion7777 commented on #299
@larrysalibra no it's a completly new wallet, so no Bitcoins. You've been right. I can see Ryans Profile. If you think putting some satoshis into the account will solve the problem I'll do so on monday. Thanks for the Dropbox warning, I fixed it! I can send you the api_endpoint.log via a PM in slack if you're interested. but for today I'm pretty much done. As I said if you think some BTC could sol

[2017-03-10 16:50] larrysalibra commented on #299
@Skorpion7777 I think @muneeb-ali and another community member may be working docker images for Blockstack Core.

On macOS, we've created a native app that bundles Core and Portal together so that users don't have to go through this hassle. I'd love to start a discussion about the best way to distribute Blockstack (Portal + Core) on Linux for end users. I just started a thread on the forum to disc

[2017-03-10 20:06] larrysalibra opened #311 "macOS: update protocol handler parsing"
App currently expects `blockstack://<auth request>`, change to `blockstack:<auth request>`

[2017-03-13 22:04] muneeb-ali opened #312 "Getting portal to work with existing Blockstack installations"
Feedback from Skorpion7777 on the forum:

We're focused on the macOS built right now but should start testing for this soon.

[2017-03-14 12:08] larrysalibra opened #313 "Update Portal to pass username on app login"
Update Portal to use `blockstack.js` `v0.2.12` or higher and pass the user identity's fully qualified name to `makeAuthResponse`

[2017-03-14 12:22] larrysalibra commented on #285
This is almost complete:

As of now we can:

* Generate a Blockstack Auth request
* Redirect the user to Blockstack Portal
* Verify the Blockstack Auth response & signature
* Receive claimed username

We still have to:

Verify the claimed username is owned by the address

[2017-03-14 13:12] larrysalibra commented on #285
Can now verify claimed username is owned by address: https://github.com/blockstack/omniauth-blockstack/commit/db62d368c3681c938898a1da9f2373c68a74ccfe

[2017-03-14 13:22] shea256 commented on #285
Hell yeah!

[2017-03-14 13:58] larrysalibra commented on #285
We now verify the claimed username is owned by the address: https://github.com/blockstack/omniauth-blockstack/commit/db62d368c3681c938898a1da9f2373c68a74ccfe

[2017-03-14 19:59] larrysalibra opened #314 "Authentication only works on user's default browser"
An issue with our use of protocol handlers is that blockstack authentication only works in your default browser. This is because we send all `blockstack:` requests to the portal running in your default browser. If your default browser is Safari and you try to log in with Blockstack in Chrome, the authentication response will be sent to Safari.

# Possible solution:

We could direct requests from a

[2017-03-14 20:05] larrysalibra commented on #314
Tagging @shea256 on this.

[2017-03-14 20:19] #285 closed

[2017-03-14 20:20] shea256 commented on #314
I'm not yet convinced that this is a problem. Usually protocol handlers have a single handler in a single browser and that's by design. You can't get a "mailto:" link or a "bitcoin:" link to go to different applications.

Different browsers have different local storages and thus you can't share your Blockstack user account across browsers as of yet. We could fix this of course but as currently des

[2017-03-14 20:20] larrysalibra commented on #291
@shea256 completed this! Thank you! Closing.

[2017-03-14 20:20] #291 closed

[2017-03-14 20:23] larrysalibra opened #315 "Create a blockstack ruby gem to verify authentication responses"

[2017-03-14 20:24] larrysalibra commented on #315
Completed here: http://github.com/blockstack/blockstack-ruby

[2017-03-14 20:24] #315 closed

[2017-03-15 15:04] larrysalibra commented on #314
Usually protocol handlers work the same across your operating system. If you register "mailto:" to open Thunderbird, you can send mail in Thunderbird by clicking a "mailto:" link in any browser, app or even by running `$ open mailto:satoshi@example.com` in a terminal.  If my default browser is Safari, and I come across a log in with Facebook button in Chrome, I can easily log in to Facebook on Chr

[2017-03-15 15:09] larrysalibra commented on #311
Completed in these commits:  https://github.com/blockstack/blockstack-portal/commit/6cb704c373b6b0cf661c1b8bc611f6420652f88a https://github.com/blockstack/blockstack-portal/commit/d01f1a951d448be4a8236ecb825cdf36bfbacb5d

[2017-03-15 15:09] #311 closed

[2017-03-15 19:05] larrysalibra opened #316 "Handling port conflicts"
Blockstack uses a number of ports and conflicts are going to happen.

Pietrorea on twitter points out that Portal's port `8888` conflicts with charles proxy: https://twitter.com/pietrorea/status/841770893714067457

Port conflicts also happen when more than one user on a machine uses blockstack (#309).

We need to have a discussion about how to handle port conflicts.

[2017-03-15 20:03] shea256 commented on #316
Can we just start at 8888 and increment if there's a conflict?

[2017-03-16 12:56] guylepage3 commented on #282
Thought about this a bit more and feel that our icon set needs to be more consistent with one another. Reopening this issue

[2017-03-16 13:03] larrysalibra commented on #313
This is done. Closing.

[2017-03-16 13:03] #313 closed

[2017-03-16 13:40] #301 closed

[2017-03-16 13:41] shea256 opened #317 "upgrade click handler in blockstack auth so it checks for the existence of a protocol handler"
Don't use a timeout.

[2017-03-16 13:48] #298 closed

[2017-03-16 13:58] guylepage3 opened #318 "add home button to storage app"
Add home button to storage app

[2017-03-16 14:23] pstan26 commented on #282
[image: Inline image 1]
What do you think about conveying a better sense of security on the wallet
with something like a simple bank vault image. (unless we are planning on
creating the "vault" app)

On Thu, Mar 16, 2017 at 8:56 AM, Guy Lepage <notifications@github.com>
wrote:

[2017-03-16 16:16] guylepage3 commented on #282
New wallet icon.

<img width="1022" alt="screenshot 2017-03-16 12 16 06" src="https://cloud.githubusercontent.com/assets/1711854/24006496/5e7b7a30-0a42-11e7-8bb4-d8df297e90c7.png">

[2017-03-16 16:17] shea256 commented on #282
Nice @guylepage3!

[2017-03-16 16:18] guylepage3 commented on #282
adjusted the size slightly..

<img width="970" alt="screenshot 2017-03-16 12 18 06" src="https://cloud.githubusercontent.com/assets/1711854/24006593/a5e783b4-0a42-11e7-8df7-4ad31c7c3025.png">

[2017-03-16 16:24] guylepage3 commented on #282
Final. Final

<img width="983" alt="screenshot 2017-03-16 12 24 00" src="https://cloud.githubusercontent.com/assets/1711854/24006920/744d63cc-0a43-11e7-8f33-fc47c9361690.png">

[2017-03-16 16:24] #282 closed

[2017-03-16 18:28] larrysalibra commented on #283
Done and installed on our forum: https://github.com/larrysalibra/discourse-blockstack

[2017-03-16 18:28] #283 closed

[2017-03-16 19:22] guylepage3 commented on #300
<img width="1023" alt="screenshot 2017-03-16 15 21 48" src="https://cloud.githubusercontent.com/assets/1711854/24014697/4cfb3380-0a5c-11e7-9455-73b9cc8b8161.png">

[2017-03-16 19:22] #300 closed

[2017-03-16 19:22] guylepage3 commented on #282
<img width="1023" alt="screenshot 2017-03-16 15 21 48" src="https://cloud.githubusercontent.com/assets/1711854/24014712/5a964412-0a5c-11e7-883f-bc53fcc041bd.png">

[2017-03-16 21:45] pstan26 commented on #282
Looks terrific

[2017-03-16 22:42] vsund commented on #138
The the new release has this problem (still/again?). I pulled from the `master` branch.

[2017-03-16 22:44] guylepage3 commented on #138
@vsund where is this appearing? I am unable to recreate it. Can you provide me with a bit more info? thanks.

[2017-03-16 22:47] guylepage3 opened #319 "resolve home screen app positioning"
Apps are vertically relative positioning on the home screen which is causing a few odd issues when scaling the viewport up and down in size.

[2017-03-16 22:48] guylepage3 commented on #319
Resolved by removing `col-md-3` and applying a percentage value to `margin-top` on the `app-box-wrap` class.

[2017-03-16 22:49] guylepage3 commented on #319
<img width="1610" alt="screenshot 2017-03-16 18 49 11" src="https://cloud.githubusercontent.com/assets/1711854/24021838/466f6988-0a79-11e7-8dea-b9b3832d34f7.png">

[2017-03-16 22:49] #319 closed

[2017-03-16 22:55] vsund commented on #138
http://localhost:3000/profiles/search/asdf123 (for example) throws a `No results found`. I can add a screenshot if you like, but I think it wouldn't add much value :)

[2017-03-17 14:38] guylepage3 opened #320 "resolve flexbox flow orientation on home screen"
There seems to be an issue with the flow of the flexbox orientation on the home screen when an even number of app icons appear.

[2017-03-17 14:38] guylepage3 commented on #320
<img width="838" alt="screenshot 2017-03-17 10 36 17" src="https://cloud.githubusercontent.com/assets/1711854/24047999/dbe5d874-0afd-11e7-9f11-a5c19dec4059.png">

[2017-03-17 14:42] guylepage3 commented on #138
@vsund are you sure you have the latest version of the portal? I am not getting that error. Here's what I am getting..

<img width="1250" alt="screenshot 2017-03-17 10 42 45" src="https://cloud.githubusercontent.com/assets/1711854/24048204/7a1335d2-0afe-11e7-9c88-cca894d1e241.png">

[2017-03-17 15:46] guylepage3 commented on #318
complete

[2017-03-17 15:46] #318 closed

[2017-03-17 16:32] guylepage3 commented on #302
@shea256 @larrysalibra what other future requirements will there be in the storage app?

Here's what I am anticipating for future features/components for the storage app:
- Headline
- Description
- Home button
- 10+ storage choices
- Users can see their data
  - Icon of data type
  - Name of file
  - Modification date
- Users can revoke data
- Users can disconnect from storage provider

Am I missi

[2017-03-17 17:35] guylepage3 commented on #302
Ok. so takeaways from lunch meeting... @jcnelson and @shea256 also had some additional future requirements

- Headline
- Description
- Home button
- 5 storage choices
- Users can see their data
  - Icon of data type
  - Name of file
  - Modification date
- Users can revoke access to all data
- Users can disconnect from storage provider

Additional requirements:
- Users will be able to revoke acces

[2017-03-17 18:18] vsund commented on #138
I'm on the latest revision of `master` (Ryan's commit `f97fd6ff`). I looked at the branch overview page, it seems that `ui-0.4` isn't merged yet, maybe that's the problem?
Which branch do you use / which one is the latest?

[2017-03-17 18:20] shea256 commented on #138
@vsund We're working on branches `v0.5` and `ui-v0.5` right now. Those two haven't been merged yet.

[2017-03-17 18:42] vsund opened #321 "How to get rid of `localhost:3000` in the address bar"
There was a discussion about how to get rid of the `localhost:3000` in the browser address bar in Slack and what to do about the port number.

When mapping `blockstack-portal` to (for example) `127.1.2.3` you can let bind the portal to `127.1.2.3:<port>` and use any port you'd like to use (even port 80 which means no port in browsers). The only thing that could interrupt are programs which bind to

[2017-03-17 19:03] guylepage3 commented on #321
Pinning this conversation to this issue.

https://blockstack.slack.com/archives/C074LC7RC/p1489605053065640

[2017-03-17 19:05] guylepage3 commented on #321
@jcnelson & @shea256 came up with a solution for this as well

[2017-03-17 19:14] vsund commented on #321
I think this should solve https://github.com/blockstack/blockstack-portal/issues/316 too (when binding to an loopback address != `127.0.0.1`).

[2017-03-17 20:32] guylepage3 commented on #272
### Status Bar
The reasoning behind the Blockstack portal status bar is to provide users with an intuitive way to navigate back to their home screen and possibly other useful information.

What we have discovered in building these new decentralized applications was that, if the developer is left with creating their own home screen button they will place it in a consistent position than it's applic

[2017-03-17 20:36] guylepage3 opened #322 "ui build of storage app design"
Build out UI design of the new Storage App seen here — [#302: design new storage app](https://github.com/blockstack/blockstack-portal/issues/302)

[2017-03-17 21:12] guylepage3 commented on #272
Complete.

[2017-03-17 21:12] #272 closed

[2017-03-17 22:20] vsund commented on #138
Ah, then I think it can remain closed ;)

And I just noticed that there's http://localhost:3000/profiles/search/asdf123 and http://localhost:3000/profiles/i/search/asdf123. The first one gives me @guylepage3's view, the second one the old view (the old one is linked in the "Profile" app).

[2017-03-18 00:36] guylepage3 commented on #138
Cool @vsund. Let's keep this one closed. 😄

[2017-03-18 00:37] #138 closed

[2017-03-19 14:37] larrysalibra opened #323 "authResponse redirect url improperly generated"
If the callback url for an authentication request includes existing query parameters, the `authResponse` field isn't properly appended to the callback URL. Our current login simply appends "?authResponse=<token>" resulting in urls like this:

`http://localhost:4000/auth/blockstack/callback?sso=bm9uY2U9OGM4NDcyZDY3OTU2OTczM2FkOTU2MTExZjRlMjFhYWMmcmV0dXJu%0AX3Nzb191cmw9aHR0cCUzQSUyRiUyRmxvY2FsaG9zdC

[2017-03-20 04:08] larrysalibra opened #324 "Add blockstack: protocol handler to Linux"
For Ubuntu, to create a `blockstack:` handler, create the following file:

`/usr/share/applications/blockstack.desktop`

With the following contents:
[code]

We'll need to point the `Exec=` to a script that opens the user's default browser with the Portal's authentication path.

[2017-03-20 04:14] larrysalibra opened #325 "Add blockstack: protocol handler to Windows"
Implementation notes:

https://msdn.microsoft.com/en-us/library/aa767914(v=vs.85).aspx

[2017-03-20 04:28] jcnelson commented on #324
You can find the default browser with `xdg-mime query default text/html`.  This can be fed into the `Exec=` string.  You can use a `.desktop` launcher like `gtk-launch`, or you can grab the command directly from the `.desktop` file with the following:

[code]

[2017-03-20 05:06] shea256 opened #326 "create a "hello, blockstack" app generator"

[2017-03-20 05:07] #326 closed

[2017-03-20 05:11] shea256 commented on #219
This is an ongoing task that can be closed once we confirm that the data authorization specs have been nailed down. @jcnelson and I will sync up on this upon syncing up on the "Hello Blockstack for the Nth Time" app.

[2017-03-20 05:12] shea256 commented on #289
@jcnelson has been covering this issue

[2017-03-20 06:31] larrysalibra commented on #286
https://github.com/larrysalibra/discourse-blockstack/commit/f4e9af076d29bf882da0548be8855b120d2d0bf5

[2017-03-20 09:57] larrysalibra commented on #323
@shea256 modified `blockstack.js` so that the redirect is handled properly. closing

[2017-03-20 09:57] #323 closed

[2017-03-20 12:02] larrysalibra commented on #276
<img width="739" alt="screen shot 2017-03-20 at 7 48 58 pm" src="https://cloud.githubusercontent.com/assets/597182/24098947/ecc1a52c-0da7-11e7-90b6-0436db8e90ef.png">

[2017-03-20 12:02] #276 closed

[2017-03-20 12:15] vsund opened #327 "Add a self-hosted alternative for storage providers"
Would be cool to have a self-hosted alternative for adding storage for not being dependent on the few big cloud companies.

Rel: https://github.com/blockstack/storage-drivers/issues/68

[2017-03-20 12:20] larrysalibra commented on #327
I agree this is very important and consistent with our vision/mission.

[2017-03-20 13:14] shea256 commented on #323
@larrysalibra I also addressed this issue here: https://github.com/blockstack/blockstack-portal/commit/c8212b65da635dfee8ba8f43a7741a9f2a530f68#diff-c7542e5ed21d2c42c51d984d4f4dbf5cR60

[2017-03-20 15:23] shea256 commented on #250
Completed

[2017-03-20 15:23] #250 closed

[2017-03-20 15:26] shea256 commented on #290
This is dependent on how the integration turns out with "Hello, World for the Nth Time", which @jcnelson is working on.

Removing this from v0.5.

[2017-03-20 16:09] guylepage3 commented on #312
@muneeb-ali I'm labeling this issue `backlog`

[2017-03-20 16:10] guylepage3 commented on #290
adding the `backlog` label to this issue

[2017-03-20 16:13] #286 closed

[2017-03-20 18:30] guylepage3 opened #328 "Release overview (v0.6.0)"
### Highlights

- n/a

#### Tasks
- [ ] https://github.com/blockstack/blockstack-portal/issues/302: design new storage app
- [ ] https://github.com/blockstack/blockstack-portal/issues/322: ui build of storage app design
- [ ] https://github.com/blockstack/blockstack-portal/issues/262: ui build of edit profile pages inside the profiles app
- [ ] https://github.com/blockstack/blockstack-portal/issue

[2017-03-21 00:17] shea256 commented on #280
@larrysalibra Are you still seeing this error? Or is this something we can close out.

[2017-03-21 12:50] larrysalibra opened #329 "macOS: Research different auto update frameworks"
Sparkle: https://sparkle-project.org

[2017-03-21 13:32] shea256 opened #330 "Integrate a BIP44-compliant & multi-device HD keychain system"
Requirements:

* private keys should never leave a device
* users should be able to define the quorum of devices required to add additional devices or make name transactions
* only the user should know which apps she uses
* name keys should be generated deterministically given the device secret and the name index
* apps should not be able to derive the keys of other apps
* minimize bitcoin transac

[2017-03-21 22:26] guylepage3 commented on #302
![storage-desktop 2x](https://cloud.githubusercontent.com/assets/1711854/24173769/da696150-0e63-11e7-9584-a555954e0f7d.png)

[2017-03-21 22:26] guylepage3 commented on #302
![storage-desktop 2x](https://cloud.githubusercontent.com/assets/1711854/24173788/eda2ffd8-0e63-11e7-9f18-be6f7575bcf4.png)

[2017-03-21 22:28] guylepage3 commented on #302
This one is a bit more generic... Although I like having the storage icon in the sidebar, I feel it made it more of a branded app. Removing the storage icon adds a bit of simplicity to the app.

Thoughts?

![storage-desktop 2x](https://cloud.githubusercontent.com/assets/1711854/24173844/33a97cfa-0e64-11e7-9944-460a761d58f5.png)

[2017-03-21 23:26] guylepage3 commented on #302
closing issue

[2017-03-21 23:26] #302 closed

[2017-03-21 23:29] vsund commented on #329
I don't know how this matches your needs, but might be a look worth while researching:
https://theupdateframework.github.io

[2017-03-22 00:13] larrysalibra commented on #279
Done!

[2017-03-22 00:13] #279 closed

[2017-03-22 00:14] larrysalibra opened #331 "Make build & release for v0.5"

[2017-03-22 00:15] larrysalibra commented on #278
Complete!

[2017-03-22 00:15] #278 closed

[2017-03-22 00:31] larrysalibra opened #333 "npm run dev doesn't parse api password properly"
`npm run dev -- --api_password <secret>` doesn't work (i've temporarily updated our readme to instruct users to run the two processes separately.)

[2017-03-22 13:09] larrysalibra commented on #280
![image uploaded from ios 4](https://cloud.githubusercontent.com/assets/597182/24199230/baebb19e-0f43-11e7-91ff-3df773e1e607.jpg)
I was still getting this problem in our mac bundled version of `v0.5.0`. Upgrading the version of Blockstack.js fixes it.

[2017-03-22 13:44] shea256 commented on #280
Closing this issue.

[2017-03-22 13:44] #280 closed

[2017-03-22 13:53] larrysalibra commented on #331
Done: https://github.com/blockstack/blockstack-portal/releases/tag/v0.5.0 and https://github.com/blockstack/blockstack-portal/releases/tag/v0.5.1

[2017-03-22 13:53] #331 closed

[2017-03-22 16:03] guylepage3 commented on #205
closing issue

[2017-03-22 16:03] #205 closed

[2017-03-22 16:07] guylepage3 opened #334 "v0.7.0 release overview"
### Highlights

- n/a

#### Tasks
- [x] https://github.com/blockstack/blockstack-portal/issues/399: macOS: create a logging server
- [x] https://github.com/blockstack/blockstack-portal/issues/400: Write log4js appender compatible with macOS logging server
- [x] https://github.com/blockstack/blockstack-portal/issues/401: Integrate Portal and macOS logging systems
- [x] https://github.com/blockstack

[2017-03-22 16:35] guylepage3 commented on #328
duplicate to https://github.com/blockstack/blockstack-portal/issues/269

[2017-03-22 16:35] #328 closed

[2017-03-22 17:26] guylepage3 opened #335 "design forum app icon"
Design a new forum.blockstack.org app icon for the home screen

[2017-03-22 17:35] larrysalibra opened #336 "Ship macOS app in a signed DMG image"
We currently use a zip archive. See https://developer.apple.com/library/content/technotes/tn2206/_index.html#//apple_ref/doc/uid/DTS40007919-CH1-TNTAG17

[2017-03-22 19:47] guylepage3 opened #338 "5 second lag upon launching Blockstack"
There seems to be a 5 second lag upon launching Blockstack to the opening of the portal home screen in my default web browser. There is nothing to indicate that the action of Blockstack is opening.

[2017-03-22 19:50] pstan26 opened #339 "Cannot back out of sign in to create profile"
![screen shot 2017-03-22 at 3 42 52 pm](https://cloud.githubusercontent.com/assets/5605552/24217604/cf272e72-0f16-11e7-8a81-26b36b0bd545.png)

I cannot back out of this modal to create a profile (what the modal is telling me to do in order to proceed).

Also copyedit recommendation: instead of "you must have created a profile to login" ∆ it to "Complete your Blockstack profile to login"

@larrysal

[2017-03-22 19:51] pstan26 commented on #339
ps: I can't assign it to anyone since I don't have admin rights over this repo

[2017-03-22 20:12] larrysalibra commented on #338
The easiest short term solution to this is to open the portal home screen immediately after the portal web proxy starts. By the time the user starts using the portal and making core api requests, the api should have started. I just implemented this.

In the long term we can either try to speed up Core start up and/or add a loading screen.

[2017-03-22 20:30] guylepage3 opened #340 "ui build of the staus bar"
Build UI of the `Staus Bar`

Reference:
- [design return to home screen & app home standards](https://github.com/blockstack/blockstack-portal/issues/272)

[2017-03-23 16:08] pstan26 opened #341 "Wallet bitcoin address takes a long time to appear"
![screen shot 2017-03-23 at 12 06 52 pm](https://cloud.githubusercontent.com/assets/5605552/24257445/4c2a86b2-0fc1-11e7-8415-701ff017fb93.png)

cc @larrysalibra @shea256

[2017-03-23 16:16] larrysalibra commented on #341
Can you take a look at your browser's error console and share a screenshot?

Is Core running? (try visiting http://localhost:6270/v1/names/muneeb.id and see if anything loads)

[2017-03-23 16:17] pstan26 commented on #341
![screen shot 2017-03-23 at 12 17 10 pm](https://cloud.githubusercontent.com/assets/5605552/24257950/aada7626-0fc2-11e7-8f47-ec7082199116.png)

[2017-03-23 16:17] pstan26 commented on #341
![screen shot 2017-03-23 at 12 17 32 pm](https://cloud.githubusercontent.com/assets/5605552/24257963/b843850a-0fc2-11e7-8a3e-d0b1f292d26c.png)

[2017-03-23 16:18] larrysalibra commented on #341
Are you using the Mac app? Which version?

[2017-03-23 16:20] pstan26 commented on #341
Yea mac app. v0.5.1 --> will upgrade to v0.5.2 and see if that helps

[2017-03-23 16:20] larrysalibra opened #342 "macOS: Add version number to the option-click menu"

[2017-03-23 16:21] pstan26 commented on #341
Upgraded and it didn't change anything.

[2017-03-23 16:25] larrysalibra commented on #341
Can you quit the app, and run it from the Terminal? It will print out a bunch of logging information. The log information might have some sensitive info..copy it and PM it to me on Slack.

To run it from Terminal (assuming you dragged Blockstack to the Applications folder), run the following:
 `/Applications/Blockstack.app/Contents/MacOS/Blockstack`

[2017-03-23 16:31] pstan26 commented on #341
send you a DM with the file. Wallet works in the terminal only for now.

[2017-03-23 17:22] pstan26 commented on #341
the wallet address opens 10 seconds after i open the page in chrome (too long for me to think it will work before exiting)

[2017-03-23 17:27] larrysalibra commented on #341
@pstan26 Can you load the wallet with the network section of the developer tools open and see how long it takes for the payment address to load? You'll have to hold your mouse pointer over the colored bar that corresponds with payment address request. See my screenshot below for an example:

<img width="1408" alt="screen shot 2017-03-24 at 1 26 14 am" src="https://cloud.githubusercontent.com/asset

[2017-03-23 17:44] pstan26 commented on #341
![screen shot 2017-03-23 at 1 42 23 pm](https://cloud.githubusercontent.com/assets/5605552/24261869/c83ab94a-0fce-11e7-8631-90556483a6be.png)
![screen shot 2017-03-23 at 1 42 46 pm](https://cloud.githubusercontent.com/assets/5605552/24261870/c83abe90-0fce-11e7-8067-e044f0c74cfb.png)

[2017-03-23 17:45] shea256 commented on #341
Looks like 20 seconds on "Waiting (TTFB)".

[2017-03-23 17:47] larrysalibra commented on #341
@pstan26 What's the "VM270" script that's initiating the request? On mine it is `fetch` handling the request. Can you try disabling your Chrome extensions?

[2017-03-23 17:53] shea256 commented on #341
I get:

[code]

[2017-03-23 17:54] larrysalibra commented on #341
@shea256 is your Core running?

[2017-03-23 17:54] pstan26 commented on #341
turned off all extensions and it is still taking forever

![screen shot 2017-03-23 at 1 53 32 pm](https://cloud.githubusercontent.com/assets/5605552/24262368/2d028c12-0fd0-11e7-98bb-c3259887dfdf.png)

[2017-03-23 17:58] shea256 commented on #341
I just downloaded 0.5.2 and started that app. Looks like Core wasn't running before.

Here are my stats:

![screen shot 2017-03-23 at 1 57 19 pm](https://cloud.githubusercontent.com/assets/994646/24262535/b48a25a0-0fd0-11e7-90bc-7453dd91c67c.png)

As you can see, it takes 20 seconds, just like it does with Patrick.

[2017-03-23 18:05] shea256 commented on #317
@larrysalibra This has been fixed. Please try it out by upgrading `blockstack.js`.

@jcnelson You might want to try this too. Saw you were running into this problem when you were working on the app.

[2017-03-23 18:05] #317 closed

[2017-03-23 18:14] larrysalibra commented on #341
@shea256 @pstan26 Below are instructions to test the speed of payment address look up directly from Core bypassing the Portal. The idea is to see if it's only slow loading the address from the Portal or if it's also slow loading the address outside of Core. The objective of this exercise is to determine if our issue is in the Portal or in Core.

1. Open Terminal
1. Create a new file, `curl-format.

[2017-03-23 18:22] shea256 commented on #341
Never mind, there is an authorization header shown in the first case.

[2017-03-23 18:25] shea256 commented on #341
Here are the headers...

### Request 1:

![screen shot 2017-03-23 at 2 22 18 pm](https://cloud.githubusercontent.com/assets/994646/24263781/997b1cac-0fd4-11e7-88e7-5c223a94c169.png)

### Request 2:

![screen shot 2017-03-23 at 2 23 48 pm](https://cloud.githubusercontent.com/assets/994646/24263727/66c086b2-0fd4-11e7-986f-aa03ff1a8a79.png)

[2017-03-23 18:31] larrysalibra commented on #341
Thanks guys. This might be related to still having fetches in the React components. They're scheduled to be moved out in this sprint (https://github.com/blockstack/blockstack-portal/issues/249). Let's see if this issue still exists after that.

[2017-03-23 18:35] pstan26 commented on #341
Ok @larrysalibra , do you have a rough ETA on when that would be? (by end of next week?) Would be good to resolve by the time we would publish a blogpost on signing into the forum.

[2017-03-23 18:37] larrysalibra commented on #341
@pstan26 I can work on it first thing tomorrow. It won't take long to make the changes. I'll have a new build for you tomorrow morning NYC time to try. I can't replicate the problem on my side, so I'll need you and @shea256 to see if the changes resolve the issue.

[2017-03-23 18:39] pstan26 commented on #341
Happy to! thank you for the sense of urgency re: this -- our readers will be delighted

[2017-03-23 19:01] pstan26 commented on #339
Can someone claim this? Can't assign.  @shea256 @larrysalibra

[2017-03-23 19:07] pstan26 opened #343 "Redirect new users to the wallet to add funds prior to registering"
Right now it is unclear that I can't just register a Blockstack ID for free. We need to:

- [ ] display the needed balance to register a name
- [ ] direct people to their wallet through text or a button
- [ ] change the word "username" to Blockstack ID

![screen shot 2017-03-23 at 3 01 59 pm](https://cloud.githubusercontent.com/assets/5605552/24265400/cfce41e4-0fd9-11e7-8d19-e3528811e840.png)

[2017-03-23 19:08] pstan26 commented on #343
need access to this repo, otherwise @shea256 or @larrysalibra must assigne themselves. We need this fixed before the blogpost goes out.

[2017-03-23 19:11] larrysalibra commented on #343
We have an outstanding issue for this: https://github.com/blockstack/blockstack-portal/issues/232

It isn't trivial. @shea256 @guylepage3 and I discussed it and decided it wasn't worth the engineering effort in this sprint.

Something faster we could do is check the user's balance and, if it's zero, display an alert with a link to the wallet saying they'll need to add bitcoin to register a name. T

[2017-03-23 19:16] pstan26 commented on #343
That sounds **much** better than what we have. May I ask, what part of what I mentioned is non-trivial?

Perhaps we could add some static text like "Add $2 of Bitcoin in order to register and once you've submitted your name request do not turn your computer off for 4 hrs (!!!)"

[2017-03-23 19:19] shea256 commented on #341
@larrysalibra @pstan26 This should fix the problem:

https://github.com/blockstack/blockstack-portal/commit/8b601acb039b8a325d4e21babff94c9c27ae3238

[2017-03-23 19:30] guylepage3 opened #344 "status bar documentation"
Originated from the design and ui build of the status bar in these to issues.
- [design return to home screen & app home standards](https://github.com/blockstack/blockstack-portal/issues/272)
- [ui build of the staus bar](https://github.com/blockstack/blockstack-portal/issues/340)

## Status Bar
The reasoning behind the Blockstack portal status bar is to provide users with an intuitive way to navi